*venv*/
*instance/
.idea/
.coverage
migrations/
__pycache__/
logs/
portfolio_tracker/__pycache__/
portfolio_tracker/static/images
portfolio_tracker/static/admin
.env
celerybeat-schedule
dump.rdb
pyrightconfig.json
.pylintrc
messages.pot
test.py
request_streams/
wsgi.py
