{% if not request.args.get('only_content') %}
  {% extends "base.html" %}
{% endif %}

{% block content %}

{% include 'admin/menu.html' %}

<nav class="nav nav-underline">
  <a class="nav-link {{ 'active disabled' if api.name == None }}" href="{{ url_for('.api_page', api_name=None) }}">Все</a>
  <a class="nav-link {{ 'active disabled' if api.name == 'proxy' }}" href="{{ url_for('.api_page', api_name='proxy') }}">Proxy</a>
  <a class="nav-link {{ 'active disabled' if api.name == 'crypto' }}" href="{{ url_for('.api_page', api_name='crypto') }}">Crypto</a>
  <a class="nav-link {{ 'active disabled' if api.name == 'stocks' }}" href="{{ url_for('.api_page', api_name='stocks') }}">Stocks</a>
  <a class="nav-link {{ 'active disabled' if api.name == 'currency' }}" href="{{ url_for('.api_page', api_name='currency') }}">Currency</a>
</nav>

<div class="info-url" data-url="{{ url_for('.api_page_detail', api_name=api.name if api) }}"></div>
<div class="col-12 d-flex gap-5 pe-5 pt-3">

  <div class="col-6 d-flex flex-column gap-5">
    <div class="d-flex flex-column">
      <div class="d-flex">
        <h5>Инфо</h5>
        {% if api.id %}
          <a class="small-text text-decoration-none open-modal ms-3" data-modal-id="ApiSettingsModal"
            data-url="{{ url_for('.api_settings', api_name=api.name) }}">Настройки</a>
        {% endif %}
      </div>
      <div class="info-box small-text"></div>
    </div>

    <div class="d-flex flex-column">
      <h5>События</h5>
      <div class="events-box small-text" data-url="{{ url_for('.api_event_info', api_name=api.name) }}"></div>
    </div>

    {% if api.need_key %}
      <div class="d-flex flex-column">
        <div class="d-flex">
          <h5>Ключи</h5>
          {% if api.need_proxy or (not api.need_proxy and not api.keys) %}
            <a class="small-text text-decoration-none open-modal ms-3" data-modal-id="KeySettingsModal"
              data-url="{{ url_for('.api_key_settings', api_name=api.name) }}">Добавить</a>
          {% endif %}
        </div>
        <div class="small-text">
          {% for key in api.keys %}
            <div class="d-flex gap-3 open-modal" data-modal-id="KeySettingsModal"
              data-url="{{ url_for('.api_key_settings', api_name=api.name, key_id=key.id) }}">
              <span class="text-average">Ключ {{ loop.index if api.keys|length > 1 }}</span>
              <span>*{{ key.api_key[-10:] }}</span>
            </div>
          {% endfor%}
        </div>
      </div>
    {% endif %}

    <div class="d-flex flex-column">
      <h5>Потоки</h5>
      <div class="streams-box small-text"></div>
    </div>

    <div class="d-flex flex-column">
      <h5>Задачи</h5>
      <span class="tasks-box small-text" data-url="{{ url_for('.tasks', filter=api.name) }}"
        data-url-action="{{ url_for('.tasks_action', filter=api.name)}}"
        data-url-settings="{{ url_for('.task_settings', api_name=api.name)}}"></span>
    </div>

  </div>

  <div class="col-6 form-floating">
    <h5>Логи</h5>
    <form action="{{ url_for('.api_logs_delete', api_name=api.name if api.name) }}" method="post" class="d-flex">
      {% for category in log_categories %}
        <div class="form-check form-check-inline log-category">
          <input class="form-check-input" type="radio" name="log_category"
            id="log_{{ category }}" {{ 'checked' if category == 'info' }}
            value="{{ log_categories.index(category) }}">
          <label class="form-check-label" for="flexRadioDefault1">{{ category }}</label>
          <sup class="log-category-{{ log_categories.index(category) }}-count">0</sup>
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-link text-decoration-none ms-auto">Очистить</button>
    </form>

    <div class="form-control overflow-auto logs-box small-text" style="height: 400px"
      data-url="{{ url_for('.api_logs', api_name=api.name) }}"></div>
  </div>


</div>

{% endblock %}

{% block after_scripts %}
<script src="{{ url_for('.static', filename='js/admin_info.js') }}"></script>
<script src="{{ url_for('.static', filename='js/admin_tasks.js') }}"></script>
{% endblock %}
