{% if not request.args.get('only_content') %}
  {% extends "base.html" %}
{% endif %}


{% block content %}
  {% include 'admin/menu.html' %}

  <div class="col-12 d-flex gap-5 pe-5">

    <div class="col-6 d-flex flex-column gap-5">
      <div class="d-flex flex-column">
        <h5>Инфо</h5>
        <span class="small-text">Количество тикеров - 
          <span class="text-average ticker_count"></span>
        </span>

        <span class="small-text">Последнее обновление цен - 
          <span class="text-average price_when_update"></span>
        </span>

      </div>

      <div class="d-flex flex-column">
        <h5>Задачи</h5>
        <span class="tasks-box small-text"></span>
      </div>

    </div>

    <div class="col-6 form-floating">
      <h5>Логи</h5>
      <div class="form-control overflow-auto logs_box" style="height: 400px"></div>
    </div>

  </div>

{% endblock %}

{% block after_scripts %}
<script>
  function UpdateInfo() {
    var request = $.get("{{ url_for('.crypto_detail') }}");

    request.done(function(data) {
      $('.ticker_count').html(data.tickers_count);
      $('.price_when_update').html(data.price_when_update);
    })
  }

  function UpdateLogs(logs) {
    var $box = $('.logs_box'),
      loaded_logs_count = $box.find('.log-item').length,
      url = `{{ url_for('.crypto_logs') }}?loaded_logs_count=${loaded_logs_count}`,
      request = $.get(url);

    request.done(function(logs) {
      for (let i = 0; i < logs.length; i++) {
        var datetime = new Date(logs[i].time).toLocaleString("ru");
        $box.prepend($('<div>', {
          class: 'd-flex small-text log-item',
          html: `<span>${logs[i].text}</span><span class="ms-auto">${datetime}</span>`
        }))
      }
    })
  }

  function UpdateTasks() {
    var $box = $('.tasks-box'),
      request = $.get("{{ url_for('.tasks', filter='crypto') }}");
    $box.empty().append(`<div class="spinner-border spinner-border-sm text-secondary"></div>`);

    request.done(function(tasks) {
      $box.empty();

      // Active task
      var active_task = false;
      for (let i = 0; i < tasks.length; i++) {
        if (tasks[i].task_id) {
          active_task = true;
          break;
        }
      }

      for (let i = 0; i < tasks.length; i++) {
        var link = "";
        if (tasks[i].task_id && active_task) {
          link = `<a class="text-decoration-none ms-3" href="#" data-url="?action=stop&task=${tasks[i].task_id}">Остановить</a>`;
        } else if (!active_task) {
          link = `<a class="text-decoration-none ms-3" href="#" data-url="?action=start&task=${tasks[i].name}">Запустить</a>`;
        }

        $box.append($('<div>', {
          class: '',
          html: `<span>${tasks[i].name}</span><span class="ms-auto">${link}</span>`
        }))
      }
    })
  }

  // Запуск задачи
  $(".tasks-box").on("click", "a", function (event) {
    event.preventDefault();

    $.get(`{{ url_for('.tasks_action') }}${$(this).data('url')}`).done(setTimeout(UpdateTasks, 500))
  })

  UpdateInfo();
  clearTimeout(UpdateInfoTimerId);
  var UpdateInfoTimerId = setInterval(UpdateInfo, 30000);

  UpdateLogs();
  clearTimeout(UpdateLogsTimerId);
  var UpdateLogsTimerId = setInterval(UpdateLogs, 10000);

  UpdateTasks();
</script>
{% endblock %}
