{% set only_content = request.args.get('only_content') %}

{% if not only_content %}
  {% extends "base.html" %}
  {% block title %} Demo user / Admin {% endblock %}
{% endif %}

{% block content %}

{% include 'admin/menu.html' %}

<h3>Демо юзер</h3>

<div>
  <h6>Экспорт</h6>
  <div class="row">
    <div class="col-md-12 mb-3">
      <a class="text-decoration-none" href="{{ url_for('user.export_data', demo_user=True)}}">Скачать</a>
    </div>
  </div>
</div>

<div>
  <h6>Импорт</h6>
  <form method="post" action="{{ url_for('user.import_data_post', demo_user=True) }}" enctype="multipart/form-data">
    <div class="row">
      <div class="col-md-12 mb-3">
        <div class="input-group">
          <input type="file" name="file" class="form-control" aria-label="Upload">
          <button class="btn btn-outline-secondary" type="submit">{% trans %}Импорт{% endtrans %}</button>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}
