{% set only_content = request.args.get('only_content') %}

{% if not only_content %}
  {% extends "base.html" %}
  {% block title %} Demo user / Admin {% endblock %}
{% endif %}

{% block content %}

{% include 'admin/menu.html' %}

<div class="mb-5">
  {% include 'flash_messages.html' %}
</div>


<div class="mb-5 d-grid gap-3">
  <h3>Тикеры</h3>
  <div class="d-flex gap-3">
    <span class="fw-bold">Экспорт</span>
    <a class="text-decoration-none" href="{{ url_for('admin.export_tickers')}}">Скачать</a>
  </div>

    <form class="d-flex gap-3" method="post" action="{{ url_for('user.import_data_post', demo_user=True) }}">
      <span class="fw-bold">Импорт</span>
      <input type="text" class="form-control p-0" name="import"></textarea>
      <button class="btn btn-primary btn-sm" type="submit">{% trans %}Import{% endtrans %}</button>
    </form>
</div>

<div class="mb-5 d-grid gap-3">
  <h3>Демо юзер</h3>
  <div class="d-flex gap-3">
    <span class="fw-bold">Экспорт</span>
    <a class="text-decoration-none" href="{{ url_for('user.export_data', demo_user=True)}}">Скачать</a>
  </div>

    <form class="d-flex gap-3" method="post" action="{{ url_for('user.import_data_post', demo_user=True) }}">
      <span class="fw-bold">Импорт</span>
      <input type="text" class="form-control p-0" name="import"></textarea>
      <button class="btn btn-primary btn-sm" type="submit">{% trans %}Import{% endtrans %}</button>
    </form>
</div>

{% endblock %}
