{% extends "base.html" %}
{% block title %} Home / Admin {% endblock %}
{% block content %}

{% include 'admin/menu.html' %}

<div class="row gap-5">

  <div>
    <div class="mb-3">
      <span class="text-average">Пользователи</span>
    </div>
    <div class="d-flex gap-3">
      <span class="small-text">Пользователи - <span id="UsersCount" class="text-average"></span></span>
      <span class="small-text">Администраторы - <span id="AdminsCount" class="text-average"></span></span>
    </div>
  </div>

  <div>
    <div class="mb-3 d-flex gap-3">
      <span class="text-average">Тикеры</span>
      <div id="TickersTaskBtn"></div>
    </div>
    <div class="d-flex gap-3">
      <span class="small-text">Crypto - 
        <span id="CryptoTickersCount" class="text-average"></span>
        <span id="CryptoTickersTask"></span>
      </span>
      <span class="small-text">Stocks - 
        <span id="StocksTickersCount" class="text-average"></span>
        <span id="StocksTickersTask"></span>
      </span>
    </div>
  </div>

  <div>
    <div class="mb-3 d-flex gap-3">
      <span class="text-average">Обновление цен</span>
      <div id="UpdatePriceTaskBtn"></div>
    </div>
    <div class="d-flex gap-3">
      <span class="small-text">Crypto - 
        <span id="WhenUpdateCrypto" class="text-average"></span>
        <span id="CryptoPriceTask"></span>
      </span>
      <span class="small-text">Stocks - 
        <span id="WhenUpdateStocks" class="text-average"></span>
        <span id="StocksPriceTask"></span>
      </span>
    </div>
  </div>

  <div>
    <div class="mb-3">
      <span class="text-average">Redis</span>
    </div>
    <div class="d-grid">
      <a class="small-text text-decoration-none" href="{{ url_for('.del_tasks') }}">
          Удалить все задачи
      </a>
      <a class="small-text text-decoration-none" href="{{ url_for('.del_price_lists') }}">
          Удалить прайс листы
      </a>
      <a class="small-text text-decoration-none" href="{{ url_for('.del_all') }}">
          Удалить все из Redis
      </a>
    </div>
  </div>
</div>
<script>
// Обновление данных без перезагрузки

  function AdminDetailsUpdate() {
    var url = "{{ url_for('.index_detail') }}";
    var is_off = ['Остановлено', 'Готово', 'PENDING', 'FAILURE']
    var $tickersTaskBtn = $('#TickersTaskBtn'),
      $updatePriceTaskBtn = $('#UpdatePriceTaskBtn');


    var request = $.get(url);
    request.done(function(data) {
      $('#AdminsCount').html(data.admins_count);
      $('#UsersCount').html(data.users_count);
      $('#CryptoTickersCount').html(data.crypto_tickers_count);
      $('#StocksTickersCount').html(data.stocks_tickers_count);

      $('#CryptoTickersTask').html('(' + data.task_crypto_tickers_state + ')');
      $('#StocksTickersTask').html('(' + data.task_stocks_tickers_state + ')');
      $('#WhenUpdateCrypto').html(data.when_update_crypto);
      $('#WhenUpdateStocks').html(data.when_update_stocks);
      $('#CryptoPriceTask').html('(' + data.task_crypto_price_state + ')');
      $('#StocksPriceTask').html('(' + data.task_stocks_price_state + ')');

      if ((data.task_crypto_tickers_id && !is_off.includes(data.task_crypto_tickers_state)) || (data.task_stocks_tickers_id && !is_off.includes(data.task_stocks_tickers_state))) {
        $tickersTaskBtn.html(`<a class="small-text text-decoration-none" href="{{ url_for('.load_tickers_stop') }}">Остановить</a>`);
      }
      else {
        $tickersTaskBtn.html(`<a class="small-text text-decoration-none" href="{{ url_for('.load_tickers_start') }}">Запустить</a>`);
      }

      if ((data.task_crypto_tickers_id && !is_off.includes(data.task_crypto_tickers_state)) || (data.task_stocks_tickers_id && !is_off.includes(data.task_stocks_tickers_state))) {
        $updatePriceTaskBtn.html(`<span class="small-text text-muted">Запустить</a>`);
      }
      else {
          if ((data.task_crypto_price_id && !is_off.includes(data.task_crypto_price_state)) || (data.task_stocks_price_id && !is_off.includes(data.task_stocks_price_state))) {
            $updatePriceTaskBtn.html(`<a class="small-text text-decoration-none" href="{{url_for('.update_prices_stop') }}">Остановить</a>`);
          }
          else {
            $updatePriceTaskBtn.html(`<a class="small-text text-decoration-none" href="{{url_for('.update_prices') }}">Запустить</a>`);
          }
      }

    })

    request.fail(function(data) {
      clearTimeout(adminUpdateTimerId);
    })
  }

  AdminDetailsUpdate();
  clearTimeout(adminUpdateTimerId);
  var adminUpdateTimerId = setInterval(AdminDetailsUpdate, 10000);
</script>
{% endblock %}
