<nav class="nav nav-underline mb-5">
  <a class="nav-link text-muted {{ 'active disabled' if request.path == url_for('.index') }}"
    href="{{ url_for('.index') }}">Главная</a>
  <a class="nav-link text-muted {{ 'active disabled' if request.path == url_for('.api_page', market='crypto') }}"
    href="{{ url_for('.api_page', market='crypto') }}">Crypto</a>
  <a class="nav-link text-muted {{ 'active disabled' if request.path == url_for('.api_page', market='stocks') }}"
    href="{{ url_for('.api_page', market='stocks') }}">Stocks</a>
  <a class="nav-link text-muted {{ 'active disabled' if request.path == url_for('.users_page') }}"
    href="{{ url_for('.users_page') }}">Пользователи</a>
  <a class="nav-link text-muted {{ 'active disabled' if request.path == url_for('.imports') }}"
    href="{{ url_for('.imports') }}">Импорты</a>
  <a class="nav-link text-muted {{ 'active disabled' if request.path == url_for('.tickers_page') }}"
    href="{{ url_for('.tickers_page') }}">Тикеры</a>
  <a class="nav-link text-muted {{ 'active disabled' if request.path == url_for('.active_tasks') }}"
    href="{{ url_for('.active_tasks') }}">Активные задачи</a>
</nav>
