{% if not request.args.get('only_content') %}
  {% extends "base.html" %}
  {% block title %}Админ{% endblock %}
{% endif %}

{% block content %}

{% include 'admin/menu.html' %}

<nav class="nav nav-underline">
  <a class="nav-link {{ 'active disabled' if module == None }}" href="{{ url_for('.module_page', module_name=None) }}">Все</a>
  {% for module_name in module_names %}
    <a class="nav-link {{ 'active disabled' if module.name == module_name }}" href="{{ url_for('.module_page', module_name=module_name) }}">{{ module_name|capitalize }}</a>
  {% endfor %}
</nav>

<div class="info-url" data-url="{{ url_for('.module_page_detail', module_name=module.name if module) }}"></div>
<div class="col-12 d-flex gap-5 pe-5 pt-3">

  <div class="col-6 d-flex flex-column gap-5">
    <div class="d-flex flex-column">
      <div class="d-flex">
        <h5>Инфо</h5>
        {% if module.api and module.api.id %}
          <a class="small-text text-decoration-none open-modal ms-3" data-modal-id="ApiSettingsModal"
            data-url="{{ url_for('.api_settings', api_name=module.api.name) }}">Настройки</a>
        {% endif %}
      </div>
      <div class="info-box small-text"></div>
    </div>

    <div class="d-flex flex-column">
      <h5>События</h5>
      <div class="events-box small-text" data-url="{{ url_for('.module_event_info', module_name=module.name) }}"></div>
    </div>

    {% if module.api and module.api.need_key %}
      <div class="d-flex flex-column">
        <div class="d-flex">
          <h5>Ключи</h5>
          {% if module.api.need_proxy or (not module.api.need_proxy and not module.api.keys) %}
            <a class="small-text text-decoration-none open-modal ms-3" data-modal-id="KeySettingsModal"
              data-url="{{ url_for('.api_key_settings', api_name=module.api.name) }}">Добавить</a>
          {% endif %}
        </div>
        <form id="KeyActionForm" action="{{ url_for('.api_key_action', api_name=module.api.name) }}">
          <table class="small-text w-100">
            {% for key in module.api.keys %}
              <tr>
                <td class="text-average">Ключ {{ loop.index if module.api.keys|length > 1 }}</td>
                <td>*{{ key.api_key[-10:] }}</td>
                <td class="align-middle text-end">
	                <div class="dropdown dropstart">
	                  <a href="#" class="link-secondary" role="button" id="dropdownAction" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ms-2" viewBox="0 0 16 16"><path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/></svg>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownAction">
                      <a class="dropdown-item open-modal" data-modal-id="KeySettingsModal"
                        data-url="{{ url_for('.api_key_settings', api_name=module.api.name, key_id=key.id) }}">Изменить</a>
                        <a class="dropdown-item link-danger open-modal-confirmation"
                            data-title="Удалить ключ?" data-form="#KeyActionForm"
                            data-text="Ключ бедет удален, потоки пересчитаются"
                            data-action="delete" data-id="{{ key.id }}">Удалить</a>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor%}
          </table>
        </form>
      </div>
    {% endif %}

    {% if module.api %}
      <div class="d-flex flex-column">
        <h5>Потоки</h5>
        <form id="StreamActionForm" action="{{ url_for('.api_stream_action') }}">
          <table class="streams-box small-text w-100"
            data-url-settings="{{ url_for('.api_stream_settings') }}"></table>
        </form>
      </div>
    {% endif %}


    <div class="d-flex flex-column">
      <h5>Задачи</h5>
      <span class="tasks-box small-text" data-url="{{ url_for('.tasks', filter=module.name) }}"
        data-url-action="{{ url_for('.tasks_action', filter=module.name)}}"
        data-url-settings="{{ url_for('.task_settings', module_name=module.name if module)}}"></span>
    </div>

  </div>

  <div class="col-6 form-floating">
    <h5>Логи</h5>
    <form action="{{ url_for('.module_logs_delete', module_name=module.name if module) }}" method="post" class="d-flex">
      {% for category in log_categories %}
        <div class="form-check form-check-inline log-category">
          <input class="form-check-input" type="radio" name="log_category"
            id="log_{{ category }}" {{ 'checked' if category == 'info' }}
            value="{{ log_categories.index(category) }}">
          <label class="form-check-label">{{ category }}</label>
          <sup class="log-category-{{ log_categories.index(category) }}-count">0</sup>
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-link text-decoration-none ms-auto">Очистить</button>
    </form>

    <div class="form-control overflow-auto logs-box small-text" style="height: 400px"
      data-url="{{ url_for('.json_module_logs', module_name=module.name) }}"></div>
  </div>


</div>

{% endblock %}

{% block after_scripts %}
<script src="{{ url_for('.static', filename='js/admin_info.js') }}"></script>
<script src="{{ url_for('.static', filename='js/admin_tasks.js') }}"></script>
{% endblock %}
