{% extends "base.html" %}
{% block title %} Tickers / Admin {% endblock %}
{% block content %}

{% include 'admin/menu.html' %}

<nav class="nav nav-underline">
  <a class="nav-link {{ 'active disabled' if market_id == 'crypto' }}" href="{{ url_for('.tickers', market_id='crypto') }}">Crypto</a>
  <a class="nav-link {{ 'active disabled' if market_id == 'stocks' }}" href="{{ url_for('.tickers', market_id='stocks') }}">Stocks</a>
</nav>

<div class="big-table pt-3 pb-3">
  <table class="table table-sm align-middle table-hover bootstrap-table"
      data-pagination="true" data-search="true"
      data-url="{{ url_for('.tickers_detail', market_id=market_id) }}"
      data-page-size="20">
    <thead>
      <tr>
        <th data-field="id">ID</th>
        <th data-field="symbol" data-sortable="true">Symbol</th>
        <th data-field="name" data-sortable="true">Name</th>
        <th data-field="price" data-sortable="true">Price</th>
        <th data-field="market_cap_rank" data-sortable="true">Market Cap</th>
      </tr>
    </thead>
  </table>
</div>

{% endblock %}
