{% extends "base.html" %}
{% block title %} Tickers / Admin {% endblock %}
{% block content %}

{% include 'admin/menu.html' %}

<div class="big-table pt-3 pb-3">
  <table class="table table-sm align-middle table-hover" id="Table" data-toggle="table"
        data-pagination="true" data-search="true">
    <thead>
      <tr>
        <th>ID</th>
        <th data-sortable="true">Symbol</th>
        <th data-sortable="true">Name</th>
        <th data-sortable="true">Price</th>
        <th data-sortable="true">Market</th>
        <th data-sortable="true">Market Cap</th>
      </tr>
    </thead>
    <tbody>
      {% for ticker in tickers %}
        <tr>
          <td class="text-truncate" style="max-width: 150px;">{{ ticker.id }}</td>
          <td class="text-truncate" style="max-width: 150px;">{{ ticker.symbol }}</td>
          <td class="text-truncate" style="max-width: 150px;">{{ ticker.name }}</td>
          <td class="text-truncate" style="max-width: 150px;">
            {% set price = price_list[ticker.market_id].get(ticker.id) %}
              {% if price %}
              ${{ price|number_group }}
              {% endif %}
          </td>
          <td class="text-truncate" style="max-width: 150px;">{{ ticker.market_id }}</td>
          <td class="text-truncate" style="max-width: 100px;">{{ ticker.market_cap_rank if ticker.market_cap_rank else '' }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
