{% extends "base.html" %}
{% block title %} Users / Admin {% endblock %}
{% block content %}

{% include 'admin/menu.html' %}

<div class="big-table pt-3 pb-3">
    <table class="table table-sm align-middle table-hover" id="Table" data-toggle="table" data-search="true">
        <thead>
            <tr>
                <th scope="col" data-sortable="true">ID</th>
                <th scope="col" data-sortable="true">Email</th>
                <th scope="col" data-sortable="true" title="Администратор">A</th>
                <th scope="col" data-sortable="true">П</th>
                <th scope="col" data-sortable="true">A</th>
                <th scope="col" data-sortable="true">Total</th>
                <th scope="col" data-sortable="true">First visit</th>
                <th scope="col" data-sortable="true">Last visit</th>
                <th scope="col" data-sortable="true">Country</th>
                <th scope="col" data-sortable="true">City</th>
                <th scope="col" class="text-end"></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.type == 'admin' %}<b title="Администратор">A</b>{% endif %}</td>
                <td>{{ user.portfolios|length }}</td>
                <td>{{ user.assets|length }}</td>

                <td>{{ user.info.first_visit }}</td>
                <td>{{ user.info.last_visit }}</td>
                <td>{{ user.info.country }}</td>
                <td>{{ user.info.city }}</td>
                <td>
                    {% if user.type != 'admin' %}
                        <a class="action-icon text-decoration-none" href="{{url_for('.user_to_admin', user_id=user.id)}}" title="Сделать администратором">
                            <i class="bi icon bi-check-square"></i>
                        </a>
                    {% endif %}
                    <a class="action-icon text-decoration-none cursor-pointer" href="{{ url_for('.admin_user_delete', user_id=user.id) }}" title="Удалить">
                        <i class="bi icon bi-trash-fill"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
