{% set only_content = request.args.get('only_content') %}

{% if not only_content %}
  {% extends "base.html" %}
  {% block title %} Users / Admin {% endblock %}
{% endif %}

{% block content %}

{% include 'admin/menu.html' %}

<div class="big-table">
  <form id="UsersForm" action="{{ url_for('.users_action') }}">
    <table class="table table-sm align-middle table-hover bootstrap-table"
      data-pagination="true" data-search="true"
      data-url="{{ url_for('.users_detail') }}"
      data-page-size="20">
      <thead>
        <tr>
          <th data-field="id" class="main-tab-checkbox">
            <input class="form-check-input check-all" type="checkbox">
          </th>
          <th data-field="email" data-sortable="true">Email</th>
          <th data-field="type" data-sortable="true" title="Администратор">A</th>
          <th data-field="portfolios" data-sortable="true">П</th>
          <th data-field="first_visit" data-sortable="true">First visit</th>
          <th data-field="last_visit" data-sortable="true">Last visit</th>
          <th data-field="country" data-sortable="true">Country</th>
          <th data-field="city" data-sortable="true">City</th>
        </tr>
      </thead>
    </table>

    <!-- Actions buttons -->
    <div class="sticky-bottom-buttons">
      <a class="open-modal-confirmation" data-action="make_admin" data-title="Сделать администраторами?">Сделать администраторами</a>
      <a class="open-modal-confirmation" data-action="unmake_admin" data-title="Убрать из администраторов?">Убрать из администраторов</a>
      <a class="open-modal-confirmation" data-action="delete" data-title="Удалить пользователей?">Удалить</a>
    </div>
  </form>
</div>

{% endblock %}
