{% extends "user/base.html" %}
{% block title %}{% trans %}Вход{% endtrans %}{% endblock %}

{% block content %}
<div class="d-flex align-items-center gap-2 mb-3">
  <h1 class="h3 fw-normal">{% trans %}Вход{% endtrans %}</h1>
  <div class="ms-auto d-flex gap-3">
    <a class="text-decoration-none" href="{{ url_for('user.register') }}">{% trans %}Регистрация{% endtrans %}</a>
    <a class="text-decoration-none" href="{{ url_for('user.demo_user') }}">{% trans %}Демо{% endtrans %}</a>
  </div>
</div>

<div class="mb-2">
  <input type="email" class="form-control" placeholder="{% trans %}Email{% endtrans %}" name="email" required>
</div>

<div class="mb-3">
  <input type="password" class="form-control" placeholder="{% trans %}Пароль{% endtrans %}" name="password" required>
</div>

<div class="checkbox mb-3 ms-1 me-1 d-flex justify-content-between">
  <label>
    <input type="checkbox" value="True" name="remember-me" checked>
    {% trans %}Запомнить меня{% endtrans %}
  </label>
</div>

<button class="w-100 btn btn-sm btn-primary" type="submit">{% trans %}Вход{% endtrans %}</button>

{% endblock %}
