{# Jinja #}
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <title>{% trans %}Регистрация{% endtrans %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
  <link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <style>
    form {
      width: 330px;
    }
    body {
      background-color: #f5f5f5;
    }
  </style>
</head>

<body class="d-flex align-items-center">
  <main class="m-auto">
    <form method="post">
      {% with messages = get_flashed_messages(('error', 'info')) %}
        {% if messages %}
          <div class="mb-3">
            {% for message in messages %}
              <div class="alert alert-{{ message[0] }} text-center" role="alert">
                {{ message[1] }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      <a href="{{ url_for('page.index') }}" class="d-flex align-items-center mb-5 justify-content-center link-body-emphasis text-decoration-none">
        <img class="mb-0 me-2" src="{{ url_for('static', filename='favicon.png') }}" alt="" width="32" height="32" />
        <span class="fs-4">Portfolios</span>
      </a>

      <div class="d-flex align-items-center gap-2 mb-3">
        <h1 class="h3 fw-normal">{% trans %}Регистрация{% endtrans %}</h1>
        <div class="ms-auto d-flex gap-3">
          <a class="text-decoration-none" href="{{ url_for('user.login') }}">{% trans %}Вход{% endtrans %}</a>
          <a class="text-decoration-none" href="{{ url_for('user.demo_user') }}">{% trans %}Демо{% endtrans %}</a>
        </div>
      </div>

      <div class="mb-2">
        <input type="email" class="form-control" placeholder="{% trans %}Email{% endtrans %}" name="email" required>
      </div>

      <div class="mb-1">
        <input type="password" class="form-control" placeholder="{% trans %}Пароль{% endtrans %}" name="password" required>
      </div>

      <div class="mb-3">
        <input type="password" class="form-control" placeholder="{% trans %}Подтвердить пароль{% endtrans %}" name="password2" required>
      </div>

      <button class="w-100 btn btn-sm btn-primary" type="submit">{% trans %}Регистрация{% endtrans %}</button>

    </form>
  </main>

</body>
</html>
