{% if not request.args.get('only_content') %}
  {% extends "base.html" %}
  {% block title %}{% trans %}Настройки{% endtrans %}{% endblock %}
{% endif %}

{% block content %}
<div class="mb-5">
  <div class="row xs-mb-3">
    <div class="col-auto">
      <h1>{% trans %}Настройки{% endtrans %}</h1>
    </div>
  </div>
</div>

<nav class="nav nav-underline market-menu mb-5">
  <a class="nav-link {{ 'active disabled' if request.path == url_for('.settings_profile') }}" href="{{ url_for('.settings_profile') }}">{% trans %}Профиль{% endtrans %}</a>
</nav>

<div class="row">
  <div class="col-auto">

    <div>
      <span>{{ current_user.email }}</span>
    </div>

    <div class="mt-3">
      <a class="open-modal text-decoration-none" data-modal-id="UserPasswordModal"
        data-url="{{ url_for('user.change_password') }}">
        {% trans %}Изменить пароль{% endtrans %}
      </a>
    </div>

    <form id="UserActions" class="d-grid mt-5" action="{{ url_for('user.user_action') }}">
      <a class="link-danger open-modal-confirmation text-decoration-none"
        data-title="{% trans %}Удалить все данные из профиля?{% endtrans %}"
        data-form="#UserActions" data-action="delete_data">
        {% trans %}Очистить профиль{% endtrans %}
      </a>
      <a class="link-danger open-modal-confirmation text-decoration-none"
        data-title="{% trans %}Удалить профиль?{% endtrans %}"
        data-form="#UserActions" data-action="delete">
        {% trans %}Удалить профиль{% endtrans %}
      </a>
    </form>
  </div>
</div>

{% include 'flash_messages.html' %}

{% endblock %}

