{% set only_content = request.args.get('only_content') %}

{% if not only_content %}
  {% extends "base.html" %}
  {% block title %}{% trans %}Настройки{% endtrans %}{% endblock %}
{% endif %}

{% block content %}
<div class="mb-5">
  <div class="row xs-mb-3">
    <div class="col-auto">
      <h1>{% trans %}Настройки{% endtrans %}</h1>
    </div>
  </div>
  {% include 'flash_messages.html' %}
</div>

<nav class="nav nav-underline market-menu mb-5">
  <a class="nav-link {{ 'active disabled' if request.path == url_for('.settings_profile') }}" href="{{ url_for('.settings_profile') }}">{% trans %}Профиль{% endtrans %}</a>
  <a class="nav-link {{ 'active disabled' if request.path == url_for('.settings_export_import') }}" href="{{ url_for('.settings_export_import') }}">{% trans %}Экспорт{% endtrans %}/{% trans %}Импорт{% endtrans %}</a>
</nav>

<div>
  <h6>{% trans %}Экспорт{% endtrans %}</h6>
  <div class="row">
    <div class="col-md-12 mb-3">
      <a class="text-decoration-none" href="{{ url_for('.export_data')}}">{% trans %}Скачать{% endtrans %}</a>
    </div>
  </div>
</div>

<div>
  <h6>{% trans %}Импорт{% endtrans %}</h6>
  <form method="post" action="{{ url_for('user.import_data_post') }}" enctype="multipart/form-data">
    <div class="row">
      <div class="col-md-12 mb-3">
        <div class="input-group">
          <input type="file" name="file" class="form-control" aria-label="Upload">
          <button class="btn btn-outline-secondary" type="submit">{% trans %}Импорт{% endtrans %}</button>
        </div>
      </div>
    </div>
  </form>
</div>


{% endblock %}
