{% extends "modal_base.html" %}
{% set modal_fullscreen = False %}
{% set modal_title = 'Уведомления' %}

{% block content %}
      {% if asset.alerts %}
        <table class="table table-sm align-middle table-borderless">
          <tbody>
            {% for alert in asset.alerts|sort(reverse=true, attribute="price") %}
            <tr id="alertmodalId{{ alert.id }}">
              <td>
                {% if alert.type == 'down' %}
                <span class="text-red">Ниже</span>
                {% else %}
                <span class="text-green">Выше</span>
                {% endif %}
                ${{ alert.price }}
                <p class="small_text">{{ alert.date }}</p>
              </td>
              <td>{{ alert.comment }}</td>
              <td class="text-end">
                {% if alert.comment != 'Ордер' %}
                <form action="{{ url_for('alert_delete') }}" method="post">
                  <input type="hidden" name="id" value="{{ alert.id }}">
                  <button type="submit" class="btn-close" aria-label="Close"></button>
                </form>
                {% else %}
                <button type="button" class="btn-close opacity-25"></button>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
        <form class="visually-hidden" method="post" action="{{ url_for('alert_add') }}">
          <input type="hidden" name="asset_id" value="{{ asset.id }}">
          <input type="hidden" name="price_now" value="{{ price }}">
          <div class="row g-2">
            <div class="col-md-6">
              <div class="mb-1">
                <label for="price" class="form-label h7">Цена</label>
                <div class="input-group">
                  <span class="input-prefix">$</span>
                  <input type="number" step="any" class="form-control rounded-3 focus" id="price"
                    value="{{ price|long_number }}" name="price" autocomplete="off" required>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label h7">Комментарий</label>
                <textarea class="form-control" name="comment"></textarea>
              </div>
            </div>
          </div>
          <button class="w-100 mb-2 btn rounded-3 btn-primary btn-title" type="submit">Добавить
            уведомление</button>
        </form>
{% endblock %}
