{% extends "modal_base.html" %}
{% set modal_fullscreen = False %}
{% set modal_title = gettext('Изменить актив') %}

{% block content %}
<form data-url="{{ url_for('.asset_settings_update', portfolio_id=asset.portfolio_id, asset_id=asset.id) }}">
  <div class="row g-2">

    <div class="col-12">
      <div class="mb-1">
        {% if asset.ticker.image %}
          <img class="img-asset-min"
            src="{{ url_for('static', filename='images/tickers/' + asset.ticker.market + '/24/' + asset.ticker.image) }}" />
        {% else %}
          <span class="img-asset-min bg-secondary-subtle"></span>
        {% endif %}
        {{ asset.ticker.name }}
        <span class="text-muted">{{ asset.ticker.symbol|upper }}</span>
      </div>
    </div>

    <div class="col-12">
      <div class="mb-1">
        <label class="form-label h7">{% trans %}Планируемый процент портфеля{% endtrans %}</label>
        <div class="input-group">
          <span class="input-prefix">%</span>
          <input type="number" step="any" class="form-control rounded-3" placeholder="0,00" name="percent" value="{{ asset.percent|smart_round if asset.percent }}">
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="mb-3">
        <label class="form-label h7">{% trans %}Комментарий{% endtrans %}</label>
        <textarea class="form-control" name="comment">{{ asset.comment if asset.comment }}</textarea>
      </div>
    </div>
  </div>
  <button class="btn btn-primary rounded-3 w-100" type="submit">{{ modal_title }}</button>
</form>
{% endblock %}
