{% if not request.args.get('only_content') %}
  {% extends "modal_base.html" %}
  {% set modal_fullscreen = True %}
{% endif %}

{% block content %}

{% set ticker = asset.ticker %}
{% set request_from = request.args.get('request_from') %}

<div class="mb-5">
  <div class="row xs-mb-3">
    <div class="col-auto">
      <h1 class="fs-6 text-muted m-0">{{ ticker.name }} ({{ ticker.symbol|upper }})
        {% if ticker.market_cap_rank %}
          <span class="badge text-bg-light text-muted">#{{ ticker.market_cap_rank }}</span>
        {% endif %}
      </h1>

      <div class="hstack gap-2">
        {% if ticker.image %}
          <img class="img-asset" src="{{ url_for('static', filename='images/tickers/' + ticker.market + '/40/' + ticker.image) }}">
        {% endif %}
        <span class="fs-1 fw-semibold">{{ asset.price|currency_price(round_per=0.1) }}</span>
      </div>

      <div class="d-flex gap-1 align-items-end open-modal {{ 'disabled' if request_from == 'watchlist' else '' }}" data-modal-id="WhitelistTickerInfoModal"
        data-url="{{ url_for('watchlist.asset_info', ticker_id=ticker.id, asset_id=asset.id) }}">
        <span class="badge text-bg-light fw-normal text-muted d-flex gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16"><path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" /></svg>
          {{ gettext('Добавить уведомление') if not asset.alerts }}
        </span>
        {% for alert in asset.alerts if alert.status != 'off' %}
          <span class="badge fw-normal d-flex gap-2 text-bg-{{ 'light text-muted' if alert.status == 'on' else 'success' }}">
            {{ alert.price_usd|currency_price(round_per=0.1) }}
          </span>
        {% endfor %}
      </div>
    </div>


    <div class="col-auto ms-auto">
      <button class="btn btn-primary open-modal focus" type="button" data-modal-id="TransactionModal"
        data-url="{{ url_for('.transaction_info', portfolio_id=asset.portfolio_id, asset_id=asset.id) }}">
        {% trans %}Добавить транзакцию{% endtrans %}
      </button>
      <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        {% trans %}Еще{% endtrans %}
      </button>
      <div class="dropdown-menu">
        <button class="dropdown-item open-modal" type="button" data-modal-id="AssetSettingsModal"
          data-url="{{ url_for('.asset_settings', portfolio_id=asset.portfolio_id, asset_id=asset.id) }}">
          {% trans %}Изменить актив{% endtrans %}
        </button>

        <form id="AssetActions" action="{{ url_for('.portfolio_info', portfolio_id=asset.portfolio_id) }}">
          <button class="dropdown-item open-modal-confirmation" type="button" data-form="#AssetActions"
            data-title="{% trans %}Пересчитать актив?{% endtrans %}"
            data-text="{% trans %}Все транзакции в этом активе будут пересчитаны{% endtrans %}"
            data-action="recalculate" data-id="{{ asset.id }}">
            {% trans %}Пересчитать актив{% endtrans %}
          </button>
          <button class="dropdown-item link-danger open-modal-confirmation" type="button" data-form="#AssetActions"
            data-title="{% trans name=asset.ticker.name %}Удалить актив {{ name }}?{% endtrans %}"
            data-text="{% trans %}Все транзакции в этом активе будут удалены{% endtrans %}" data-action="delete"
            data-id="{{ asset.id }}" data-pre-need-clean="true">
            {% trans %}Удалить актив{% endtrans %}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% import 'macro_info.html' as i %}

{% if asset.transactions %}
  <div class="row mb-5 xs-mb-3">

    {{ i.top("Количество", asset.quantity|currency_quantity(currency=ticker.symbol)) }}
    {{ i.top("Средняя цена покупки", asset.average_buy_price|currency_price(round_per=0.1)) }}
    {{ i.top("Стоимость сейчас", asset.cost_now|currency_price(round_to='usd')) }}
    {{ i.top("Вложено" if asset.amount >= 0 else
             "Зафиксировано", asset.amount|abs|currency_price(round_to='usd')) }}
    {{ i.top("Прибыль", asset|profit, asset|color) }}
    {{ i.top("Доля от портфеля", [asset|share_of(asset.portfolio.invested), " / ", asset|percent]) }}
    {{ i.top("В ордерах на покупку", asset.buy_orders|currency_price(round_to='usd')) }}
    {{ i.top("В ордерах на продажу", asset.sell_orders|currency_quantity(currency=ticker.symbol)) }}
    {{ i.top("Свободно", asset.free|currency_quantity(currency=ticker.symbol)) }}
  </div>

  <div class="big-table pt-3 pb-3">
    <form id="TransactionsForm" action="{{ url_for('.asset_info', portfolio_id=asset.portfolio_id, asset_id=asset.id) }}">
      {% include 'transactions.html' %}
    </form>
  </div>

{% else %}
  {% include 'nothing.html' %}
{% endif %}

{{ i.comment(url_for('.asset_settings', portfolio_id=asset.portfolio_id, asset_id=asset.id), asset.comment) }}

{% include 'flash_messages.html' %}

{% endblock %}
