{% if not request.args.get('only_content') %}
  {% extends "modal_base.html" %}
  {% set modal_fullscreen = True %}
{% endif %}

{% block content %}

<div class="mb-5">
  <div class="row xs-mb-3">
    <div class="col-auto">
      <h1 class="fs-6 text-muted m-0">{{ asset.ticker.name }} ({{ asset.ticker.symbol|upper }})
        {% if asset.ticker.market_cap_rank %}
          <span class="badge text-bg-light text-muted">#{{ asset.ticker.market_cap_rank }}</span>
        {% endif %}
      </h1>

      <div class="hstack gap-2">
        {% if asset.ticker.image %}
          <img class="img-asset" src="{{ asset.ticker.image }}">
        {% endif %}
        <span class="fs-1 fw-semibold" id="AssetPrice">${{ price|smart_round|number_group }}</span>
      </div>

      <div class="d-flex gap-1 align-items-end open-modal" data-modal-id="WhitelistTickerInfoModal" data-url="{{ url_for('whitelist.ticker_info', market_id=market_id, ticker_id=asset.ticker_id, asset_id=asset.id) }}">
        <span class="badge text-bg-light fw-normal text-muted">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16"><path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/></svg>
          {{ 'Добавить уведомление' if not asset.alerts }}
        </span>

        <div id="asset-alerts">
          {% for alert in asset.alerts %}
            <span class="badge fw-normal cursor-pointer {{ 'text-bg-success' if alert.worked else 'text-bg-light text-muted' }}" >
              ${{ alert.price|number_group }}</span>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="col-auto ms-auto hstack gap-1">
      <button class="btn btn-primary open-modal focus" type="button" data-modal-id="TransactionModal"
        data-url="{{ url_for('.transaction', asset_id=asset.id, price=price) }}">Добавить транзакцию</button>
      <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Еще</button>
      <div class="dropdown-menu">
        <button class="dropdown-item open-modal" type="button" data-modal-id="AssetSettingsModal"
          data-url="{{ url_for('.asset_settings', asset_id=asset.id) }}">
          Настройки {{ asset.ticker.name }}
        </button>

        <form id="AssetActions" action="{{ url_for('.assets_action') }}">
          <button class="dropdown-item link-danger open-modal-confirmation" 
            type="button" data-form="#AssetActions" data-id="{{ asset.id }}"
            data-title="Удалить {{ asset.ticker.name }}?" data-pre-need-clean="true">
            Удалить {{ asset.ticker.name }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% if asset.transactions %}
  {% set asset_quantity = asset.transactions|sum(attribute='quantity') %}
  {% set asset_total_spent = asset.transactions|sum(attribute='total_spent') %}
  {% set asset_percent_now = (asset_total_spent / portfolio_total_spent * 100)|round(1, 'common') if portfolio_total_spent %}

  <div class="row mb-5 xs-mb-3">

    <div class="col-auto">
      <p class="small-text">Количество</p>
      <span class="text-average">{{ asset_quantity|smart_round|number_group }} {{ asset.ticker.symbol|upper }}</span>
    </div>

    <div class="col-auto">
      <p class="small-text">Средняя цена покупки</p>
      <span class="text-average">
        {% if asset_quantity > 0 and asset_total_spent > 0 %}
          ${{ (asset_total_spent / asset_quantity)|smart_round|number_group }}
        {% else %}
          -
        {% endif%}
      </span>
    </div>

    <div class="col-auto">
      <p class="small-text">Всего вложено / сейчас</p>
      <span class="text-average">
        {% if asset_total_spent > 0 %}
          ${{ asset_total_spent|int|number_group }} /
        {% else %}
          - /
        {% endif %}
      </span>
      <span id="AssetCostNow" class="text-average"> - </span>
    </div>

    <div class="col-auto">
      <p class="small-text">Прибыль / убыток</p>
      <span id="AssetProfit" class="text-average"> - </span>
    </div>
    {% if asset_percent_now and asset_percent_now != 100 %}
      <div class="col-auto">
        <p class="small-text">% от портфеля</p>
        <span class="text-average">
          {{ asset_percent_now|smart_int|string + '%'  }}
          {{ 'из ' + asset.percent|smart_int|string + '%' if asset.percent }}
        </span>
      </div>
    {% endif %}
  </div>

<div class="big-table pt-3 pb-3">
  <form id="TransactionsForm" action="{{ url_for('.transactions_action') }}">
    <table class="table table-sm align-middle">
      <thead>
        <tr>
          <th class="main-tab-checkbox">
            <input class="form-check-input check-all" type="checkbox">
          </th>
          <th>Тип сделки</th>
          <th>Цена</th>
          <th>Количество</th>
          <th>Кошелек</th>
          <th>Комментарий</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in asset.transactions|sort(reverse=true, attribute="date")|sort(reverse=true, attribute="order") %}
        <tr class="{{ 'table-order' if transaction.order }}">

          <td>
            <input class="form-check-input to-check" type="checkbox" value="{{ transaction.id }}">
          </td>

          <td>
            <div class="open-modal" data-modal-id="TransactionModal"
              data-url="{{ url_for('.transaction', market_id=asset.portfolio.market_id, asset_id=asset.id, ticker=asset.ticker.id, transaction_id=transaction.id) }}">
              {{ transaction.type }} {{ '(Ордер)' if transaction.order }}
              <br>
              <span class="small-text">{{ transaction.date }}</span>
            </div>
          </td>

          <td>${{ transaction.price|smart_round|number_group }}</td>

          <td>
            ${{ transaction.total_spent|smart_int|number_group }}
            <br>
            <span class="text-average small-text {{ 'text-green' if transaction.type == 'Покупка' else 'text-red' }}">
              {{ '+' if transaction.type == 'Покупка' else '-' }}{{ transaction.quantity|smart_round|number_group }} {{ asset.ticker.symbol|upper }}
            </span>
          </td>

          <td>
            <a class="link-dark text-decoration-none open-modal" href="#" data-modal-id="WalletInfoModal" data-url="{{ url_for('wallet.wallet_info', wallet_id=transaction.wallet_id) }}">
              {{ transaction.wallet.name }}
            </a>
          </td>

          <td>
            <div class="d-flex comment">
              <span class="text-truncate">{{ transaction.comment if transaction.comment }}</span>
            </div>
          </td>

          <td class="align-middle text-end">
            <div class="d-flex justify-content-end">
              {% if transaction.order %}
                <a class="link-secondary open-modal-confirmation" data-id="{{ transaction.id }}" data-title="Ордер сработал?" data-action="convert_to_transaction" title="Ордер сработал">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/><path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/></svg>
                </a>
              {% endif %}
              <div class="dropdown dropstart">
                <a href="#" class="link-secondary" role="button" id="dropdownAction"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ms-2" viewBox="0 0 16 16"><path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/></svg>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownAction">
                  <a class="dropdown-item open-modal" data-modal-id="TransactionModal"
                    data-url="{{ url_for('.transaction', market_id=asset.portfolio.market_id, asset_id=asset.id, ticker=asset.ticker.id, transaction_id=transaction.id) }}">
                    Изменить
                  </a>
                  <a class="dropdown-item link-danger open-modal-confirmation" 
                    data-action="delete"
                    data-id="{{ transaction.id }}" data-title="Удалить транзакцию?">
                    Удалить
                  </a>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Actions buttons -->
    <div class="sticky-bottom-buttons">
      <a class="open-modal-confirmation" data-action="delete" data-title="Удалить транзакции?">Удалить</a>
    </div>

  </form>
</div>
{% else %}
  <div class="nothing-box">Пока ничего нет...</div>
{% endif %}

<div class="convert-text" data-convert-to="textarea" data-name="comment"
  data-url="{{ url_for('.asset_settings_update', asset_id=asset.id) }}">
  <span class="convert-data">{{ asset.comment if asset.comment }}</span>
  <span>{{ 'Добавить комментарий' if not asset.comment }}</span>
</div>

<script>
  // Update Asset Details
  function AssetDetailsUpdate() {
    var url = "{{ url_for('.asset_detail', asset_id = asset.id) }}",
      assetPrice = $('#AssetPrice'),
      assetCostNow = $('#AssetCostNow'),
      assetProfit = $('#AssetProfit');

    // if modal is close
    if (!assetPrice.length) {
      clearTimeout(assetUpdateTimerId);
      return true;
    }

    var request = $.get(url);
    request.done(function(data) {
      var text_class = 'text-average text-' + data.profit_color;
      assetPrice.html('$' + data.price);
      assetCostNow.html(data.cost_now).attr('class', text_class);
      assetProfit.html(data.profit).attr('class', text_class);
    })
  }

  AssetDetailsUpdate();
  clearTimeout(assetUpdateTimerId);
  var assetUpdateTimerId = setInterval(AssetDetailsUpdate, 10000);

</script>
{% endblock %}
