{% extends "modal_base.html" %}
{% set modal_fullscreen = False %}
{% set modal_title = gettext('Изменить транзакцию') if transaction.id else gettext('Добавить транзакцию') %}


{% block content %}
<form data-url="{{ url_for('.other_transaction_update',portfolio_id=asset.portfolio_id, asset_id=asset.id, transaction_id=transaction.id) }}">

  <div class="btn-group silver col-12 mb-3" role="group" id="typetransaction">
    <input type="radio" class="btn-check" name="type" value="Profit" id="btnplus" {{ 'checked' if transaction.type == 'Profit'}}>
    <label class="btn btn-sm" for="btnplus">{% trans %}Прибыль{% endtrans %}</label>

    <input type="radio" class="btn-check" name="type" value="Loss" id="btnminus" {{ 'checked' if transaction.type == 'Loss'}}>
    <label class="btn btn-sm" for="btnminus">{% trans %}Убыток{% endtrans %}</label>
  </div>

  <div class="row g-2">

    <div class="col-md-12">
      <div class="mb-1">
        <label class="form-label h7">{% trans %}Сумма{% endtrans %}</label>
        <div class="input-group">
          <div class="col-3">
            <select name="amount_ticker_id" class="form-select"
              data-url="{{ url_for('.ajax_stable_assets') }}" required>
              <option selected value="{{ transaction.amount_ticker.id }}">{{ transaction.amount_ticker.symbol|upper }}</option>
            </select>
          </div>
          <input type="number" step="any" class="form-control focus" autocomplete="off"
                 placeholder="0,00" name="amount" value="{{ transaction.amount|abs|smart_int if transaction.amount }}" required>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-1">
        <label class="form-label h7">{% trans %}Дата{% endtrans %}</label>
        <input class="form-control" name="date" type="datetime-local" value="{{ transaction.date|user_datetime(not_format=1) }}" required>
      </div>
    </div>

    <span class="mb-3 cursor-pointer text-primary show-more">+ {% trans %}Комментарий{% endtrans %}</span>

    <div class="show-more-content" style="display: none;">
      <div class="col-md-12">
        <div class="mb-3">
          <label class="form-label h7">{% trans %}Комментарий{% endtrans %}</label>
          <textarea class="form-control" name="comment">{{ transaction.comment if transaction.comment }}</textarea>
        </div>
      </div>
    </div>

  </div>
  <button class="btn btn-primary rounded-3 w-100" type="submit">{{ modal_title }}</button>
</form>
{% endblock %}
