{% if not request.args.get('only_content') %}
  {% extends "modal_base.html" %}
  {% set modal_fullscreen = True %}
{% endif %}

{% set page = session.get('other_asset_page', 'transactions') %}

{% block content %}
<div class="mb-5">
  <div class="row xs-mb-3">
    <div class="col-auto">
      <h1 class="fs-6 text-muted m-0">{{ asset.name }}</h1>
      <span class="fs-1 fw-semibold">{{ asset.cost_now|user_currency }}</span>
    </div>

    <div class="col-auto ms-auto">
      <button class="btn btn-primary open-modal" type="button" data-modal-id="TransactionModal"
        data-url="{{ url_for('.other_transaction', portfolio_id=asset.portfolio_id, asset_id=asset.id) }}">
        {% trans %}Добавить транзакцию{% endtrans %}
      </button>
      <button class="btn btn-warning open-modal" type="button" data-modal-id="BodyModal"
        data-url="{{ url_for('.other_body', portfolio_id=asset.portfolio_id, asset_id=asset.id) }}">
        {% trans %}Добавить тело актива{% endtrans %}
      </button>
      <button type="button" class="btn btn-light dropdown-toggle ms-1" data-bs-toggle="dropdown" aria-expanded="false">
        {% trans %}Еще{% endtrans %}
      </button>
      <ul class="dropdown-menu">
        <button class="dropdown-item open-modal" type="button" data-modal-id="OtherAssetSettingsModal"
          data-url="{{ url_for('.other_asset_settings', portfolio_id=asset.portfolio_id, asset_id=asset.id) }}">
          {% trans %}Изменить актив{% endtrans %}
        </button>

        <form id="AssetActions" action="{{ url_for('.other_asset_action') }}">
          <button class="dropdown-item link-danger open-modal-confirmation" 
            type="button" data-form="#AssetActions"
            {% if asset.is_empty %}
              data-title="{% trans name=asset.name %}Удалить актив {{ name }}?{% endtrans %}"
              data-action="delete"
            {% else %}
              data-title="{% trans name=asset.name %}Удалить актив {{ name }} с содержимым?{% endtrans %}"
              data-text="{% trans %}Все транзакции в этом активе будут удалены{% endtrans %}"
              data-action="delete_with_contents"
            {% endif %}
            data-id="{{ asset.id }}" data-pre-need-clean="true">
            {% trans %}Удалить актив{% endtrans %}
          </button>
        </form>
      </ul>
    </div>
  </div>
</div>

{% if not asset.is_empty() %}
  <div class="row mb-5 xs-mb-3">
    <div class="col-auto">
      <p class="small-text">{% trans %}Вложено{% endtrans %}</p>
      <span class="text-average">{{ asset.amount|user_currency }}</span>
    </div>

    <div class="col-auto">
      <p class="small-text">{% trans %}Прибыль{% endtrans %} / {% trans %}Убыток{% endtrans %}</p>
      <span class="text-average {{ asset.color }}">
        {{ asset.profit|user_currency }}
        {{ '({}%)'.format(asset.profit_percent) if asset.profit_percent }}
      </span>
    </div>

    <div class="col-auto">
      <p class="small-text">{% trans %}Доля от портфеля{% endtrans %}</p>
      <span class="text-average">
        {{ (asset.amount / asset.portfolio.amount * 100)|round(1, 'common')|smart_int|string + '%' if asset.portfolio.amount else '' }} /
        {{ asset.percent|smart_int|string + '%' if asset.percent else '-' }}
      </span>
    </div>
  </div>
{% endif %}

<nav>
  <div class="nav nav-tabs mb-1" id="nav-tab" role="tablist">
    <button class="nav-link link-dark {{ 'active' if page == 'bodies' }}" id="nav-asset-tab" data-bs-toggle="tab" data-bs-target="#nav-asset"
      type="button" role="tab" aria-controls="nav-home" aria-selected="false" tabindex="-1">
      {% trans %}Тело актива{% endtrans %}
    </button>
    <button class="nav-link link-dark {{ 'active' if page == 'transactions' }}" id="nav-transactions-tab" data-bs-toggle="tab"
      data-bs-target="#nav-transactions" type="button" role="tab" aria-controls="nav-transactions"
      aria-selected="true">
      {% trans %}Транзакции{% endtrans %}
    </button>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade {{ 'active show' if page == 'bodies' }}" id="nav-asset" role="tabpanel" aria-labelledby="nav-asset-tab">

    {% if asset.bodies %}
      <div class="big-table pb-3">
        <form id="BodiesForm" action="{{ url_for('.other_body_action', portfolio_id=asset.portfolio_id, asset_id=asset.id) }}">
          <table class="table table-sm align-middle">
            <thead>
              <tr>
                <th class="main-tab-checkbox">
                  <input class="form-check-input check-all" type="checkbox">
                </th>
                <th>{% trans %}Название{% endtrans %}</th>
                <th>{% trans %}Цена покупки{% endtrans %}</th>
                <th>{% trans %}Стоимость сейчас{% endtrans %}</th>
                <th>{% trans %}Комментарий{% endtrans %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for body in asset.bodies|sort(reverse=true, attribute="date") %}
                <tr>
                  <td>
                    <input class="form-check-input to-check" type="checkbox" value="{{ body.id }}">
                  </td>

                  <td>
                    <div class="open-modal d-grid name" data-modal-id="BodyModal"
                      data-url="{{ url_for('.other_body', portfolio_id=asset.portfolio_id, asset_id=asset.id, body_id=body.id) }}">
                      <span class="text-truncate" title="{{ body.name }}">{{ body.name }}</span>
                      <span class="small-text">{{ body.date|user_datetime }}</span>
                    </div>
                  </td>

                  <td>
                    {{ body.amount|user_currency }}
                    {% if current_user.currency_ticker_id != body.amount_ticker_id %}
                      <span class="small-text">({{ body.amount_with_ticker|other_currency(body.amount_ticker.symbol) }})</span>
                    {% endif %}
                  </td>

                  <td>
                    {{ body.cost_now|user_currency }}
                    {% if current_user.currency_ticker_id != body.amount_ticker_id %}
                      <span class="small-text">({{ body.cost_now|other_currency(body.amount_ticker.symbol) }})</span>
                    {% endif %}
                  </td>

                  <td>
                    <div class="d-flex comment">
                      <span class="text-truncate">{{ body.comment if body.comment }}</span>
                    </div>
                  </td>

                  <td class="align-middle text-end">
                    <div class="dropdown dropstart">
                      <a href="#" class="link-secondary" role="button" id="dropdownAction"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ms-2" viewBox="0 0 16 16"><path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/></svg>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownAction">
                        <a class="dropdown-item open-modal" data-modal-id="BodyModal"
                          data-url="{{ url_for('.other_body', portfolio_id=asset.portfolio_id, asset_id=asset.id, body_id=body.id) }}">
                          {% trans %}Изменить тело актива{% endtrans %}
                        </a>
                        <a class="dropdown-item link-danger open-modal-confirmation"
                          data-action="delete" data-id="{{ body.id }}"
                          data-title="{% trans %}Удалить тело актива?{% endtrans %}"
                          data-text="{% trans %}Вы уверены, что хотите удалить это тело актива?{% endtrans %}">
                          {% trans %}Удалить тело актива{% endtrans %}
                        </a>
                      </div>
                    </div>
                  </td>

                </tr>
              {% endfor %}
            </tbody>
          </table>

          <!-- Actions buttons -->
          <div class="sticky-bottom-buttons">
            <a class="open-modal-confirmation" data-action="delete"
              data-title="{% trans %}Удалить тела актива?{% endtrans %}"
              data-text="{% trans %}Вы уверены, что хотите удалить эти активы??{% endtrans %}">
              {% trans %}Удалить{% endtrans %}</a>
          </div>

        </form>
      </div>
    {% else %}
      <div class="nothing-box">{% trans %}Пока ничего нет...{% endtrans %}</div>
    {% endif %}
  </div>

  <div class="tab-pane fade {{ 'active show' if page == 'transactions' }}" id="nav-transactions" role="tabpanel" aria-labelledby="nav-transactions-tab">
    {% if asset.transactions %}
      <div class="big-table pb-3">
        <form id="TransactionsForm" action="{{ url_for('.other_transaction_action', portfolio_id=asset.portfolio_id, asset_id=asset.id) }}">
          <table class="table table-sm align-middle">
            <thead>
              <tr>
                <th class="main-tab-checkbox">
                  <input class="form-check-input check-all" type="checkbox">
                </th>
                <th>{% trans %}Тип{% endtrans %}</th>
                <th>{% trans %}Сумма{% endtrans %}</th>
                <th>{% trans %}Комментарий{% endtrans %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for transaction in asset.transactions|sort(reverse=true, attribute="date") %}
                {% set color = 'text-green' if transaction.amount > 0 else 'text-red' %}
                <tr>
                  <td>
                    <input class="form-check-input to-check" type="checkbox" value="{{ transaction.id }}">
                  </td>

                  <td>
                    <div class="open-modal" data-modal-id="TransactionModal"
                      data-url="{{ url_for('.other_transaction', portfolio_id=asset.portfolio_id, asset_id=asset.id, transaction_id=transaction.id) }}">
                      <span class="{{ color }}">{{ gettext(transaction.type) }}</span>
                      <br>
                      <span class="small-text">{{ transaction.date|user_datetime }}</span>
                    </div>
                  </td>

                  <td>
                    <span class="text-average {{ color }}">
                      {{ transaction.amount|user_currency }}
                    </span>
                    {% if current_user.currency_ticker_id != transaction.amount_ticker_id %}
                      <span class="small-text ms-2">({{ transaction.amount_with_ticker|other_currency(transaction.amount_ticker.symbol) }})</span>
                    {% endif %}
                  </td>

                  <td>
                    <div class="d-flex comment">
                      <span class="text-truncate">{{ transaction.comment if transaction.comment }}</span>
                    </div>
                  </td>

                  <td class="align-middle text-end">
                    <div class="dropdown dropstart">
                      <a href="#" class="link-secondary" role="button" id="dropdownAction"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ms-2" viewBox="0 0 16 16"><path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/></svg>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownAction">
                        <a class="dropdown-item open-modal" data-modal-id="TransactionModal"
                          data-url="{{ url_for('.other_transaction', portfolio_id=asset.portfolio_id, asset_id=asset.id, transaction_id=transaction.id) }}">
                          {% trans %}Изменить транзакцию{% endtrans %}
                        </a>
                        <a class="dropdown-item link-danger open-modal-confirmation"
                          data-action="delete" data-id="{{ transaction.id }}"
                          data-title="{% trans %}Удалить транзакцию?{% endtrans %}"
                          data-text="{% trans %}Вы уверены, что хотите удалить эту транзакцию?{% endtrans %}">
                          {% trans %}Удалить транзакцию{% endtrans %}
                        </a>
                      </div>
                    </div>
                  </td>

                </tr>
              {% endfor %}
            </tbody>
          </table>

          <!-- Actions buttons -->
          <div class="sticky-bottom-buttons">
            <a class="open-modal-confirmation" data-action="delete"
              data-title="{% trans %}Удалить транзакции?{% endtrans %}"
              data-text="{% trans %}Вы уверены, что хотите удалить эти транзакции?{% endtrans %}">
              {% trans %}Удалить{% endtrans %}</a>
          </div>

        </form>
      </div>
    {% else %}
      <div class="nothing-box">{% trans %}Пока ничего нет...{% endtrans %}</div>
    {% endif %}
  </div>
</div>

<div class="convert-text" data-convert-to="textarea" data-name="comment" data-placeholder="{{ gettext('Добавить комментарий') }}"
  data-url="{{ url_for('.other_asset_settings_update', portfolio_id=asset.portfolio_id, asset_id=asset.id) }}">
  <span class="convert-data">{{ asset.comment if asset.comment }}</span>
</div>

{% endblock %}
