{% if not request.args.get('load_only_content') %}
  {% extends "modal_base.html" %}
  {% set modal_fullscreen = True %}
{% endif %}

{% set bodys_cost_now = asset.bodys|sum(attribute='cost_now') %}
{% set bodys_total_spent = asset.bodys|sum(attribute='total_spent') %}
{% set operations_total_spent = asset.operations|sum(attribute='total_spent') %}
{% set asset_cost_now = bodys_cost_now + operations_total_spent %}
{% set asset_profit = asset_cost_now - bodys_total_spent %}
{% set asset_percent = (bodys_total_spent / portfolio_total_spent * 100)|round(1, 'common') if portfolio_total_spent else 0 %}

{% block content %}
<div class="mb-5">
  <div class="row xs-mb-3">
    <div class="col-auto">
      <h1 class="fs-6 text-muted m-0">{{ asset.name }}</h1>
      <span class="fs-1 fw-semibold">${{ asset_cost_now|int|number_group }}</span>
    </div>

    <div class="col-auto ms-auto">
      <button class="btn btn-primary open-modal" type="button" data-modal-id="OperationModal" data-url="{{ url_for('.other_asset_operation', asset_id=asset.id) }}">Добавить операцию</button>
      <button class="btn btn-warning open-modal" type="button" data-modal-id="BodyModal" data-url="{{ url_for('.other_asset_body', asset_id=asset.id) }}">Добавить тело актива</button>
      <button type="button" class="btn btn-light dropdown-toggle ms-1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Еще
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item">Удалить {{ asset.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% if asset.bodys or asset.operations %}
  <div class="row mb-5 xs-mb-3">
    <div class="col-auto">
      <p class="small_text">Вложено</p>
      <span class="text-average">
        ${{ bodys_total_spent|int|number_group }}
      </span>
    </div>

    <div class="col-auto">
      <p class="small_text">Прибыль / убыток</p>
      <span class="text-average {{ 'text-green' if asset_profit|int > 0 }} {{ 'text-red' if asset_profit|int < 0 }}">
        {{ '-' if asset_profit|int < 0 }}${{ asset_profit|int|number_group }}
        {% if bodys_total_spent and asset_profit %}
          ({{ (asset_profit / bodys_total_spent * 100)|int|abs }}%)
        {% endif %}
      </span>
    </div>

    <div class="col-auto">
      <p class="small_text">% от портфеля</p>
      <span class="text-average">
        {{ asset_percent|string + '%' if portfolio_total_spent and asset.bodys else '-' }}
        {{ 'из ' + asset.percent|string + '%' if asset.percent }}
      </span>
    </div>
  </div>
{% endif %}

<nav>
  <div class="nav nav-tabs mb-1" id="nav-tab" role="tablist">
    <button class="nav-link link-dark" id="nav-asset-tab" data-bs-toggle="tab" data-bs-target="#nav-asset"
      type="button" role="tab" aria-controls="nav-home" aria-selected="false" tabindex="-1">
      Активы
    </button>
    <button class="nav-link link-dark active" id="nav-operations-tab" data-bs-toggle="tab"
      data-bs-target="#nav-operations" type="button" role="tab" aria-controls="nav-operations"
      aria-selected="true">
      Операции
    </button>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade" id="nav-asset" role="tabpanel" aria-labelledby="nav-asset-tab">

    {% if asset.bodys %}
      <div class="big-table pb-3">
        <table class="table table-sm align-middle">
          <thead>
            <tr>
              <th class="main-tab-checkbox">
                <input class="form-check-input check-all" type="checkbox">
              </th>
              <th>Название</th>
              <th>Стоимость</th>
              <th>Стоимость сейчас</th>
              <th>Комментарий</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for asset_body in asset.bodys|sort(reverse=true, attribute="date") %}
              <tr>
                <td>
                  <input class="form-check-input to-check" type="checkbox" value="{{ asset_body.id }}">
                </td>

                <td>
                  {{ asset_body.name }} <br />
                  <span class="small_text">{{ asset_body.date }}</span>
                </td>

                <td>${{ asset_body.total_spent|int|number_group }}</td>

                <td>${{ asset_body.cost_now|int|number_group }}</td>

                <td>{{ asset_body.comment if asset_body.comment }}</td>

                <td class="align-middle text-end">
                  <div class="dropdown dropstart">
                    <a href="#" class="link-secondary" role="button" id="dropdownAction"
                      data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ms-2" viewBox="0 0 16 16"><path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/></svg>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownAction">
                      <a class="dropdown-item open-modal" data-modal-id="BodyModal" data-url="{{ url_for('.other_asset_body', asset_id=asset.id, body_id=asset_body.id) }}">Изменить</a>
                      <a class="dropdown-item link-danger {{ 'open-modal-confirmation' if asset_body.can_delete else 'opacity-25 disabled' }}" data-title="Удалить {{ asset.name }}?"
                        data-id="{{ asset_body.id }}">
                        Удалить
                      </a>
                    </div>
                  </div>
                </td>

              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <div class="nothing-box">Пока ничего нет...</div>
    {% endif %}
  </div>

  <div class="tab-pane fade active show" id="nav-operations" role="tabpanel" aria-labelledby="nav-operations-tab">
    {% if asset.operations %}
      <div class="big-table pb-3">
        <table class="table table-sm align-middle">
          <thead>
            <tr>
              <th class="main-tab-checkbox">
                <input class="form-check-input check-all" type="checkbox">
              </th>
              <th>Тип сделки</th>
              <th>Сумма</th>
              <th>Комментарий</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for operation in asset.operations|sort(reverse=true, attribute="date") %}
              <tr>
                <td>
                  <input class="form-check-input to-check" type="checkbox" value="{{ operation.id }}">
                </td>

                <td>
                  {{ operation.type }}
                  <br>
                  <span class="small_text">{{ operation.date }}</span>
                </td>

                <td>
                  <span class="text-average {{ 'text-green' if operation.type == 'Прибыль' else 'text-red' }}">
                    {{ '+' if operation.type == 'Прибыль' else '-' }}${{ operation.total_spent|abs|smart_int|number_group }}
                  </span>
                </td>

                <td>{{ operation.comment if operation.comment }}</td>

                <td class="align-middle text-end">
                  <div class="dropdown dropstart">
                    <a href="#" class="link-secondary" role="button" id="dropdownAction"
                      data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ms-2" viewBox="0 0 16 16"><path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/></svg>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownAction">
                      <a class="dropdown-item open-modal" data-modal-id="OperationModal" data-url="{{ url_for('.other_asset_operation', asset_id=asset.id, operation_id=operation.id) }}">Изменить</a>
                      <a class="dropdown-item link-danger {{ 'open-modal-confirmation' if operation.can_delete else 'opacity-25 disabled' }}" data-title="Удалить {{ asset.name }}?"
                        data-id="{{ operation.id }}">
                        Удалить
                      </a>
                    </div>
                  </div>
                </td>

              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <div class="nothing-box">Пока ничего нет...</div>
    {% endif %}
  </div>
</div>

<div class="convert-text" data-convert-to="textarea" data-name="comment"
  data-send-url="">
  <span class="convert-data">{{ asset.comment if asset.comment }}</span>
  <span>{{ 'Добавить комментарий' if not asset.comment }}</span>
</div>

{% endblock %}
