{% extends "modal_base.html" %}
{% set modal_fullscreen = False %}
{% set modal_title = gettext('Изменить тело актива') if body.id else gettext('Добавить тело актива') %}


{% block content %}
<form data-url="{{ url_for('.body_info', portfolio_id=asset.portfolio_id, asset_id=asset.id, body_id=body.id) }}">
  <div class="row g-2">
    <div class="col-md-12">
      <div class="mb-1">
        <label class="form-label h7">{% trans %}Название{% endtrans %}</label>
        <input type="text" class="form-control rounded-3 focus" name="name" autocomplete="off" value="{{ body.name if body.name }}" required>
      </div>
    </div>

    <div class="col-md-12">
      <div class="mb-1">
        <label class="form-label h7">{% trans %}Цена покупки{% endtrans %}</label>
        <div class="input-group">
          <div class="col-3">
            <select name="amount_ticker_id" class="form-select"
              data-url="{{ url_for('.ajax_stable_assets') }}" required>
              <option selected value="{{ body.amount_ticker.id }}">{{ body.amount_ticker.symbol|upper }}</option>
            </select>
          </div>
          <input type="number" step="any" class="form-control" placeholder="0,00"
                 name="amount" autocomplete="off" value="{{ body.amount_with_ticker|smart_round or '' }}" required>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="mb-1">
        <label class="form-label h7">{% trans %}Стоимость сейчас{% endtrans %}</label>
        <div class="input-group">
          <div class="col-3">
            <select name="cost_now_ticker_id" class="form-select"
              data-url="{{ url_for('.ajax_stable_assets') }}" required>
              <option selected value="{{ body.cost_now_ticker.id }}">{{ body.cost_now_ticker.symbol|upper }}</option>
            </select>
          </div>
          <input type="number" step="any" class="form-control" placeholder="0,00"
            name="cost_now" value="{{ body.cost_now_with_ticker|smart_round or '' }}" required>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-1">
        <label class="form-label h7">{% trans %}Дата{% endtrans %}</label>
        <input class="form-control" name="date" type="datetime-local" value="{{ body.date|user_datetime(not_format=1) }}">
      </div>
    </div>

    <span class="mb-3 cursor-pointer text-primary show-more">+ {% trans %}Комментарий{% endtrans %}</span>

    <div class="show-more-content" style="display: none;">
      <div class="col-md-12">
        <div class="mb-3">
          <label class="form-label h7">{% trans %}Комментарий{% endtrans %}</label>
          <textarea class="form-control" name="comment">{{ body.comment if body.comment }}</textarea>
        </div>
      </div>
    </div>

  </div>

  <button class="btn btn-primary rounded-3 w-100" type="submit">{{ modal_title }}</button>
</form>
{% endblock %}
