{% if not request.args.get('only_content') %}
  {% extends "modal_base.html" %}
  {% set modal_fullscreen = True %}
{% endif %}

{% block content %}
<div class="mb-5">
  <div class="row xs-mb-3">
    <div class="col-auto">
      <h1>{{ portfolio.name }}</h1>
    </div>
    <div class="col-auto ms-auto">
      <button class="btn btn-primary open-modal" type="button" data-modal-id="AddAssetModal" data-url="{{ url_for('portfolio.asset_add_modal', market_id=portfolio.market_id) }}">Добавить актив</button>
    </div>
  </div>
</div>

{% if asset_list %}
  <div class="row xs-mb-3">

    <div class="col-auto">
      <p class="small_text">Вложено / сейчас</p>
      <span class="text-average">${{ portfolio.total_spent|int|number_group }} /</span>
      <span class="text-average {{ 'text-green' if portfolio.profit|int > 0 }} {{ 'text-red' if portfolio.profit|int < 0 }}">
        ${{ portfolio.cost_now|int|number_group }}
      </span>
    </div>

    <div class="col-auto">
      <p class="small_text">Прибыль / убыток</p>
      <span class="text-average {{ 'text-green' if portfolio.profit|int > 0 }} {{ 'text-red' if portfolio.profit|int < 0 }}">
        {{ '-' if portfolio.profit|int < 0 }}${{ portfolio.profit|int|abs|number_group }}
        {% if portfolio.total_spent and portfolio.profit|int %}
          ({{ (portfolio.profit / portfolio.total_spent * 100)|round|int|abs }}%)
        {% endif %}
      </span>
    </div>

    <div class="col-auto">
      <p class="small_text">Активов</p>
      <span class="text-average">{{ asset_list|length}}</span>
    </div>

  </div>

  <div class="big-table pt-3 pb-3">
    <form id="AssetsForm" action="{{ url_for('.assets_action') }}">
      <table class="table table-sm align-middle table-hover bootstrap-table" data-search="true">
        <thead>
          <tr>
            <th class="main-tab-checkbox">
              <input class="form-check-input check-all" type="checkbox">
            </th>
            <th data-sortable="true">Наименование</th>
            <th>Цена / Ср. цена покупки</th>
            <th data-sortable="true" data-sort-name="cost_now">Активы</th>
            <th data-sortable="true" data-sort-name="profit">Прибыль / убыток</th>
            <th data-sortable="true" data-sort-name="percent">% портфеля</th>
            <th>Комментарий</th>
            <th></th>
            <!-- For sorting -->
            <th class="visually-hidden" data-sortable="true" data-field="cost_now">Стоит сейчас</th>
            <th class="visually-hidden" data-sortable="true" data-field="profit">Профит</th>
            <th class="visually-hidden" data-sortable="true" data-field="percent">% портфеля</th>
          </tr>
        </thead>
        <tbody>
          {% for asset in asset_list %}
            <tr>
              <td>
                <input class="form-check-input to-check" type="checkbox" value="{{ asset.id }}">
              </td>

              <td class="text-average">
                <div class="open-modal d-flex gap-2 name" data-modal-id="AssetInfoModal" 
                  data-url="{{ url_for('.asset_info', market_id=portfolio.market_id, asset_id=asset.id) }}">

                  {% if asset.image %}<img class="img-asset-min" src="{{ asset.image }}">{% endif %}
                  <span class="text-truncate" title="{{ asset.name }}">{{ asset.name }}</span>
                  <span class="text-muted">{{ asset.symbol|upper }}</span>
                </div>
              </td>

              <td>
                ${{ asset.price|smart_round|number_group }}
                {% if asset.total_spent > 0 %}
                  / ${{ (asset.total_spent / asset.quantity)|smart_round|number_group }}
                {% endif %}
              </td>

              <td>
                {% if asset.quantity > 0 %}
                  ${{ asset.cost_now|int|number_group }}
                  {{ '/ $' + asset.total_spent|int|number_group if asset.total_spent > 0 }}
                  <br>
                  <span class="text-average small_text">
                    {{ asset.quantity|smart_round|number_group }}
                    {{ asset.symbol|upper }}
                  </span>
                {% else %}
                  -
                {% endif %}
              </td>

              <td>
                {% if asset.quantity > 0 %}
                  <span class="{{ 'text-green' if asset.profit|int > 0 }} {{ 'text-red' if asset.profit|int < 0 }}">
                    {{ '-' if asset.profit|int < 0 }}${{ asset.profit|int|abs|number_group }}

                    {% if asset.total_spent and asset.profit|int %}
                      ({{ (asset.profit|int / asset.total_spent * 100)|int|abs }}%)
                    {% endif %}
                  </span>
                {% else %}
                  -
                {% endif %}
              </td>

              <td>
                {% if portfolio.total_spent and asset.total_spent %}
                  {{ (asset.total_spent / portfolio.total_spent * 100)|round(1, 'common')|smart_int }}% /
                {% else %}
                  - /
                {% endif %}
                {{ asset.percent|round(1, 'common')|smart_int|string + '%' if asset.percent else '-' }}
              </td>

              <td>
                <div class="d-flex comment">
                  <span class="text-truncate">{{ asset.comment if asset.comment }}</span>
                </div>
              </td>

              <td class="align-middle text-end">
                <div class="dropdown dropstart">
                  <a href="#" class="link-secondary" role="button" id="dropdownAction"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ms-2" viewBox="0 0 16 16"><path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/></svg>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownAction">
                    <a class="dropdown-item open-modal" data-modal-id="AssetSettingsModal" data-url="{{ url_for('.asset_settings', asset_id=asset.id) }}">Изменить</a>
                    <a class="dropdown-item link-danger {{ 'open-modal-confirmation' if asset.can_delete else 'opacity-25 disabled' }}" data-title="Удалить {{ asset.name }}?"
                      data-id="{{ asset.id }}">
                      Удалить
                    </a>
                  </div>
                </div>
              </td>

              <!-- For sorting -->
              <td class="visually-hidden">{{ asset.cost_now }}</td>
              <td class="visually-hidden">{{ asset.profit }}</td>
              <td class="visually-hidden">{{ (asset.total_spent / portfolio.total_spent * 100) if portfolio.total_spent }}</td>

            </tr>
          {% endfor %}
        </tbody>
      </table>

      <!-- Actions buttons -->
      <div class="sticky-bottom-buttons">
        <a class="open-modal-confirmation" data-action="delete" data-title="Удалить активы?">Удалить</a>
      </div>

    </form>
  </div>
{% else %}
  <div class="nothing-box">Пока ничего нет...</div>
{% endif %}

<div class="convert-text" data-convert-to="textarea" data-name="comment"
  data-url="{{ url_for('.portfolio_settings_update', portfolio_id=portfolio.id) }}">
  <span class="convert-data">{{ portfolio.comment if portfolio.comment }}</span>
  <span>{{ 'Добавить комментарий' if not portfolio.comment }}</span>
</div>

{% if not request.args.get('only_content') %}
<script>
  // Add New Asset
  $('body').on("click", '.select-asset', function () {
    var ticker_id = "?ticker_id=" + $(this).attr('data-ticker-id'),
      url = "{{ url_for('.asset_add', portfolio_id=portfolio.id) }}" + ticker_id,
      $modal = $(this).closest('.modal'),
      pre_modal_id = $modal.attr('data-pre-modal-id');

    $modal.modal('hide');

    $.get(url).done(function (data) {
      LoadToModal('AssetInfoModal', data, true, pre_modal_id);
    })
  });
</script>
{% endif %}
{% endblock %}
