{% extends "modal_base.html" %}
{% set modal_fullscreen = False %}

{% set modal_title = gettext('Edit portfolio') if portfolio else gettext('Create portfolio') %}

{% block content %}
<form data-url="{{ url_for('.portfolio_settings_update', portfolio_id=portfolio.id if portfolio else None) }}">
  <div class="row g-2">

    <div class="col-md-6">
      <div class="mb-1">
        <label class="form-label h7">{% trans %}Name{% endtrans %}</label>
        <input type="text" class="form-control rounded-3 focus" name="name" value="{{ portfolio.name if portfolio }}" required>
      </div>
    </div>

    <div class="col-md-6 mb-1" id="market-class">
      <label class="form-label h7">{% trans %}Market{% endtrans %}</label>
      <select name="market" class="form-select"
        value="{{ portfolio.market if portfolio }}" {{ 'disabled' if portfolio }} required>
        <option {{ 'selected' if portfolio.market == 'crypto' }} value="crypto">{% trans %}Crypto{% endtrans %}</option>
        <option {{ 'selected' if portfolio.market == 'stocks' }} value="stocks">{% trans %}Stocks{% endtrans %}</option>
        <option {{ 'selected' if portfolio.market == 'other' }} value="other">{% trans %}Other{% endtrans %}</option>
      </select>
    </div>

    <div class="col-12">
      <div class="mb-1">
        <label class="form-label h7">{% trans %}Planned portfolio percentage{% endtrans %}</label>
        <div class="input-group">
          <span class="input-prefix">%</span>
          <input type="number" step="any" class="form-control rounded-3" placeholder="0,00" name="percent" value="{{ portfolio.percent|smart_int if portfolio.percent }}">
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="mb-3">
        <label class="form-label h7">{% trans %}Comment{% endtrans %}</label>
        <textarea class="form-control" name="comment">{{ portfolio.comment if portfolio }}</textarea>
      </div>
    </div>
  </div>
  <button class="btn btn-primary rounded-3 w-100" type="submit">{{ modal_title }}</button>
</form>
{% endblock %}
