{% if not request.args.get('only_content') %}
  {% extends "modal_base.html" %}
  {% set modal_fullscreen = True %}
{% endif %}

{% block content %}
<div class="mb-5">
  <div class="row xs-mb-3">
    <div class="col-auto">
      <h1>{{ portfolio.name }}</h1>
    </div>
    <div class="col-auto ms-auto">
      <button class="btn btn-primary open-modal" type="button" data-modal-id="AddAssetModal"
        data-url="{{ url_for('portfolio.asset_add_modal', market=portfolio.market, portfolio_id=portfolio.id) }}">
        {% trans %}Добавить актив{% endtrans %}
      </button>

      <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        {% trans %}Еще{% endtrans %}
      </button>
      <div class="dropdown-menu">
        <button class="dropdown-item open-modal" type="button" data-modal-id="PortfolioSettingsModal"
          data-url="{{ url_for('.portfolio_settings', portfolio_id=portfolio.id) }}">
          {% trans %}Изменить портфель{% endtrans %}
        </button>
        <form id="PortfolioActions" action="{{ url_for('.portfolios_action') }}">
          <button class="dropdown-item link-danger open-modal-confirmation" 
            type="button" data-form="#PortfolioActions" data-pre-need-clean="true"
            {% if portfolio.is_empty() %}
              data-title="{% trans name=portfolio.name %}Удалить портфель {{ name }}?{% endtrans %}"
              data-action="delete"
            {% else %}
              data-title="{% trans name=portfolio.name %}Удалить портфель {{ name }} с содержимым?{% endtrans %}"
              data-text="{% trans %}Все активы и транзакции в этом портфеле будут удалены{% endtrans %}"
              data-action="delete_with_contents"
            {% endif %}
            data-id="{{ portfolio.id }}">
            {% trans %}Удалить портфель{% endtrans %}
          </button>
        </form>
      </div>

    </div>
  </div>
  {% include 'flash_messages.html' %}
</div>

{% if portfolio.assets %}
  <div class="row xs-mb-3">

    <div class="col-auto">
      <p class="small-text">{% trans %}Вложено{% endtrans %} / {% trans %}Стоимость сейчас{% endtrans %}</p>
      <span class="text-average">{{ portfolio.amount|currency_price(round_per=1) }} /</span>
      <span class="text-average {{ portfolio.color }}">{{ portfolio.cost_now|currency_price(round_per=1) }}</span>
    </div>

    <div class="col-auto">
      <p class="small-text">{% trans %}Прибыль{% endtrans %} / {% trans %}Убыток{% endtrans %}</p>
      <span class="text-average {{ portfolio.color }}">
        {{ portfolio.profit|currency_price(round_per=1) }}
        {{ '({}%)'.format(portfolio.profit_percent) if portfolio.profit_percent }}
      </span>
    </div>

    <div class="col-auto">
      <p class="small-text">{% trans %}Доля от всех инвестиций{% endtrans %}</p>
      <span class="text-average">
        {{ (portfolio.amount / portfolios.amount * 100)|round(1, 'common')|smart_int|string if portfolios.amount else 0 }}%
        / {{ portfolio.percent|smart_int|string + '%' if portfolio.percent else '-' }}
      </span>
    </div>

    <div class="col-auto">
      <p class="small-text">{% trans %}В ордерах{% endtrans %}</p>
      <span class="text-average">{{ portfolio.in_orders|currency_price(round_per=1) }}</span>
    </div>

    <div class="col-auto">
      <p class="small-text">{% trans %}Количество активов{% endtrans %}</p>
      <span class="text-average">{{ portfolio.assets|length}}</span>
    </div>

  </div>

  <div class="big-table pt-3 pb-3">
    {% set tab_name = 'portfolio_info' %}
    {% set sort_name = session[tab_name].get('field') if session.get(tab_name) and session[tab_name].get('field') else 'cost_now' %}
    {% set sort_order = session[tab_name].get('sort_order') if session.get(tab_name) and session[tab_name].get('sort_order') else 'desc' %}
    <form id="AssetsAction" action="{{ url_for('portfolio.assets_action', portfolio_id=portfolio.id) }}">
      
      <table class="table table-sm align-middle bootstrap-table" data-name="{{ tab_name }}"
        data-search="true" data-sort-name="{{ sort_name }}" data-sort-order="{{ sort_order }}"
        data-sort-url="{{ url_for('portfolio.change_table_sort') }}" data-pagination="true">
        <thead>
          <tr>
            <th class="main-tab-checkbox">
              <input class="form-check-input check-all" type="checkbox">
            </th>
            <th data-sortable="true" data-field="name">{% trans %}Название{% endtrans %}</th>
            <th>{% trans %}Цена{% endtrans %} / {% trans %}Средняя цена покупки{% endtrans %}</th>
            <th data-sortable="true" data-field="cost_now" data-sort-name="_cost_now">{% trans %}Активы{% endtrans %}</th>
            <th data-sortable="true" data-field="profit" data-sort-name="_profit">{% trans %}Прибыль{% endtrans %} / {% trans %}Убыток{% endtrans %}</th>
            <th data-sortable="true" data-field="percent" data-sort-name="_percent">{% trans %}Доля от портфеля{% endtrans %}</th>
            <th data-sortable="true" data-field="in_orders" data-sort-name="_in_orders">{% trans %}В ордерах{% endtrans %}</th>
              <th>{% trans %}Комментарий{% endtrans %}</th>
            <th></th>
            <!-- For sorting -->
            <th class="visually-hidden" data-field="_cost_now"></th>
            <th class="visually-hidden" data-field="_profit"></th>
            <th class="visually-hidden" data-field="_percent"></th>
            <th class="visually-hidden" data-field="_in_orders"></th>
          </tr>
        </thead>
        <tbody>
          {% for asset in portfolio.assets %}
            <tr>
              <td>
                <input class="form-check-input to-check" type="checkbox" value="{{ asset.id }}">
              </td>

              <td>
                <div class="text-average open-modal d-flex gap-2 name" data-modal-id="AssetInfoModal" 
                  data-url="{{ url_for('.asset_info', portfolio_id=portfolio.id, asset_id=asset.id) }}">

                  {% if asset.ticker.image %}
                    <img class="img-asset-min" loading="lazy" src="{{ url_for('static', filename='images/tickers/' + portfolio.market + '/24/' + asset.ticker.image) }}">
                  {% else %}
                    <span class="img-asset-min bg-secondary-subtle"></span>
                  {% endif %}
                  <span class="text-truncate" title="{{ asset.ticker.name }}">{{ asset.ticker.name }}</span>
                  <span class="text-muted">{{ asset.ticker.symbol|upper }}</span>
                </div>
              </td>

              <td>
                <div class="mx-1 text-nowrap">
                  {{ asset.price|currency_price(round_per=1, default='-') }} / {{ (asset.amount / asset.quantity)|currency_price(round_per=1, default='-') if asset.quantity else '-' }}
                </div>
              </td>

              <td>
                <div class="mx-1 text-nowrap">
                  {% if asset.quantity > 0 %}
                    {{ asset.amount|currency_price(round_per=1, default='-') if asset.amount > 0 }} /
                    <span class="{{ asset.color }}">{{ asset.cost_now|currency_price(round_per=1, default='-') }}</span><br>
                    <span class="text-average small-text">
                      {{ asset.quantity|currency_quantity(round_per=1, currency=asset.ticker.symbol) }}
                    </span>
                  {% else %}
                    -
                  {% endif %}
                </div>
              </td>

              <td>
                <div class="mx-1 text-nowrap">
                  {% if asset.quantity > 0 %}
                    <span class="{{ asset.color }}">
                      {{ asset.profit|currency_price(round_per=1) }}
                      {{ '({}%)'.format(asset.profit_percent) if asset.profit_percent }}
                    </span>
                  {% else %}
                    -
                  {% endif %}
                </div>
              </td>

              <td>
                {% if portfolio.amount and asset.amount %}
                  {{ (asset.amount / portfolio.amount * 100)|round(1, 'common')|smart_int }}% /
                {% else %}
                  - /
                {% endif %}
                {{ asset.percent|round(1, 'common')|smart_int|string + '%' if asset.percent else '-' }}
              </td>

              <td>{{ asset.in_orders|currency_price(round_per=1, default='-') }}</td>

              <td>
                <div class="d-flex comment">
                  <span class="text-truncate">{{ asset.comment if asset.comment }}</span>
                </div>
              </td>

              <td class="align-middle text-end">
                <div class="dropdown dropstart">
                  <a href="#" class="link-secondary" role="button" id="dropdownAction"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ms-2" viewBox="0 0 16 16"><path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/></svg>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownAction">
                    <a class="dropdown-item open-modal" data-modal-id="AssetSettingsModal"
                      data-url="{{ url_for('.asset_settings', portfolio_id=portfolio.id, asset_id=asset.id) }}">
                      {% trans %}Изменить актив{% endtrans %}
                    </a>
                    <a class="dropdown-item link-danger open-modal-confirmation"
                      {% if asset.is_empty() %}
                        data-title="{% trans name=asset.ticker.name %}Удалить актив {{ name }}?{% endtrans %}"
                        data-action="delete"
                      {% else %}
                        data-title="{% trans name=asset.ticker.name %}Удалить актив {{ name }} с содержимым?{% endtrans %}"
                        data-text="{% trans %}Все транзакции в этом активе будут удалены{% endtrans %}"
                        data-action="delete_with_contents"
                      {% endif %}
                      data-id="{{ asset.id }}">
                      {% trans %}Удалить актив{% endtrans %}
                    </a>
                  </div>
                </div>
              </td>

              <!-- For sorting -->
              <td class="visually-hidden">{{ asset.cost_now }}</td>
              <td class="visually-hidden">{{ asset.profit }}</td>
              <td class="visually-hidden">{{ (asset.amount / portfolio.amount * 100) if portfolio.amount }}</td>
              <td class="visually-hidden">{{ asset.in_orders }}</td>

            </tr>
          {% endfor %}
        </tbody>
      </table>

      <!-- Actions buttons -->
      <div class="sticky-bottom-buttons">
        <a class="open-modal-confirmation" data-action="delete_if_empty"
          data-title="{% trans %}Удалить активы?{% endtrans %}"
          data-text="{% trans %}Будут удалены только пустые активы{% endtrans %}">
          {% trans %}Удалить{% endtrans %}</a>
        <a class="open-modal-confirmation" data-action="delete"
          data-title="{% trans %}Удалить активы с содержимым?{% endtrans %}"
          data-text="{% trans %}Все транзакции в этих активах будут удалены{% endtrans %}">
          {% trans %}Удалить с содержимым{% endtrans %}</a>
      </div>
    </form>
  </div>
{% else %}
  <div class="nothing-box">{% trans %}Пока ничего нет...{% endtrans %}</div>
{% endif %}

<div class="convert-text" data-convert-to="textarea" data-name="comment" data-placeholder="{{ gettext('Добавить комментарий') }}"
  data-url="{{ url_for('.portfolio_settings_update', portfolio_id=portfolio.id) }}">
  <span class="convert-data">{{ portfolio.comment if portfolio.comment }}</span>
</div>

{% endblock %}
