{% if not request.args.get('only_content') %}
  {% extends "base.html" %}
  {% block title %}{% trans %}Портфели{% endtrans %}{% endblock %}
{% endif %}

{% block content %}
<div class="mb-5">
  <div class="row xs-mb-3">
    <div class="col-auto">
      <h1>{% trans %}Портфели{% endtrans %}</h1>
    </div>
    <div class="col-auto ms-auto">
      <button class="btn btn-primary open-modal" type="button" data-modal-id="PortfolioSettingsModal" data-url="{{ url_for('.portfolio_settings') }}">
        {% trans %}Добавить портфель{% endtrans %}
      </button>
    </div>
  </div>
  {% include 'flash_messages.html' %}
</div>

{% if current_user.portfolios %}
  <div class="row xs-mb-3">

    <div class="col-auto">
      <p class="small-text">{% trans %}Вложено{% endtrans %} / {% trans %}Стоимость сейчас{% endtrans %}</p>
      <span class="text-average">
        {{ portfolios.amount|user_currency('big') }} / 
        <span class="{{ portfolios.color }}">{{ portfolios.cost_now|user_currency('big') }}</span>
      </span>
    </div>

    <div class="col-auto">
      <p class="small-text">{% trans %}Прибыль{% endtrans %} / {% trans %}Убыток{% endtrans %}</p>
        <span class="text-average {{ portfolios.color }}">
          {{ portfolios.profit|user_currency('big') }}
          {{ '({}%)'.format(portfolios.profit_percent) if portfolios.profit_percent }}
        </span>
    </div>

    <div class="col-auto">
      <p class="small-text">{% trans %}В ордерах{% endtrans %}</p>
      <span class="text-average">
        {{ portfolios.in_orders|user_currency('big') }}
      </span>
    </div>

  </div>

  <div class="big-table">
    {% set tab_name = 'portfolios' %}
    {% set sort_name = session[tab_name].get('field') if session.get(tab_name) and session[tab_name].get('field') else 'total_spent' %}
    {% set sort_order = session[tab_name].get('sort_order') if session.get(tab_name) and session[tab_name].get('sort_order') else 'desc' %}
    <form id="PortfoliosForm" action="{{ url_for('.portfolios_action') }}">
      <table class="table table-sm align-middle bootstrap-table" data-name="{{ tab_name }}"
        data-search="true" data-sort-name="{{ sort_name }}" data-sort-order="{{ sort_order }}"
        data-sort-url="{{ url_for('portfolio.change_table_sort') }}">
        <thead>
          <tr>
            <th class="main-tab-checkbox">
              <input class="form-check-input check-all" type="checkbox">
            </th>
            <th data-sortable="true" data-field="name" data-sort-name="_name">{% trans %}Название{% endtrans %}</th>
            <th data-sortable="true" data-field="total_spent" data-sort-name="_total_spent">{% trans %}Вложено{% endtrans %}</th>
            <th data-sortable="true" data-field="cost_now" data-sort-name="_cost_now">{% trans %}Стоимость сейчас{% endtrans %}</th>
            <th data-sortable="true" data-field="profit" data-sort-name="_profit">{% trans %}Прибыль{% endtrans %} / {% trans %}Убыток{% endtrans %}</th>
            <th data-sortable="true" data-field="percent" data-sort-name="_percent">{% trans %}Доля от всех инвестиций{% endtrans %}</th>
            <th data-sortable="true" data-field="in_orders" data-sort-name="_in_orders">{% trans %}В ордерах{% endtrans %}</th>
            <th>{% trans %}Комментарий{% endtrans %}</th>
            <th></th>
            <!-- For sorting -->
            <th class="visually-hidden" data-field="_name"></th>
            <th class="visually-hidden" data-field="_total_spent"></th>
            <th class="visually-hidden" data-field="_cost_now"></th>
            <th class="visually-hidden" data-field="_profit"></th>
            <th class="visually-hidden" data-field="_percent"></th>
            <th class="visually-hidden" data-field="_in_orders"></th>
          </tr>
        </thead>

        <tbody>
          {% for portfolio in current_user.portfolios %}
            <tr>
              <td>
                <input class="form-check-input to-check" type="checkbox" value="{{ portfolio.id }}">
              </td>

              <td class="text-average">
                <div class="open-modal d-grid name" data-modal-id="PortfolioInfoModal" data-url="{{ url_for('.portfolio_info', portfolio_id=portfolio.id) }}">
                  <span class="text-truncate" title="{{ portfolio.name }}">{{ portfolio.name }}</span>
                  <span class="text-muted small-text">{{ gettext(portfolio.market)|capitalize }}</span>
                </div>
              </td>

              <td>{{ portfolio.amount|user_currency('big') if portfolio.amount else '-' }}</td>

              <td>
                <span class="{{ portfolio.color }}">
                  {{ portfolio.cost_now|user_currency('big') if portfolio.cost_now else '-' }}
                </span>
              </td>

              <td>
                {% if portfolio.cost_now %}
                  <span class="{{ portfolio.color }}">
                    {{ portfolio.profit|user_currency('big') }}
                    {{ '({}%)'.format(portfolio.profit_percent) if portfolio.profit_percent }}
                  </span>
                {% else %}
                  -
                {% endif %}
              </td>
              
              <td>
                {{ (portfolio.amount / portfolios.amount * 100)|round(1, 'common')|smart_int|string + '%' if portfolio.cost_now and portfolios.amount else '-' }}
                / {{ portfolio.percent|smart_int|string + '%' if portfolio.percent else '-' }}
              </td>

              <td>
                {{ portfolio.in_orders|user_currency('big') if portfolio.in_orders else '-' }}
              </td>

              <td>
                <div class="d-flex comment">
                  <span class="text-truncate">{{ portfolio.comment if portfolio.comment }}</span>
                </div>
              </td>

              <td class="align-middle text-end">
	              <div class="dropdown dropstart">
	                <a href="#" class="link-secondary" role="button" id="dropdownAction" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ms-2" viewBox="0 0 16 16"><path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/></svg>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownAction">
                    <a class="dropdown-item open-modal" data-modal-id="PortfolioSettingsModal"
                      data-url="{{ url_for('.portfolio_settings', portfolio_id=portfolio.id) }}">
                      {% trans %}Изменить портфель{% endtrans %}
                    </a>
                      <a class="dropdown-item link-danger open-modal-confirmation"
                        {% if portfolio.is_empty() %}
                          data-title="{% trans name=portfolio.name %}Удалить портфель {{ name }}?{% endtrans %}"
                          data-action="delete"
                        {% else %}
                          data-title="{% trans name=portfolio.name %}Удалить портфель {{ name }} с содержимым?{% endtrans %}"
                          data-text="{% trans %}Все активы и транзакции в этом портфеле будут удалены{% endtrans %}"
                          data-action="delete_with_contents"
                        {% endif %}
                        data-id="{{ portfolio.id }}">
                        {% trans %}Удалить портфель{% endtrans %}
                      </a>
                  </div>
                </div>
              </td>

              <!-- For sorting -->
              <td class="visually-hidden">{{ portfolio.name }}</td>
              <td class="visually-hidden">{{ portfolio.amount }}</td>
              <td class="visually-hidden">{{ portfolio.cost_now }}</td>
              <td class="visually-hidden">{{ portfolio.profit }}</td>
              <td class="visually-hidden">{{ (portfolio.cost_now / portfolios.cost_now * 100) if portfolios.cost_now }}</td>
              <td class="visually-hidden">{{ portfolio.in_orders }}</td>

            </tr>
          {% endfor %}
        </tbody>
      </table>

      <!-- Actions buttons -->
      <div class="sticky-bottom-buttons">
        <a class="open-modal-confirmation" data-action="delete_if_empty"
          data-title="{% trans %}Удалить портфели?{% endtrans %}"
          data-text="{% trans %}Будут удалены только пустые портфели{% endtrans %}">
          {% trans %}Удалить{% endtrans %}</a>
        <a class="open-modal-confirmation" data-action="delete"
          data-title="{% trans %}Удалить портфели с содержимым?{% endtrans %}"
          data-text="{% trans %}Все активы и транзакции в этих портфелях будут удалены{% endtrans %}">
          {% trans %}Удалить с содержимым{% endtrans %}</a>
      </div>

    </form>
  </div>
{% else %}
  <div class="nothing-box">{% trans %}Пока ничего нет...{% endtrans %}</div>
{% endif %}

{% endblock %}
