{% set only_content = request.args.get('only_content') %}

{% if not only_content %}
  {% extends "base.html" %}
  {% block title %}{% trans %}Portfolios{% endtrans %}{% endblock %}
{% endif %}

{% block content %}
<div class="mb-5">
  <div class="row xs-mb-3">
    <div class="col-auto">
      <h1>{% trans %}Portfolios{% endtrans %}</h1>
    </div>
    <div class="col-auto ms-auto">
      <button class="btn btn-primary open-modal" type="button" data-modal-id="PortfolioSettingsModal" data-url="{{ url_for('.portfolio_settings') }}">
        {% trans %}Create portfolio{% endtrans %}
      </button>
    </div>
  </div>
  {% include 'flash_messages.html' %}
</div>

{% if current_user.portfolios %}
  <div class="row xs-mb-3">
    
    <div class="col-auto">
      <p class="small-text">{% trans %}Total spent{% endtrans %} / {% trans %}Cost now{% endtrans %}</p>
      <span class="text-average">
        {{ all_portfolios.amount_usd|user_currency }} / 
        <span class="{{ all_portfolios.color }}">
          ${{ all_portfolios.cost_now|user_currency }}
        </span>
      </span>
    </div>

    <div class="col-auto">
      <p class="small-text">{% trans %}Profit{% endtrans %} / {% trans %}Loss{% endtrans %}</p>
        <span class="text-average {{ all_portfolios.color }}">
          {{ all_portfolios.profit|user_currency }}
          {{ '({}%)'.format(all_portfolios.profit_percent) if all_portfolios.profit_percent }}
        </span>
    </div>

    <div class="col-auto">
      <p class="small-text">{% trans %}Money in orders{% endtrans %}</p>
      <span class="text-average">
        {{ all_portfolios.in_orders|user_currency }}
      </span>
    </div>

  </div>

  <div class="big-table">
    {% set tab_name = 'portfolios' %}
    {% set sort_name = session[tab_name].get('field') if session.get(tab_name) and session[tab_name].get('field') else 'total_spent' %}
    {% set sort_order = session[tab_name].get('sort_order') if session.get(tab_name) and session[tab_name].get('sort_order') else 'desc' %}
    <form id="PortfoliosForm" action="{{ url_for('.portfolios_action') }}">
      <table class="table table-sm align-middle bootstrap-table" data-name="{{ tab_name }}"
        data-search="true" data-sort-name="{{ sort_name }}" data-sort-order="{{ sort_order }}"
        data-sort-url="{{ url_for('portfolio.change_table_sort') }}">
        <thead>
          <tr>
            <th class="main-tab-checkbox">
              <input class="form-check-input check-all" type="checkbox">
            </th>
            <th data-sortable="true" data-field="name" data-sort-name="_name">{% trans %}Name{% endtrans %}</th>
            <th data-sortable="true" data-field="total_spent" data-sort-name="_total_spent">{% trans %}Total spent{% endtrans %}</th>
            <th data-sortable="true" data-field="cost_now" data-sort-name="_cost_now">{% trans %}Cost now{% endtrans %}</th>
            <th data-sortable="true" data-field="profit" data-sort-name="_profit">{% trans %}Profit{% endtrans %} / {% trans %}Loss{% endtrans %}</th>
            <th data-sortable="true" data-field="percent" data-sort-name="_percent">{% trans %}Share of total investments{% endtrans %}</th>
            <th data-sortable="true" data-field="in_orders" data-sort-name="_in_orders">{% trans %}Money in orders{% endtrans %}</th>
            <th>{% trans %}Comment{% endtrans %}</th>
            <th></th>
            <!-- For sorting -->
            <th class="visually-hidden" data-field="_name">Name</th>
            <th class="visually-hidden" data-field="_total_spent">Total spent</th>
            <th class="visually-hidden" data-field="_cost_now">Cost now</th>
            <th class="visually-hidden" data-field="_profit">Profit</th>
            <th class="visually-hidden" data-field="_percent">%</th>
            <th class="visually-hidden" data-field="_in_orders">Orders</th>
          </tr>
        </thead>

        <tbody>
          {% for portfolio in current_user.portfolios %}
            <tr>
              <td>
                <input class="form-check-input to-check" type="checkbox" value="{{ portfolio.id }}">
              </td>

              <td class="text-average">
                <div class="open-modal d-grid name" data-modal-id="PortfolioInfoModal" data-url="{{ url_for('.portfolio_info', portfolio_id=portfolio.id) }}">
                  <span class="text-truncate" title="{{ portfolio.name }}">{{ portfolio.name }}</span>
                  <span class="text-muted small-text">{{ gettext(portfolio.market)|capitalize }}</span>
                </div>
              </td>

              <td>{{ portfolio.amount_usd|user_currency if portfolio.amount_usd else '-' }}</td>

              <td>
                <span class="{{ portfolio.color }}">
                  {{ portfolio.cost_now|user_currency if portfolio.cost_now else '-' }}
                </span>
              </td>

              <td>
                {% if portfolio.cost_now %}
                  <span class="{{ portfolio.color }}">
                    {{ portfolio.profit|user_currency }}
                    {{ '({}%)'.format(portfolio.profit_percent) if portfolio.profit_percent }}
                  </span>
                {% else %}
                  -
                {% endif %}
              </td>
              
              <td>
                {{ (portfolio.amount_usd / all_portfolios.amount_usd * 100)|round(1, 'common')|smart_int|string + '%' if portfolio.cost_now and all_portfolios.amount_usd else '-' }}
                / {{ portfolio.percent|smart_int |string + '%' if portfolio.percent else '-' }}
              </td>

              <td>
                {{ portfolio.in_orders|user_currency if portfolio.in_orders else '-' }}
              </td>

              <td>
                <div class="d-flex comment">
                  <span class="text-truncate">{{ portfolio.comment if portfolio.comment }}</span>
                </div>
              </td>

              <td class="align-middle text-end">
	              <div class="dropdown dropstart">
	                <a href="#" class="link-secondary" role="button" id="dropdownAction" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ms-2" viewBox="0 0 16 16"><path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/></svg>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownAction">
                    <a class="dropdown-item open-modal" data-modal-id="PortfolioSettingsModal"
                      data-url="{{ url_for('.portfolio_settings', portfolio_id=portfolio.id) }}">
                      {% trans %}Edit portfolio{% endtrans %}
                    </a>
                      <a class="dropdown-item link-danger open-modal-confirmation"
                        {% if portfolio.is_empty %}
                          data-title="{% trans name=portfolio.name %}Remove portfolio {{ name }}?{% endtrans %}"
                          data-action="delete"
                        {% else %}
                          data-title="{% trans name=portfolio.name %}Remove portfolio {{ name }} with contents?{% endtrans %}"
                          data-text="{% trans %}All assets and transactions in this portfolio will be removed{% endtrans %}"
                          data-action="delete_with_contents"
                        {% endif %}
                        data-id="{{ portfolio.id }}">
                        {% trans %}Remove portfolio{% endtrans %}
                      </a>
                  </div>
                </div>
              </td>

              <!-- For sorting -->
              <td class="visually-hidden">{{ portfolio.name }}</td>
              <td class="visually-hidden">{{ portfolio.amount_usd }}</td>
              <td class="visually-hidden">{{ portfolio.cost_now }}</td>
              <td class="visually-hidden">{{ portfolio.profit }}</td>
              <td class="visually-hidden">{{ (portfolio.cost_now / all_portfolios.cost_now * 100) if all_portfolios.cost_now }}</td>
              <td class="visually-hidden">{{ portfolio.in_orders }}</td>

            </tr>
          {% endfor %}
        </tbody>
      </table>

      <!-- Actions buttons -->
      <div class="sticky-bottom-buttons">
        <a class="open-modal-confirmation" data-action="delete"
          data-title="{% trans %}Remove portfolios?{% endtrans %}"
          data-text="{% trans %}Only empty portfolios will be removed{% endtrans %}">
          {% trans %}Remove{% endtrans %}</a>
        <a class="open-modal-confirmation" data-action="delete_with_contents"
          data-title="{% trans %}Remove portfolios with contents?{% endtrans %}"
          data-text="{% trans %}All assets and transactions in these portfolios will be removed{% endtrans %}">
          {% trans %}Remove with contents{% endtrans %}</a>
      </div>

    </form>
  </div>
{% else %}
  <div class="nothing-box">{% trans %}There's nothing yet...{% endtrans %}</div>
{% endif %}

{% endblock %}
