{% extends "modal_base.html" %}
{% set modal_fullscreen = False %}

{% set modal_title = gettext('Изменить портфель') if portfolio else gettext('Добавить портфель') %}

{% block content %}
<form data-url="{{ url_for('.portfolio_settings_update', portfolio_id=portfolio.id if portfolio) }}">
  <div class="row g-2">

    <div class="col-md-6">
      <div class="mb-1">
        <label class="form-label h7">{% trans %}Название{% endtrans %}</label>
        <input type="text" class="form-control rounded-3 focus" name="name" value="{{ portfolio.name if portfolio }}" required>
      </div>
    </div>

    <div class="col-md-6 mb-1" id="market-class">
      <label class="form-label h7">{% trans %}Рынок{% endtrans %}</label>
      <select name="market" class="form-select"
        value="{{ portfolio.market if portfolio }}" {{ 'disabled' if portfolio }} required>
        <option {{ 'selected' if portfolio.market == 'crypto' }} value="crypto">{% trans %}Крипто{% endtrans %}</option>
        <option {{ 'selected' if portfolio.market == 'stocks' }} value="stocks">{% trans %}Акции{% endtrans %}</option>
        <option {{ 'selected' if portfolio.market == 'other' }} value="other">{% trans %}Другое{% endtrans %}</option>
      </select>
    </div>

    <span class="mb-3 cursor-pointer text-primary show-more">+ {% trans %}Еще{% endtrans %}</span>

    <div class="show-more-content" style="display: none;">
      <div class="col-12">
        <div class="mb-1">
          <label class="form-label h7">{% trans %}Планируемый процент портфеля{% endtrans %}</label>
          <div class="input-group">
            <span class="input-prefix">%</span>
            <input type="number" step="any" class="form-control rounded-3" placeholder="0,00" name="percent" value="{{ portfolio.percent|smart_int if portfolio.percent }}">
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="mb-3">
          <label class="form-label h7">{% trans %}Комментарий{% endtrans %}</label>
          <textarea class="form-control" name="comment">{{ portfolio.comment if portfolio }}</textarea>
        </div>
      </div>
    </div>

  </div>
  <button class="btn btn-primary rounded-3 w-100" type="submit">{{ modal_title }}</button>
</form>
{% endblock %}
