{% set only_content = request.args.get('only_content') %}

{% if not only_content %}
  {% extends "base.html" %}
  {% block title %} Портфели {% endblock %}
{% endif %}

{% block content %}
<div class="mb-5">
  <div class="row xs-mb-3">
    <div class="col-auto">
      <h1>Портфели</h1>
    </div>
    <div class="col-auto ms-auto">
      <button class="btn btn-primary open-modal" type="button" data-modal-id="PortfolioSettingsModal" data-url="{{ url_for('.portfolio_settings') }}">Добавить портфель</button>
    </div>
  </div>
</div>

{% if portfolio_list %}
  {% if all.total_spent %}
    <div class="row xs-mb-3">

      <div class="col-auto">
        <p class="small_text">Вложено / сейчас</p>
        <span class="text-average">
          ${{ all.total_spent|int|number_group }} / 

          <span class="{{ 'text-green' if all.profit|int > 0 }} {{ 'text-red' if all.profit|int < 0 }}">
            ${{ all.cost_now|int|number_group }}
          </span>
        </span>
      </div>

      <div class="col-auto">
        <p class="small_text">Прибыль / убыток</p>
          <span class="text-average {{ 'text-green' if all.profit|int > 0 }} {{ 'text-red' if all.profit|int < 0 }}">
            {{ '-' if all.profit|int < 0 }}${{ all.profit|int|abs|number_group }}
            {% if all.profit|int and all.total_spent %}
              ({{ (all.profit / all.total_spent * 100)|int|abs }}%)
            {% endif %}
          </span>
      </div>

    </div>
  {% endif %}

  <div class="big-table">
    <form id="PortfoliosForm" action="{{ url_for('.portfolios_action') }}">
      <table class="table table-sm align-middle table-hover bootstrap-table" data-search="true">
        <thead>
          <tr>
            <th class="main-tab-checkbox">
              <input class="form-check-input check-all" type="checkbox">
            </th>
            <th data-sortable="true" data-sort-name="name">Наименование</th>
            <th data-sortable="true" data-sort-name="total_spent">Вложено</th>
            <th data-sortable="true" data-sort-name="cost_now">Стоимость сейчас</th>
            <th data-sortable="true" data-sort-name="profit">Прибыль / убыток</th>
            <th data-sortable="true" data-sort-name="percent">% от всех инвестиций</th>
            <th>Комментарий</th>
            <th></th>
            <!-- For sorting -->
            <th class="visually-hidden" data-sortable="true" data-field="name">Наименование</th>
            <th class="visually-hidden" data-sortable="true" data-field="total_spent">Вложено</th>
            <th class="visually-hidden" data-sortable="true" data-field="cost_now">Стоимость сейчас</th>
            <th class="visually-hidden" data-sortable="true" data-field="profit">Прибыль</th>
            <th class="visually-hidden" data-sortable="true" data-field="percent">%</th>
          </tr>
        </thead>

        <tbody>
          {% for portfolio in portfolio_list %}
            <tr>
              <td>
                <input class="form-check-input to-check" type="checkbox" value="{{ portfolio.id }}">
              </td>


              <td class="text-average">
                <div class="open-modal d-grid name" data-modal-id="PortfolioInfoModal" data-url="{{ url_for('.portfolio_info', portfolio_id=portfolio.id) }}">
                  <span class="text-truncate" title="{{ portfolio.name }}">{{ portfolio.name }}</span>
                  <span class="text-muted small_text">{{ portfolio.market }}</span>
                </div>
              </td>

              <td>{{ '$' + portfolio.total_spent|int|number_group if portfolio.total_spent else '-' }}</td>

              <td>{{ '$' + portfolio.cost_now|int|number_group if portfolio.cost_now else '-' }}</td>

              <td>
                {% if portfolio.cost_now %}
                  <span class="{{ 'text-green' if portfolio.profit|int > 0 }} {{ 'text-red' if portfolio.profit|int < 0 }}">
                    {{ '-' if portfolio.profit|int < 0 }}${{ portfolio.profit|int|abs|number_group }}
                  </span>
                {% else %}
                  -
                {% endif %}
              </td>
              
              <td>
                {% if portfolio.cost_now %}
                  {{ (portfolio.cost_now / all.cost_now * 100)|round(1, 'common')|smart_int }}%
                {% else %}
                -
                {% endif %}
              </td>

              <td>
                <div class="d-flex comment">
                  <span class="text-truncate">{{ portfolio.comment if portfolio.comment }}</span>
                </div>
              </td>

              <td class="align-middle text-end">
	              <div class="dropdown dropstart">
	                <a href="#" class="link-secondary" role="button" id="dropdownAction" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ms-2" viewBox="0 0 16 16"><path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/></svg>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownAction">
                    <a class="dropdown-item open-modal" data-modal-id="PortfolioSettingsModal" data-url="{{ url_for('.portfolio_settings', portfolio_id=portfolio.id) }}">Изменить</a>
                    <a class="dropdown-item link-danger {{ 'open-modal-confirmation' if portfolio.can_delete else 'opacity-25 disabled' }}" data-action="delete" data-title="Удалить портфель {{ portfolio.name }}?" data-id="{{ portfolio.id }}">
                      Удалить
                    </a>
                  </div>
                </div>
              </td>

              <!-- For sorting -->
              <td class="visually-hidden">{{ portfolio.name }}</td>
              <td class="visually-hidden">{{ portfolio.total_spent }}</td>
              <td class="visually-hidden">{{ portfolio.cost_now }}</td>
              <td class="visually-hidden">{{ portfolio.profit }}</td>
              <td class="visually-hidden">{{ (portfolio.cost_now / all.cost_now * 100) if all.cost_now }}</td>

            </tr>
          {% endfor %}
        </tbody>
      </table>

      <!-- Actions buttons -->
      <div class="sticky-bottom-buttons">
        <a class="open-modal-confirmation" data-action="delete" data-title="Удалить портфели?">Удалить</a>
      </div>

    </form>
  </div>
{% else %}
  <div class="nothing-box">Пока ничего нет...</div>
{% endif %}

{% endblock %}
