{% extends "modal_base.html" %}
{% set modal_fullscreen = False %}

{% set modal_title = gettext('Edit transaction') if transaction else gettext('Add transaction') %}

{% block content %}
<form id="TransactionForm" data-url="{{ url_for('.transaction_update', asset_id=asset_id, transaction_id=transaction.id) }}">

  <div class="btn-group silver col-12 mb-3" role="group" id="typetransaction">
    <input type="radio" class="btn-check" name="type" value="+" id="btnradio1" {{ 'checked' if not transaction or transaction.type == '+' }}>
    <label class="btn btn-outline-active btn-sm" for="btnradio1">{% trans %}Buy{% endtrans %}</label>

    <input type="radio" class="btn-check" name="type" value="-" id="btnradio2" {{ 'checked' if transaction and transaction.type == '-' }}>
    <label class="btn btn-outline-not_active btn-sm" for="btnradio2">{% trans %}Sell{% endtrans %}</label>
  </div>

  <div class="form-check mb-3">
    <input class="form-check-input" type="checkbox" value="true" {{ 'checked' if transaction.order }} name="order">
    <label class="form-check-label">{% trans %}Order{% endtrans %}</label>
  </div>

  <div class="row g-2">
    <div class="col-md-6">
      <div class="mb-1">
        <label class="form-label h7">{% trans %}Price{% endtrans %}</label>
        <div class="input-group">
          <span class="input-prefix">$</span>
          <input type="number" step="any" class="form-control rounded-3 focus" placeholder="0,00" name="price"
            autocomplete="off" value="{{ transaction.price if transaction else price }}" required>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-1">
        <label class="form-label h7">{% trans %}Quantity{% endtrans %}</label>
        <input type="number" step="any" class="form-control rounded-3" placeholder="0,00" name="quantity"
          autocomplete="off" value="{{ transaction.quantity|abs|smart_int if transaction }}" required>
      </div>
    </div>
    <div class="col-md-12">
      <div class="mb-1">
        <label class="form-label h7">{% trans %}Transaction amount{% endtrans %}</label>
        <input type="number" step="any" class="form-control rounded-3" placeholder="0,00" name="total_spent"
          autocomplete="off" value="{{ transaction.total_spent|abs|smart_int if transaction }}" required>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-1">
        <label class="form-label h7">{% trans %}Date{% endtrans %}</label>
        <input class="form-control" name="date" type="date" value="{{ transaction.date if transaction else date }}" required>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-1">
        <label class="form-label h7">{% trans %}Wallet{% endtrans %}</label>
        <select name="wallet_id" class="form-select" data-placeholder="-"
          data-url="{{ url_for('wallet.get_all_user_wallets') }}" required>
          {% if transaction %}
            <option selected value="{{ transaction.wallet_id }}">{{ transaction.wallet.name }}</option>
          {% elif current_user.wallets|length == 1 %}
            <option selected value="{{ current_user.wallets[0].id }}">{{ current_user.wallets[0].name }}</option>
          {% endif %}
        </select>
        <div class="open-modal link-primary small-text not-update" data-modal-id="WalletsModal" data-url="{{ url_for('wallet.wallets', modal='true') }}">
          {% trans %}Add new{% endtrans %}
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="mb-3">
        <label class="form-label h7">{% trans %}Comment{% endtrans %}</label>
        <textarea class="form-control" name="comment">{{ transaction.comment if transaction }}</textarea>
      </div>
    </div>
  </div>
  <button class="btn btn-primary rounded-3 w-100" type="submit">{{ modal_title }}</button>
</form>

<script>
  $('#TransactionForm').on('input', 'input', function () {
    var name = $(this).attr('name');
    if (['quantity', 'price', 'total_spent'].includes(name)) {
      var $quantity = $('#TransactionForm input[name=quantity]'),
        $total_spent = $('#TransactionForm input[name=total_spent]'),
        price = $('#TransactionForm input[name=price]').val() || 0,
        quantity = $quantity.val() || 0,
        total_spent = $total_spent.val() || 0;

      if (name == 'quantity') { $total_spent.val(price * quantity || '') }
      else if (name == 'total_spent' && price) { $quantity.val(total_spent / price || '') }
      else if (name == 'price') {
        if (quantity && total_spent) {
          $quantity.val(price ? total_spent / price : '')
        } else if (!quantity && total_spent) {
          $quantity.val(price ? total_spent / price : '')
        } else if (quantity && !total_spent) {
          $total_spent.val(price * quantity || '');
        }
      }
    }
  })
</script>

{% endblock %}
