{% extends "base.html" %}
{% block title %}Not Found{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block link %}
    <button type="button" class="btn btn-light btn-sm" disabled>Портфели</button>
    <button onclick="document.location='{{ url_for('wallets') }}'" type="button" class="btn btn-light btn-sm">Кошельки</button>
    <button onclick="document.location='{{ url_for('tracking_list') }}'" type="button" class="btn btn-light btn-sm">Список отслеживания</button>
    {% if current_user.type == 'admin' %}
        <button onclick="document.location='{{ url_for('admin_index') }}'" type="button" class="btn btn-light btn-sm">Админ</button>
    {% endif %}
{% endblock %}
{% block content %}
<div class="h-100 d-flex align-items-center">
    <div class="w-100">
        <h1 class="text-center">ОЙ!, такой страницы нет</h1>
        <p class="text-center lead">Код 404</p>
    </div>
</div>

{% endblock %}