{% extends "base.html" %}
{% block title %}Not Found{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block link %}
    <button type="button" class="btn btn-light btn-sm" disabled>Портфели</button>
    <button onclick="document.location='{{ url_for('wallets') }}'" type="button" class="btn btn-light btn-sm">Кошельки</button>
    <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Список отслеживания</button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{ url_for('tracking_list', market_id='crypto') }}">Crypto</a></li>
        <li><a class="dropdown-item" href="{{ url_for('tracking_list', market_id='stocks') }}">Stocls</a></li>
    </ul>
{% endblock %}
{% block content %}
<div class="h-100 d-flex align-items-center">
    <div class="w-100">
        <h1 class="text-center">ОЙ!, такой страницы нет</h1>
        <p class="text-center lead">Код 404</p>
    </div>
</div>

{% endblock %}