<!-- Modal About -->
<style>
.modal-header {
    border: none;
}
</style>
<div class="modal fade modal-lg" id="About" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3 w-100 text-center">О проекте</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-center">Отслеживай все свои инвестиции в одном месте. Криптовалюта, акции и другие активы.</p>
            </div>
        </div>
    </div>
</div>