{% extends "base.html" %}
{% block title %} {{ asset.ticker.name }} / {{ asset.portfolio.name }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block link %}
    <button onclick="document.location='{{ url_for('portfolios') }}'" type="button" class="btn btn-light btn-sm">Портфели</button>
    <button onclick="document.location='{{ url_for('portfolio_info', market_id=asset.portfolio.market_id, portfolio_url=asset.portfolio.url) }}'" type="button" class="btn btn-light btn-sm">{{ asset.portfolio.name }}</button>
    <button type="button" class="btn btn-light btn-sm" disabled>{{ asset.ticker.name }}</button>
    <button onclick="document.location='{{ url_for('wallets') }}'" type="button" class="btn btn-light btn-sm">Кошельки</button>
    <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Список отслеживания</button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{ url_for('tracking_list', market_id='crypto') }}">Crypto</a></li>
        <li><a class="dropdown-item" href="{{ url_for('tracking_list', market_id='stocks') }}">Stocls</a></li>
    </ul>
{% endblock %}
{% block content %}
<div class="mb-5">
    <div class="row xs-mb-3">
        <div class="col-auto">
            <h1 class="fs-6 text-muted m-0">{{ asset.ticker.name }} ({{ asset.ticker.symbol|upper }})
                {% if asset.ticker.market_cap_rank %}
                    <span class="badge text-bg-light text-muted">#{{ asset.ticker.market_cap_rank }}</span>
                {% endif %}
                <span class="small_text" title="Обновлено" id="when_updated"></span>
            </h1>
            <div class="hstack gap-2">
                {% if asset.ticker.image %}
                    <img class="img-asset" src="{{ asset.ticker.image }}">
                {% endif %}
                <span class="fs-1 fw-semibold" id="asset-price"> ${{ price }} </span>
            </div>
            <div class="d-flex align-items-end">
                <span class="badge text-bg-light fw-normal cursor-pointer text-muted me-1" data-bs-toggle="modal" data-bs-target="#Alert">
                    <a class="action-icon cursor-pointer text-decoration-none" data-bs-toggle="modal" data-bs-target="#Alert" title="Уведомления">
                        <i class="bi icon bi-bell"></i>
                    </a>
                    {{ 'Добавить уведомление' if asset.alerts == [] else '' }}
                </span>

                <div id="asset-alerts">
                    {% for alert in asset.alerts %}
                        {% if alert.worked %}
                            <span id="alertId{{ alert.id }}" class="badge text-bg-success fw-normal cursor-pointer" data-bs-toggle="modal" data-bs-target="#Alert">${{ alert.price|number_group }}</span>
                        {% elif alert.worked == None %}
                            <span id="alertId{{ alert.id }}" class="badge text-bg-light fw-normal cursor-pointer text-muted" data-bs-toggle="modal" data-bs-target="#Alert">${{ alert.price|number_group }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-auto ms-auto">
            <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#Transaction" data-bs-add_or_change="add" data-bs-order="" data-bs-date="{{ date }}" data-bs-price="{{ price }}" data-bs-wallet="{{ wallets[0].id }}" data-bs-title="Добавить транзакцию">Добавить транзакцию</button>
            <button class="btn btn-warning btn-sm ms-1" type="button" data-bs-toggle="modal" data-bs-target="#Transaction" data-bs-add_or_change="add" data-bs-order="True" data-bs-date="{{ date }}" data-bs-price="{{ price }}" data-bs-wallet="{{ wallets[0].id }}" data-bs-title="Добавить ордер">Ордер</button>
            <button type="button" class="btn btn-light dropdown-toggle btn-sm ms-1" data-bs-toggle="dropdown" aria-expanded="false">Еще</button>
            <ul class="dropdown-menu" style="">
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteTransaction" data-bs-id="{{ asset.id }}" data-bs-action="{{ url_for('asset_delete', market_id=asset.portfolio.market_id, portfolio_url=asset.portfolio.url) }}" data-bs-title="Удалить {{ asset.ticker.name }}?">Удалить {{ asset.ticker.name }}</a></li>
            </ul>
        </div>
    </div>
</div>
{% if  asset.quantity or asset.transactions %}
<div class="row mb-5 xs-mb-3">
    <div class="col-auto">
        <p class="small_text">Количество</p>
        <span class="text-average">{{ asset.quantity|smart_round|number_group }} {{ asset.ticker.symbol|upper }}</span>
    </div>
    <div class="col-auto">
        <p class="small_text">Средняя цена покупки</p>
        <span class="text-average">
            {% if asset.quantity > 0 and asset.total_spent > 0 %}
                ${{ (asset.total_spent / asset.quantity)|smart_round|number_group }}
            {% else %}
                -
            {% endif%}
        </span>
    </div>
    <div class="col-auto">
        <p class="small_text">Всего вложено / сейчас</p>
        <span class="text-average">
            {% if asset.total_spent > 0 %}
                ${{ asset.total_spent|round|int|number_group }} /
            {% else %}
                - /
            {% endif %}
        </span>
        <span class="text-average" id="asset-cost_now"> - </span>
    </div>
    <div class="col-auto">
        <p class="small_text">Прибыль / убыток</p>
        <span class="text-average" id="asset-profit"> - </span>
    </div>
    <div class="col-auto">
        <p class="small_text">% от портфеля</p>
        <span class="text-average">
            {% if asset.portfolio.assets|sum(attribute='total_spent') and asset.total_spent > 0 %}
                {{ (asset.total_spent / asset.portfolio.assets|sum(attribute='total_spent') * 100)|round(1, 'common') }}%
            {% else %}
            -
            {% endif %}
            {% if asset.percent %}
                из {{ asset.percent }}%
            {% endif %}
        </span>
    </div>
</div>
<div class="big-table pt-3 pb-3">
    <table class="table table-sm align-middle">
        <thead>
            <tr>
                <th scope="col">Тип сделки</th>
                <th scope="col">Цена</th>
                <th scope="col">Количество</th>
                <th scope="col">Кошелек</th>
                <th scope="col">Комментарий</th>
                <th scope="col" class="text-end">Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in asset.transactions|sort(reverse=true, attribute="date")|sort(reverse=true, attribute="order") %}
            {% if transaction.order %}
            <tr class="table-order">
            {% else %}
            <tr>
            {% endif %}
                <td>{{ transaction.type }} {{ '(Ордер)' if transaction.order else '' }} <br> <span class="small_text">{{ transaction.date }}</span></td>
                <td>${{ transaction.price|smart_round|number_group }}</td>
                <td>
                    {% if transaction.type == 'Покупка' %}
                        +${{ transaction.total_spent|number_group }} <br> <span class="text-green text-average small_text"> +{{ transaction.quantity|smart_round|number_group }} {{ asset.ticker.symbol|upper }} </span>
                    {% else %}
                        -${{ transaction.total_spent|abs|number_group }} <br> <span class="text-red text-average small_text"> -{{ transaction.quantity|abs|smart_round|number_group }} {{ asset.ticker.symbol|upper }} </span>
                    {% endif %}
                </td>
                <td  class="cursor-pointer" onclick="document.location = '{{ url_for('wallet_info', wallet_name=transaction.wallet.name) }}';">
                    {% if transaction.wallet.name %}
                        {{ transaction.wallet.name }}
                    {% else %}
                        --
                    {% endif %}
                </td>
                <td>{{ transaction.comment if transaction.comment else '--' }}</td>
                <td class="text-end">
                    {% if transaction.order %}
                        <a class="action-icon text-decoration-none" data-bs-toggle="modal" data-bs-target="#ordertoTransaction" data-bs-id="{{ transaction.id }}" title="Ордер сработал">
                            <i class="bi icon bi-check-square"></i>
                        </a>
                    {% endif %}
                    <a class="action-icon text-decoration-none visually-hidden" data-bs-toggle="modal" data-bs-target="#Transaction" data-bs-add_or_change="change" data-bs-id="{{ transaction.id }}" data-bs-price="{{ transaction.price }}" data-bs-total_spent="{{ transaction.total_spent|abs }}" data-bs-date="{{ transaction.date }}" data-bs-wallet="{{ transaction.wallet.id }}" data-bs-comment="{{ transaction.comment }}" data-bs-class="hidden" data-bs-title="Изменить транзакцию" title="Перевод">
                        <i class="bi icon bi-reply-fill"></i>
                    </a>
                    <a class="action-icon text-decoration-none" data-bs-toggle="modal" data-bs-target="#Transaction" data-bs-add_or_change="change" data-bs-id="{{ transaction.id }}" data-bs-price="{{ transaction.price }}" data-bs-total_spent="{{ transaction.total_spent|abs }}" data-bs-date="{{ transaction.date }}" data-bs-wallet="{{ transaction.wallet.id }}" data-bs-comment="{{ transaction.comment }}" data-bs-class="hidden" data-bs-title="Изменить транзакцию" title="Изменить">
                        <i class="bi icon bi-pencil-square"></i>
                    </a>
                    <a class="action-icon text-decoration-none" data-bs-toggle="modal" data-bs-target="#deleteTransaction" data-bs-id="{{ transaction.id }}" data-bs-action="{{ url_for('transaction_delete', market_id=asset.portfolio.market_id, portfolio_url=asset.portfolio.url) }}" data-bs-title="Удалить транзакцию?" title="Удалить">
                        <i class="bi icon bi-trash-fill"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <div class="col-md-12 p-5 mb-3">
        <p class="text-center lead">Пока ничего нет...</p>
    </div>
{% endif %}
<div class="">
    <form method="post" action="{{ url_for('asset_update', market_id=asset.portfolio.market_id, portfolio_url=asset.portfolio.url) }}">
        <input type="hidden" name="id" value="{{ asset.id }}">
        <div class="form-floating pb-2">
            <textarea class="form-control" id="comment" style="height: 100px" name="comment">{{ asset.comment if asset.comment else '' }} </textarea>
            <label for="comment">Комментарий</label>
        </div>
        <div class="position-right">
            <button class="mb-2 btn btn-primary btn-sm" type="submit">Сохранить</button>
        </div>
    </form>
</div>
<!-- Modal Add or Change Transaction-->
<div class="modal fade" id="Transaction" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3">Добавить транзакцию</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class=""  method="post" action="{{ url_for('transaction_add', market_id=asset.portfolio.market_id, portfolio_url=asset.portfolio.url) }}">
                    <input type="hidden" name="id" id="id">
                    <input type="hidden" name="asset_id" value="{{ asset.id }}">
                    <input type="hidden" name="order" id="order">
                    <input type="hidden" name="add_or_change" id="add_or_change">
                    <div class="btn-group silver col-md-12 mb-3" role="group" id="typetransaction">
                        <input type="radio" class="btn-check" name="type" value="Покупка" id="btnradio1" autocomplete="off" checked>
                        <label class="btn btn-outline-active btn-sm" for="btnradio1">Покупка</label>

                        <input type="radio" class="btn-check" name="type" value="Продажа" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-not_active btn-sm" for="btnradio2">Продажа</label>

                    {#--<input type="button" class="btn-check" id="btnradio3" autocomplete="off" data-bs-toggle="modal" data-bs-target="#transferTransaction">
                        <label class="btn btn-outline-not_active btn-sm" for="btnradio3">Перевод</label>
                    --#}
                    </div>
                    <div class="row g-2">
                        <div class="col-md-6">
                            <div class="mb-1">
                                <label for="price" class="form-label h7">Цена</label>
                                <div class="input-group">
                                    <span class="input-prefix">$</span>
                                    <input type="number" step=any class="form-control rounded-3" id="price" placeholder="0,00" name="price" autocomplete="off" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-1">
                                <label for="total_spent" class="form-label h7">На сумму</label>
                                <input type="number" step=any class="form-control rounded-3" id="total_spent" placeholder="0,00" name="total_spent" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-1">
                                <label for="date" class="form-label h7">Дата</label>
                                <input class="form-control silver" id="date" name="date" type="date" value="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-1">
                                <label for="wallet_id" class="form-label h7">Кошелек</label>
                                <select class="form-select" id="wallet_id" name="wallet_id" required>
                                    {% for wallet in wallets %}
                                        <option value="{{ wallet.id }}">{{ wallet.name }}</option>
                                    {% endfor %}
                                 </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="comment" class="form-label h7">Комментарий</label>
                                <textarea class="form-control silver" placeholder="Что можете сказать?" id="comment" name="comment"></textarea>
                            </div>
                        </div>
                    </div>
                    <button class="w-100 mb-2 btn rounded-3 btn-primary btn-title" type="submit">Добавить транзакцию</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Transfer Transaction-->
<div class="modal fade" id="transferTransaction" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3">Перевод</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class=""  method="post" action="">
                    <input type="hidden" name="id" id="id">
                    <input type="hidden" name="asset_id" value="{{ asset.id }}">
                    <input type="hidden" name="order" id="order">
                    <input type="hidden" name="add_or_change" id="add_or_change">
                    <div class="row g-2">
                        <div class="col-md-6">
                            <div class="mb-1">
                                <label for="price" class="form-label h7">Цена</label>
                                <div class="input-group">
                                    <span class="input-prefix">$</span>
                                    <input type="text" class="form-control rounded-3" id="price" placeholder="0,00" name="price" autocomplete="off" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-1">
                                <label for="total_spent" class="form-label h7">На сумму</label>
                                <input type="text" class="form-control rounded-3" id="total_spent" placeholder="0,00" name="total_spent" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-1">
                                <label for="date" class="form-label h7">Дата</label>
                                <input class="form-control silver" id="date" name="date" type="date" value="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-1">
                                <label for="wallet" class="form-label h7">Кошелек</label>
                                <select class="form-select" id="wallet" name="wallet" required>
                                    {% for wallet in wallets %}
                                        <option>{{ wallet.name }}</option>
                                    {% endfor %}
                                 </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="comment" class="form-label h7">Комментарий</label>
                                <textarea class="form-control silver" placeholder="Что можете сказать?" id="comment" name="comment"></textarea>
                            </div>
                        </div>
                    </div>
                    <button class="w-100 mb-2 btn rounded-3 btn-primary btn-title" type="submit">Добавить транзакцию</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Delete -->
<div class="modal fade" id="deleteTransaction" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3">Вы уверенны?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="d-inline" action="{{ url_for('transaction_delete', market_id=asset.portfolio.market_id, portfolio_url=asset.portfolio.url) }}" method="post">
                    <input type="hidden" name="id">
                    <button type="submit" class="w-100 mb-2 btn btn rounded-3 btn-primary btn-delete"><strong>Да</strong></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Convert Order to Transaction-->
<div class="modal fade" id="ordertoTransaction" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3">Ордер сработал?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="d-inline" action="{{ url_for('order_to_transaction', market_id=asset.portfolio.market_id, portfolio_url=asset.portfolio.url) }}" method="post">
                    <input id="id" type="hidden" name="id">
                    <input type="hidden" name="date" value="{{ date }}">
                    <button type="submit" class="w-100 mb-2 btn btn rounded-3 btn-primary"><strong>Да</strong></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Alerts -->
<div class="modal fade" id="Alert" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3">Уведомления</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% if asset.alerts %}
            <div class="modal-body">
                <table class="table table-sm align-middle table-borderless">
                    <tbody>
                        {% for alert in asset.alerts|sort(reverse=true, attribute="price") %}
                            <tr id="alertmodalId{{ alert.id }}">
                                <td>
                                    {% if alert.type == 'down' %}
                                    <span class="text-red">Ниже</span>
                                    {% else %}
                                    <span class="text-green">Выше</span>
                                    {% endif %}
                                    ${{ alert.price }}
                                    <p class="small_text">{{ alert.date }}</p>
                                </td>
                                <td>{{ alert.comment }}</td>
                                <td class="text-end">
                                    {% if alert.comment != 'Ордер' %}
                                    <form action="{{ url_for('alert_delete') }}" method="post">
                                        <input type="hidden" name="id" value="{{ alert.id }}">
                                        <button type="submit" class="btn-close" aria-label="Close"></button>
                                    </form>
                                    {% else %}
                                    <button type="button" class="btn-close opacity-25"></button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            <div class="modal-footer d-flex flex-column">
                <form class=""  method="post" action="{{ url_for('alert_add') }}">
                    <input type="hidden" name="asset_id" value="{{ asset.id }}">
                    <input type="hidden" name="price_now" value="{{ price }}">
                    <div class="row g-2">
                        <div class="col-md-6">
                            <div class="mb-1">
                                <label for="price" class="form-label h7">Цена</label>
                                <div class="input-group">
                                    <span class="input-prefix">$</span>
                                    <input type="text" class="form-control rounded-3" id="price" value="{{ price }}" name="price" autocomplete="off" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="comment" class="form-label h7">Комментарий</label>
                                <textarea class="form-control silver" placeholder="Что можете сказать?" id="comment" name="comment"></textarea>
                            </div>
                        </div>
                    </div>
                  <button class="w-100 mb-2 btn rounded-3 btn-primary btn-title" type="submit">Добавить уведомление</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
// Отправка данных  в форму на добавление или изменение транзакции
var updateModal = document.getElementById('Transaction')
updateModal.addEventListener('show.bs.modal', function (event) {
  var button = event.relatedTarget
  var add_or_change = button.getAttribute('data-bs-add_or_change')
  var modalAdd_or_change = Transaction.querySelector('.modal-body #add_or_change')
  var id = button.getAttribute('data-bs-id')
  var modalId = Transaction.querySelector('.modal-body #id')
  var price = button.getAttribute('data-bs-price')
  var modalPrice = Transaction.querySelector('.modal-body #price')
  var total_spent = button.getAttribute('data-bs-total_spent')
  var modalTotal_spent = Transaction.querySelector('.modal-body #total_spent')
  var date = button.getAttribute('data-bs-date')
  var modalDate = Transaction.querySelector('.modal-body #date')
  var wallet = button.getAttribute('data-bs-wallet')
  var modalWallet = Transaction.querySelector('.modal-body #wallet_id')
  var comment = button.getAttribute('data-bs-comment')
  var modalComment = Transaction.querySelector('.modal-body #comment')
  var order = button.getAttribute('data-bs-order')
  var modalOrder = Transaction.querySelector('.modal-body #order')
  var title = button.getAttribute('data-bs-title')
  var modalTitle = Transaction.querySelector('.modal-title')
  var modalButton = Transaction.querySelector('.btn-title')
  var transaction_class = button.getAttribute('data-bs-class')
  var modalTransaction_class = Transaction.querySelector('.modal-body #typetransaction')

  modalAdd_or_change.value = add_or_change
  modalId.value = id
  modalPrice.value = price
  modalTotal_spent.value = total_spent
  modalDate.value = date
  modalWallet.value = wallet
  modalComment.value = comment
  modalOrder.value = order
  modalTitle.textContent = `${title}`
  modalButton.textContent = `${title}`

if (transaction_class === "hidden")
    {modalTransaction_class.classList.add("visually-hidden");}
else {modalTransaction_class.classList.remove("visually-hidden");}
})

// Отправка данных в форму удаления транзакции или актива
var updateModal = document.getElementById('deleteTransaction')
updateModal.addEventListener('show.bs.modal', function (event) {
  var button = event.relatedTarget
  var id = button.getAttribute('data-bs-id')
  var modalId = deleteTransaction.querySelector('.modal-body input')
  var change_action = button.getAttribute('data-bs-action')
  var modalChange_action = deleteTransaction.querySelector('.modal-body .d-inline')
  var title = button.getAttribute('data-bs-title')
  var modalTitle = deleteTransaction.querySelector('.modal-title')

  modalId.value = id
  modalChange_action.action = change_action
  modalTitle.textContent = `${title}`
})
// Отправка данных в форму перевода ордера в транзакцию
var updateModal = document.getElementById('ordertoTransaction')
updateModal.addEventListener('show.bs.modal', function (event) {
  var button = event.relatedTarget
  var id = button.getAttribute('data-bs-id')
  var modalId = ordertoTransaction.querySelector('.modal-body #id')
  modalId.value = id
})
// Обновление ценовых данных без перезагрузки
const url = {{ url_for('asset_detail', asset_id=asset.id)|tojson }}
const Price = document.getElementById('asset-price');
const costNow = document.getElementById('asset-cost_now');
const Profit = document.getElementById('asset-profit');
const whenUpdated = document.getElementById('when_updated');
var data = {}

async function letsStart() {
   await getDataRequest();
   updatePage();
   }

function updatePage() {
   Price.innerHTML = `$${data.price}`;
   whenUpdated.innerHTML = `${data.when_updated}`;

   if (costNow) {
      costNow.innerHTML = `${data.cost_now}`;
      if (data.profit_color === 'green') { Profit.innerHTML = `<span class="text-green">${data.profit} ${data.profit_procent}</span>`; }
      else if (data.profit_color === 'red') { Profit.innerHTML = `<span class="text-red">${data.profit} ${data.profit_procent}</span>`; }
      else  { Profit.innerHTML = `<span class="text-average">${data.profit}</span>`; }
   }
}

function getDataRequest() {
   return fetch(url, {
      method: 'GET',
      headers: {
         "Content-type": "application/json; charset=UTF-8"
      }
   })
   .then(res => res.json())
   .then(data => window.data = data)
}

letsStart()
setInterval(letsStart, 10000);
</script>
{% endblock %}