<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    {#--<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>--#}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<div id="wrapper" class="container">
    <div class="header">
        <header class="align-items-center pt-3 pb-2 mb-4 border-bottom">
            <div class="hstack gap-2">
                <div class="nav-bar-links">
                    <img class="mb-0" src="{{ url_for('static', filename='favicon.png') }}" alt="" width="32" height="32">
                    {% block link %}{% endblock %}
                </div>
                <div class="d-flex ms-auto">
                    <a class="action-icon text-decoration-none position-relative" href="" data-bs-toggle="modal" data-bs-target="#Alerts">
                        <i class="bi icon bi-bell"></i>
                        <div class="" id="worked_alerts"></div>
                    </a>
                    <div class="ms-1 flex-shrink-0 dropdown">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi icon bi-person-circle m-0"></i>
                        </a>
                        <ul class="dropdown-menu text-small shadow" style="">
                            {% if current_user.email != 'demo' %}
                                <li><a class="dropdown-item" href="{{ url_for('settings') }}">Настройки</a></li>
                            {% else %}
                                <li><span class="dropdown-item fw-semibold">Demo user</span></li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Выйти</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div id="content">{% block content %}{% endblock %}
        <!-- Modal Alerts -->
        <div class="modal fade modal" id="Alerts" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-3">Уведомления</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="list_alerts">
                        <p class="text-center lead">Пока ничего нет...</p>
                    </div>
                </div>
            </div>
        </div>
        {% include 'about.html' %}
        {% include 'feedback.html' %}
    </div>
    <div id="footer">
    {% block footer %}
        <div class="text-center">
            <footer class="mt-5 mb-3">
                <a class="text-decoration-none link-secondary cursor-pointer" data-bs-toggle="modal" data-bs-target="#About">$ Portfolios</a>
                <a class="text-decoration-none link-secondary cursor-pointer opacity-50 small_text" data-bs-toggle="modal" data-bs-target="#Feedback">Нашли ошибку?</a>
            </footer>
        </div>
    {% endblock %}
    </div>
</div>
<script>
// Обновление алертов без перезагрузки

const linkModal = document.getElementById('worked_alerts');
const listAlerts = document.getElementById('list_alerts');

const createAlert = (i, btn) =>
`
<div class="alert alert-warning alert-dismissible" role="alert">
    <form action="{{ url_for('alert_delete') }}" class="alerts" method="post">
        <input type="hidden" name="id" value="${alerts[i].id}">
        <span class="fw-bold">${alerts[i].ticker}</span>
        ${alerts[i].type}
        $${alerts[i].price}
        ${alerts[i].comment}

        <a class="text-decoration-none link-secondary text-nowrap" href="${alerts[i].link}">
            <i class="bi icon bi-briefcase"></i><span class="small_text">${alerts[i].link_for}</span>
        </a>
        ${btn}
    </form>
</div>
`

const fillAlertsList = (alerts) => {
   listAlerts.innerHTML = "";
    linkModal.innerHTML = `
    <span class="position-absolute top-0 start-100 badge rounded-pill bg-danger items-count">
        ${Object.keys(alerts).length}
    </span>
`
        for (var i in alerts) {
            if (alerts[i].order) {
                var btn = `<button class="btn-close" title="Перейдите в портфль и нажмите галочку 'Ордер сработал'" disabled></button>`;
            }
            else {
                var btn = `<button type="submit" class="btn-close"></button>`;
            }
            listAlerts.innerHTML += createAlert(i, btn);
            whoWorked(i)
          }

}

async function updateAlerts() {
   await getAlertsRequest();
   if (window.alerts.length) {
   fillAlertsList(window.alerts);
   }
}

function getAlertsRequest() {
   return fetch({{ url_for('worked_alerts_detail', user_id=current_user.id)|tojson }}, {
      method: 'GET',
      headers: {
         "Content-type": "application/json; charset=UTF-8"
      }
   })
   .then(res => res.json())
   .then(alerts => window.alerts = alerts)
}
// выделение фоном сработавших уведомлений
function whoWorked(i) {
   let elem = document.getElementById(`alertId${alerts[i].id}`);
   if (elem) {
    if (elem.classList.contains('text-bg-light')) {
        elem.classList.add('text-bg-success');
        elem.classList.remove('text-bg-light', 'text-muted');
        }
    }
    let elemModal = document.getElementById(`alertmodalId${alerts[i].id}`);
   if (elemModal) {
    if (!elemModal.classList.contains('table-green')) {
        elemModal.classList.add('table-green');
        }
    }
}

updateAlerts()
setInterval(updateAlerts,10000);
</script>
</body>
</html>