<html lang="ru">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-table/bootstrap-table.min.css') }}">

    <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>
<body class="d-flex flex-nowrap">

{% include 'navbar.html' %}

<div id="wrapper">

  <div id="content" class="p-5 fade">
    {% block content %}{% endblock %}
  </div>

  <div id="Modals">
    <!-- Modal Confirmation -->
    <div class="modal fade" id="ModalConfirmation" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header d-flex">
            <h5 class="modal-title d-flex justify-content-center w-100"></h5>
            <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-text px-5 text-center text-muted small-text"></div>
          <div class="modal-body d-flex gap-2 justify-content-center">
            <button class="btn btn-danger rounded-3 action" type="button"
              data-bs-dismiss="modal"><strong>{{ gettext('Да')}}</strong></button>
            <button class="btn rounded-3" type="button" data-bs-dismiss="modal" aria-label="Close">{{ gettext('Отмена')}}</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="footer">{% block footer %}{% endblock %}</div>

</div>
<script>
  var trans = {
    btn_save: "{{ gettext('Сохранить') }}",
    btn_cancel: "{{ gettext('Отмена') }}",
    selected: "{{ gettext('Отмечено:') }}",
    search: "{{ gettext('Поиск') }}",
    loading: "{{ gettext('Загрузка...') }}",
    nothing_found: "{{ gettext('Ничего не найдено') }}"
  }
</script>

<script src="{{ url_for('static', filename='js/jquery-3.6.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-table/bootstrap-table.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/smart-select.js') }}"></script>
<script src="{{ url_for('static', filename='js/convert-to.js') }}"></script>
<script src="{{ url_for('static', filename='js/portfolios.js') }}"></script>
{% block after_scripts %}{% endblock %}

<script>
  function updateAlerts() {
    $('#WorkedAlertsCount').load("{{ url_for('api.worked_alerts_count') }}");
  }
  updateAlerts();
  setInterval(updateAlerts,10000);
</script>

</body>
</html>
