<html lang="ru">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-3.6.4.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-table/bootstrap-table.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap-table/bootstrap-table.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/smart-select.js') }}"></script>
    <script src="{{ url_for('static', filename='js/convert-to.js') }}"></script>
    <script src="{{ url_for('static', filename='js/portfolios.js') }}"></script>


    <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>
<body class="d-flex flex-nowrap">

{% include 'navbar.html' %}

<div id="wrapper">

  <div id="content" class="p-5">
    {% block content %}{% endblock %}
  </div>

  <div id="modals">
    <!-- Modal Confirmation -->
    <div class="modal fade" id="ModalConfirmation" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body d-flex gap-2 justify-content-center">
            <button class="btn btn-danger rounded-3 action" type="button"
              data-bs-dismiss="modal"><strong>Да</strong></button>
            <button class="btn rounded-3" type="button" data-bs-dismiss="modal" aria-label="Close">Отменить</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="footer">
    {% block footer %}
      <div class="text-center">
        <footer class="mt-5 mb-3">
          <span class="link-secondary">$ Portfolios</span>
        </footer>
      </div>
    {% endblock %}
  </div>
</div>

<script>
  function updateAlerts() {
    $('#WorkedAlertsCount').load("{{ url_for('worked_alerts_count') }}");
  }
  updateAlerts();
  setInterval(updateAlerts,10000);
</script>

</body>
</html>
