{# Jinja #}
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Portfolios</title>
</head>

<body class="d-flex flex-column h-100">
  <div class="container ps-lg-5 pe-lg-5 d-flex flex-column h-100">
    <header class="d-flex justify-content-center">
      <div class="d-flex col-12 py-3">

        <div class="d-flex align-items-center">
          <img class="mb-0 me-2" src="{{ url_for('static', filename='favicon.png') }}" alt="" width="32" height="32" />
          <span class="fs-4">Portfolios</span>
        </div>

        <div class="d-flex align-items-center ms-auto gap-3 text-nowrap">
          <div>
            <select id="SelectLocale" class="form-select border-0 fw-medium">
              <option value="en" {{ 'selected' if locale == 'en' }}>English</option>
              <option value="ru" {{ 'selected' if locale == 'ru' }}>Русский</option>
            </select>
          </div>

          {% if current_user.is_authenticated and current_user.type != 'demo' %}
            <a class="text-decoration-none text-capitalize fw-medium" href="{{ url_for('portfolio.portfolios') }}">
              {{ current_user.email[0 : current_user.email.find("@")] }}
            </a>
          {% else %}
            <div>
              <a href="{{ url_for('user.login') }}" class="text-decoration-none fw-medium">{% trans %}Login{% endtrans %}</a> /
              <a href="{{ url_for('user.register') }}" class="text-decoration-none fw-medium">{% trans %}Sign Up{% endtrans %}</a>
            </div>
            <a href="{{ url_for('user.demo_user') }}" class="text-decoration-none fw-medium">{% trans %}Demo{% endtrans %}</a>
          {% endif %}
        </div>

      </div>
    </header>

    <section class="d-flex justify-content-center h-100">
      <div class="d-flex align-items-center col-12">
        <div class="col-6">
          <div class="d-flex flex-column" style="padding: 60px 50px 60px 30px;">
            <h2 class="text-uppercase mb-5 fw-bold" style="font-size: 3.5rem; color: #e5bb15; line-height: 1;">
              {% trans %}Track<br> your assets<br> in one place{% endtrans %}
            </h2>
            <p class="fs-5">
              {% trans %}Portfolios allows you to keep records of many assets (Cryptocurrency, Stocks, Offline assets) in one personal account, which allows you not to lose or forget anything.{% endtrans %}
            </p>
            <p class="fw-semibold">{% trans %}Cryptocurrency and stocks{% endtrans %}</p>
            <ul class="fw-light">
              <li>{% trans %}notifications when price is reached{% endtrans %}</li>
              <li>
                {% trans %}unlimited number of portfolios (convenient distribution strategies){% endtrans %}
              </li>
              <li>{% trans %}notifications for placed orders{% endtrans %}</li>
            </ul>
            <p class="fw-semibold">{% trans %}Other assets{% endtrans %}</p>
            <p class="fw-light">
              {% trans %}Maintaining offline investments (commercial real estate, etc.){% endtrans %}
            </p>
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex flex-column justify-content-center">
            <img src="{{ url_for('static', filename='home.jpg') }}" />
          </div>
        </div>
      </div>
    </section>
  </div>

  <footer class="p-5 text-white" style="background-color: #333333; text-align: center">
    <p>$Portfolios</p>
  </footer>

  <script src="{{ url_for('static', filename='js/jquery-3.6.4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/smart-select.js') }}"></script>
  <script>
    $('#SelectLocale').on('change', function() {
      $.get("{{ url_for('change_locale') }}" + '?locale=' + $(this).val())
      .done(function () {
        window.location.reload();
      });
    });
  </script>
</body>

</html>
