<h1 class="modal-title fs-3 w-100 text-center">О проекте</h1>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

<p>
    Отслеживай все свои инвестиции в одном месте. Криптовалюта, акции и другие
    активы.
</p>
<h6>Криптовалюта и акции</h6>
<ul>
    <li>уведомления по достижению цены</li>
    <li>неограниченное количество портфелей (удобное распредение стратегий)</li>
    <li>уведомления на выставленные ордера</li>
    <li>цены на криптовалюты обновляются 1 раз в мин.</li>
    <li>цены на акции - цены закрытия прошлого рабочего дня</li>
</ul>
<h6>Другие активы</h6>
<p>Ведение других офлайн инвестиций (коммерческой недвижимости и тд)</p>
