{% extends "base.html" %}
{% block title %} {{ asset.name }} / {{ asset.portfolio.name }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block link %}
    <button onclick="document.location='{{ url_for('portfolios') }}'" type="button" class="btn btn-light btn-sm">Портфели</button>
    <button onclick="document.location='{{ url_for('portfolio_info', market_id=asset.portfolio.market_id, portfolio_url=asset.portfolio.url) }}'" type="button" class="btn btn-light btn-sm">{{ asset.portfolio.name }}</button>
    <button type="button" class="btn btn-light btn-sm" disabled>{{ asset.name }}</button>
    <button onclick="document.location='{{ url_for('wallets') }}'" type="button" class="btn btn-light btn-sm">Кошельки</button>
    <button onclick="document.location='{{ url_for('tracking_list') }}'" type="button" class="btn btn-light btn-sm">Список отслеживания</button>
    {% if current_user.type == 'admin' %}
        <button onclick="document.location='{{ url_for('admin_index') }}'" type="button" class="btn btn-light btn-sm">Админ</button>
    {% endif %}
{% endblock %}
{% block content %}
<div class="mb-5">
    <div class="row xs-mb-3">
        <div class="col-auto">
            <h1 class="fs-6 text-muted m-0">{{ asset.name }}
                <span class="small_text" title="Обновлено" id="when_updated"></span>
            </h1>
            <div class="hstack gap-2">
                <span class="fs-1 fw-semibold" id="asset-price"> ${{ (asset.bodys|sum(attribute='cost_now') + asset.operations|sum(attribute='total_spent'))|round|int|number_group }}</span>
            </div>
        </div>
        <div class="col-auto ms-auto">
            <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#assetOperation" data-bs-date="{{ date }}" data-bs-title="Добавить операцию">Добавить операцию</button>
            <button class="btn btn-warning btn-sm ms-1" type="button" data-bs-toggle="modal" data-bs-target="#assetBody" data-bs-date="{{ date }}" data-bs-title="Добавить тело актива">Тело актива</button>
            <button type="button" class="btn btn-light dropdown-toggle btn-sm ms-1" data-bs-toggle="dropdown" aria-expanded="false">Еще</button>
            <ul class="dropdown-menu" style="">
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Delete" data-bs-id="{{ asset.id }}" data-bs-type="asset" data-bs-title="Удалить {{ asset.name }}?">Удалить {{ asset.name }}</a></li>
            </ul>
        </div>
    </div>
</div>
{% if  asset.bodys or asset.operations %}
<div class="row mb-5 xs-mb-3">
    <div class="col-auto">
        <p class="small_text">Средняя цена покупки</p>
        <span class="text-average">
                ${{ asset.bodys|sum(attribute='total_spent')|round|int|number_group }}
        </span>
    </div>
    <div class="col-auto">
        <p class="small_text">Стоимость сейчас</p>
        <span class="text-average">
            ${{ (asset.bodys|sum(attribute='cost_now') + asset.operations|sum(attribute='total_spent'))|round|int|number_group }}
        </span>
    </div>
    <div class="col-auto">
        <p class="small_text">Прибыль / убыток</p>
        <span class="text-average" id="asset-profit">
            {% if ((asset.bodys|sum(attribute='cost_now') + asset.operations|sum(attribute='total_spent')) - asset.bodys|sum(attribute='total_spent'))|round|int == 0 %}
                <span class="text-average">$0</span>
            {% elif ((asset.bodys|sum(attribute='cost_now') + asset.operations|sum(attribute='total_spent')) - asset.bodys|sum(attribute='total_spent')) > 0 %}
                <span class="text-green text-average">
                    +${{ ((asset.bodys|sum(attribute='cost_now') + asset.operations|sum(attribute='total_spent')) - asset.bodys|sum(attribute='total_spent'))|round|int|number_group }}
                    {% if portfolio_total_spent > 0 %}
                        ({{ (((asset.bodys|sum(attribute='cost_now') + asset.operations|sum(attribute='total_spent')) - asset.bodys|sum(attribute='total_spent')) / asset.bodys|sum(attribute='total_spent') * 100)|round|int }}%)
                    {% endif %}
                </span>
            {% elif ((asset.bodys|sum(attribute='cost_now') + asset.operations|sum(attribute='total_spent')) - asset.bodys|sum(attribute='total_spent')) < 0 %}
                <span class="text-red text-average">
                    -${{ ((asset.bodys|sum(attribute='cost_now') + asset.operations|sum(attribute='total_spent')) - asset.bodys|sum(attribute='total_spent'))|round|int|abs|number_group }}
                    {% if portfolio_total_spent != 0 %}
                        ({{ (((asset.bodys|sum(attribute='cost_now') + asset.operations|sum(attribute='total_spent')) - asset.bodys|sum(attribute='total_spent')) / asset.bodys|sum(attribute='total_spent') * 100)|round|int|abs }}%)
                    {% endif %}
                </span>
            {% else %}
                <span class="text-average">$0</span>
            {% endif %}
        </span>
    </div>
    <div class="col-auto">
        <p class="small_text">% от портфеля</p>
        <span class="text-average">
            {% if portfolio_total_spent and asset.bodys %}
                {{ (asset.bodys|sum(attribute='total_spent') / portfolio_total_spent * 100)|round(1, 'common') }}% /
            {% else %}
                - /
            {% endif %}
            {% if asset.percent %}
                {{ asset.percent }}%
            {% else %}
            -
            {% endif %}
        </span>
    </div>
</div>
{% endif %}

<nav>
    <div class="nav nav-tabs mb-1" id="nav-tab" role="tablist">
        <button class="nav-link link-dark" id="nav-asset-tab" data-bs-toggle="tab" data-bs-target="#nav-asset" type="button" role="tab" aria-controls="nav-home" aria-selected="false" tabindex="-1">Активы</button>
        <button class="nav-link link-dark active" id="nav-operations-tab" data-bs-toggle="tab" data-bs-target="#nav-operations" type="button" role="tab" aria-controls="nav-operations" aria-selected="true">Операции</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="nav-asset" role="tabpanel" aria-labelledby="nav-asset-tab">
        {% if asset.bodys %}
        <div class="big-table pb-3">
            <table class="table table-sm align-middle">
                <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Стоимость</th>
                        <th scope="col">Стоимость сейчас</th>
                        <th scope="col">Комментарий</th>
                        <th scope="col" class="text-end">Действие</th>
                    </tr>
                </thead>
                <tbody>
                    {% for asset_body in asset.bodys|sort(reverse=true, attribute="date") %}
                    <tr>
                        <td>{{ asset_body.name }} <br> <span class="small_text">{{ asset_body.date }}</span></td>
                        <td>${{ asset_body.total_spent|round|int|number_group }}</td>
                        <td>${{ asset_body.cost_now|round|int|number_group }}</td>
                        <td>{{ asset_body.comment if asset_body.comment else '--' }}</td>
                        <td class="text-end">
                            <a class="action-icon text-decoration-none" data-bs-toggle="modal" data-bs-target="#assetBody" data-bs-name="{{ asset_body.name }}" data-bs-id="{{ asset_body.id }}" data-bs-total_spent="{{ asset_body.total_spent }}" data-bs-cost_now="{{ asset_body.cost_now }}" data-bs-date="{{ asset_body.date }}" data-bs-comment="{{ asset_body.comment }}" data-bs-title="Изменить тело актива" title="Изменить тело актива">
                                <i class="bi icon bi-pencil-square"></i>
                            </a>
                            <a class="action-icon text-decoration-none" data-bs-toggle="modal" data-bs-target="#Delete" data-bs-id="{{ asset_body.id }}" data-bs-type="asset_body" data-bs-title="Удалить {{ asset_body.name }}?" title="Удалить">
                                <i class="bi icon bi-trash-fill"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <div class="p-5 mb-3">
                <p class="text-center lead">Пока ничего нет...</p>
            </div>
        {% endif %}
    </div>
    <div class="tab-pane fade active show" id="nav-operations" role="tabpanel" aria-labelledby="nav-operations-tab">
        {% if asset.operations %}
        <div class="big-table pb-3">
            <table class="table table-sm align-middle">
                <thead>
                    <tr>
                        <th scope="col">Тип сделки</th>
                        <th scope="col">Сумма</th>
                        <th scope="col">Комментарий</th>
                        <th scope="col" class="text-end">Действие</th>
                    </tr>
                </thead>
                <tbody>
                    {% for operation in asset.operations|sort(reverse=true, attribute="date") %}
                    <tr>
                        <td>{{ operation.type }} <br> <span class="small_text">{{ operation.date }}</span></td>
                        <td>
                            {% if operation.type == 'Прибыль' %}
                                <span class="text-green text-average"> +${{ operation.total_spent|smart_round|number_group }} </span>
                            {% else %}
                                <span class="text-red text-average"> -${{ operation.total_spent|smart_round|number_group }} </span>
                            {% endif %}
                        </td>
                        <td>{{ operation.comment if operation.comment else '--' }}</td>
                        <td class="text-end">
                            <a class="action-icon text-decoration-none" data-bs-toggle="modal" data-bs-target="#assetOperation" data-bs-id="{{ operation.id }}" data-bs-total_spent="{{ operation.total_spent }}" data-bs-date="{{ operation.date }}" data-bs-comment="{{ operation.comment }}" data-bs-type="{{ operation.type }}" data-bs-title="Изменить транзакцию" title="Изменить">
                                <i class="bi icon bi-pencil-square"></i>
                            </a>
                            <a class="action-icon text-decoration-none" data-bs-toggle="modal" data-bs-target="#Delete" data-bs-id="{{ operation.id }}" data-bs-type="asset_operation" data-bs-title="Удалить операцию?" title="Удалить">
                                <i class="bi icon bi-trash-fill"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <div class="col-md-12 p-5 mb-3">
                <p class="text-center lead">Пока ничего нет...</p>
            </div>
        {% endif %}
    </div>
</div>

<div>
    <form method="post" action="{{ url_for('asset_update', market_id=asset.portfolio.market_id, portfolio_url=asset.portfolio.url) }}">
        <input type="hidden" name="id" value="{{ asset.id }}">
        <div class="form-floating pb-2">
            <textarea class="form-control" id="comment" style="height: 100px" name="comment">{{ asset.comment if asset.comment else '' }} </textarea>
            <label for="comment">Комментарий</label>
        </div>
        <div class="position-right">
            <button class="mb-2 btn btn-primary btn-sm" type="submit">Сохранить</button>
        </div>
    </form>
</div>
<!-- Modal Add or Change Asset Body -->
<div class="modal fade" id="assetBody" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3">Добавить тело актива</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class=""  method="post" action="{{ url_for('other_asset_body_add', market_id=asset.portfolio.market_id, portfolio_url=asset.portfolio.url) }}">
                    <input type="hidden" name="id" id="id">
                    <input type="hidden" name="asset_id" value="{{ asset.id }}">

                    <div class="row g-2">
                        <div class="col-md-12">
                            <div class="mb-1">
                                <label for="name" class="form-label h7">Название</label>
                                <input type="text" class="form-control rounded-3" id="name" placeholder="" name="name" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-1">
                                <label for="total_spent" class="form-label h7">На сумму</label>
                                <div class="input-group">
                                    <span class="input-prefix">$</span>
                                    <input type="number" step=any class="form-control rounded-3" id="total_spent" placeholder="0,00" name="total_spent" autocomplete="off" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-1">
                                <label for="cost_now" class="form-label h7">Стоимость сейчас</label>
                                <div class="input-group">
                                    <span class="input-prefix">$</span>
                                    <input type="number" step=any class="form-control rounded-3" id="cost_now" placeholder="0,00" name="cost_now" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-1">
                                <label for="date" class="form-label h7">Дата</label>
                                <input class="form-control silver" id="date" name="date" type="date" value="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="comment" class="form-label h7">Комментарий</label>
                                <textarea class="form-control silver" placeholder="Что можете сказать?" id="comment" name="comment"></textarea>
                            </div>
                        </div>
                    </div>
                    <button class="w-100 mb-2 btn rounded-3 btn-primary btn-title" type="submit">Добавить тело актива</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Add or Change Asset Operation -->
<div class="modal fade" id="assetOperation" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3">Добавить операцию</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class=""  method="post" action="{{ url_for('other_asset_operation_add', market_id=asset.portfolio.market_id, portfolio_url=asset.portfolio.url) }}">
                    <input type="hidden" name="id" id="id">
                    <input type="hidden" name="asset_id" value="{{ asset.id }}">
                    <div class="btn-group silver col-md-12 mb-3" role="group" id="typetransaction">
                        <input type="radio" class="btn-check" name="type" value="Прибыль" id="btnplus" autocomplete="off" checked>
                        <label class="btn btn-outline-active btn-sm" for="btnplus">Прибыль</label>

                        <input type="radio" class="btn-check" name="type" value="Убыток" id="btnminus" autocomplete="off">
                        <label class="btn btn-outline-not_active btn-sm" for="btnminus">Убыток</label>
                    </div>
                    <div class="row g-2">
                        <div class="col-md-12">
                            <div class="col-md-6 mb-1">
                                <label for="total_spent" class="form-label h7">На сумму</label>
                                <div class="input-group">
                                    <span class="input-prefix">$</span>
                                    <input type="number" step=any class="form-control rounded-3" id="total_spent" placeholder="0,00" name="total_spent" autocomplete="off" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-1">
                                <label for="date" class="form-label h7">Дата</label>
                                <input class="form-control silver" id="date" name="date" type="date" value="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="comment" class="form-label h7">Комментарий</label>
                                <textarea class="form-control silver" placeholder="Что можете сказать?" id="comment" name="comment"></textarea>
                            </div>
                        </div>
                    </div>
                    <button class="w-100 mb-2 btn rounded-3 btn-primary btn-title" type="submit">Добавить операцию</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Delete -->
<div class="modal fade" id="Delete" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3">Вы уверенны?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="d-inline" action="{{ url_for('other_asset_delete', market_id=asset.portfolio.market_id, portfolio_url=asset.portfolio.url) }}" method="post">
                    <input type="hidden" id="id" name="id">
                    <input type="hidden" id="type" name="type">
                    <button type="submit" class="w-100 mb-2 btn btn rounded-3 btn-primary btn-delete"><strong>Да</strong></button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
// Отправка данных  в форму на добавление или изменение assetBody
var updateModal = document.getElementById('assetBody')
updateModal.addEventListener('show.bs.modal', function (event) {
  var button = event.relatedTarget
  var name = button.getAttribute('data-bs-name')
  var modalName = assetBody.querySelector('.modal-body #name')
  var id = button.getAttribute('data-bs-id')
  var modalId = assetBody.querySelector('.modal-body #id')
  var total_spent = button.getAttribute('data-bs-total_spent')
  var modalTotal_spent = assetBody.querySelector('.modal-body #total_spent')
  var cost_now = button.getAttribute('data-bs-cost_now')
  var modalCostNow = assetBody.querySelector('.modal-body #cost_now')
  var date = button.getAttribute('data-bs-date')
  var modalDate = assetBody.querySelector('.modal-body #date')
  var comment = button.getAttribute('data-bs-comment')
  var modalComment = assetBody.querySelector('.modal-body #comment')
  var title = button.getAttribute('data-bs-title')
  var modalTitle = assetBody.querySelector('.modal-title')
  var modalButton = assetBody.querySelector('.btn-title')

  modalName.value = name
  modalId.value = id
  modalTotal_spent.value = total_spent
  modalCostNow.value = cost_now
  modalDate.value = date
  modalComment.value = comment
  modalTitle.textContent = `${title}`
  modalButton.textContent = `${title}`
})

// Отправка данных  в форму на добавление или изменение assetOperation
var updateModal = document.getElementById('assetOperation')
updateModal.addEventListener('show.bs.modal', function (event) {
  var button = event.relatedTarget
  var id = button.getAttribute('data-bs-id')
  var modalId = assetOperation.querySelector('.modal-body #id')
  var total_spent = button.getAttribute('data-bs-total_spent')
  var modalTotal_spent = assetOperation.querySelector('.modal-body #total_spent')
  var date = button.getAttribute('data-bs-date')
  var modalDate = assetOperation.querySelector('.modal-body #date')
  var comment = button.getAttribute('data-bs-comment')
  var modalComment = assetOperation.querySelector('.modal-body #comment')
  var title = button.getAttribute('data-bs-title')
  var modalTitle = assetOperation.querySelector('.modal-title')
  var modalButton = assetOperation.querySelector('.btn-title')

  var type = button.getAttribute('data-bs-type')
  var btnplus = assetOperation.querySelector('.modal-body #btnplus')
  var btnminus = assetOperation.querySelector('.modal-body #btnminus')

  modalId.value = id
  modalTotal_spent.value = total_spent
  modalDate.value = date
  modalComment.value = comment
  modalTitle.textContent = `${title}`
  modalButton.textContent = `${title}`
if (type === 'Убыток') {
btnminus.checked = true}
else {
btnplus.checked = true}
})

// Отправка данных в форму удаления транзакции или актива
var updateModal = document.getElementById('Delete')
updateModal.addEventListener('show.bs.modal', function (event) {
  var button = event.relatedTarget
  var id = button.getAttribute('data-bs-id')
  var modalId = Delete.querySelector('.modal-body #id')
  var type = button.getAttribute('data-bs-type')
  var modalType = Delete.querySelector('.modal-body #type')
  var title = button.getAttribute('data-bs-title')
  var modalTitle = Delete.querySelector('.modal-title')

  modalType.value = type
  modalId.value = id
  modalTitle.textContent = `${title}`
})

</script>
{% endblock %}