{% extends "base.html" %}
{% block title %}Main page{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block link %}
    <button type="button" class="btn btn-light btn-sm" disabled>Портфели</button>
    <button onclick="document.location='{{ url_for('wallets') }}'" type="button" class="btn btn-light btn-sm">Кошельки</button>
    <div class="dropdown">
        <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Список отслеживания</button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('alerts_list', market_id='crypto') }}">Crypto</a></li>
            <li><a class="dropdown-item" href="{{ url_for('alerts_list', market_id='stocks') }}">Stocls</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
<div class="col-md-12 mb-5">
    <div class="row">
        <div class="col-md-6">
            <h1>Портфели</h1>
        </div>
        <div class="col-md-6 position-right">
            <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#newPortfolio" data-bs-title="Добавить портфель">Добавить портфель</button>
        </div>
    </div>
</div>
{% if portfolios %}
    {% if total_spent %}
        <div class="row mb-5">
            <div class="col-md-auto">
                <p class="small_text">Всего вложено / сейчас</p>
                <span class="text-average">
                    ${{ total_spent|round|int|number_group }} /
                    {% if cost_now|round|int > total_spent|round|int %}
                        <span class="text-green">
                            ${{ cost_now|round|int|number_group }}
                        </span>
                    {% elif cost_now|round|int < total_spent|round|int %}
                        <span class="text-red">
                            ${{ cost_now|round|int|number_group }}
                        </span>
                    {% else %}
                        ${{ cost_now|round|int|number_group }}
                    {% endif %}
                </span>
            </div>
            <div class="col-md-auto">
                <p class="small_text">Прибыль / убыток</p>
                {% if cost_now - total_spent >= 0 %}
                    <span class="text-green text-average">
                        +${{ (cost_now - total_spent)|round|int|number_group }}
                        ({{ ((cost_now - total_spent) / total_spent * 100)|round|int }}%)
                    </span>
                {% else %}
                    <span class="text-red text-average">
                        -${{ (total_spent - cost_now)|round|int|number_group }}
                        ({{ ((cost_now - total_spent) / total_spent * 100)|round|int|abs }}%)
                    </span>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="bd-example">
        <table class="table table-sm align-middle table-hover">
            <thead>
            <tr>
                <th scope="col">Наименование</th>
                <th scope="col">Активы</th>
                <th scope="col">Прибыль / убыток</th>
                <th scope="col">% доля от всех инвестиций</th>
                <th scope="col">Комментарий</th>
                <th scope="col" class="text-end">Действие</th>
            </tr>
            </thead>
            <tbody>
            {% for portfolio in portfolios %}
            <tr>
                <td class="text-average cursor-pointer" onclick="document.location = '{{ url_for('portfolio_info', portfolio_id=portfolio.id) }}';">
                    {{ portfolio.name }}
                    <span class="text-muted small_text">{{ portfolio.market.name }}</span>
                </td>
                <td class="cursor-pointer" onclick="document.location = '{{ url_for('portfolio_info', portfolio_id=portfolio.id) }}';">
                    {{ "${}".format((total_spent_list[portfolio.id])|round|int|number_group) if total_spent_list[portfolio.id] else '-' }} / {{ "${}".format((cost_now_list[portfolio.id])|round|int|number_group) if cost_now_list[portfolio.id] else '-' }}</td>
                <td class="cursor-pointer" onclick="document.location = '{{ url_for('portfolio_info', portfolio_id=portfolio.id) }}';">
                    {% if cost_now_list[portfolio.id] %}
                    {% if (cost_now_list[portfolio.id] - total_spent_list[portfolio.id])|round|int == 0 %}
                    $0
                    {% elif cost_now_list[portfolio.id] - total_spent_list[portfolio.id] > 0 %}
                    <span class="text-green text-average">+${{ (cost_now_list[portfolio.id] - total_spent_list[portfolio.id])|round|int|number_group }}</span>
                    {% else %}
                    <span class="text-red text-average">-${{ (total_spent_list[portfolio.id] - cost_now_list[portfolio.id])|round|int|number_group }}</span>
                    {% endif %}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td class="cursor-pointer" onclick="document.location = '{{ url_for('portfolio_info', portfolio_id=portfolio.id) }}';">
                    {% if cost_now_list[portfolio.id] %}
                    {{ (cost_now_list[portfolio.id] / cost_now * 100)|round(1, 'common') }}%
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td class="cursor-pointer" onclick="document.location = '{{ url_for('portfolio_info', portfolio_id=portfolio.id) }}';">{{ portfolio.comment if portfolio.comment else '-' }}</td>
                <td class="text-end">
                    <a class="action-icon text-decoration-none cursor-pointer" data-bs-toggle="modal" data-bs-target="#newPortfolio" data-bs-id="{{ portfolio.id }}" data-bs-name="{{ portfolio.name }}" data-bs-comment="{{ portfolio.comment }}" data-bs-class="visually-hidden" data-bs-title="Изменить портфолио" title="Изменить">
                        <i class="bi icon bi-pencil-square"></i>
                    </a>
                    {% if (cost_now_list[portfolio.id] and total_spent_list[portfolio.id]) or orders_in_portfolio[portfolio.id] %}
                    <a class="action-icon text-decoration-none cursor-pointer opacity-25" aria-disabled="true"  tabindex="-1" title="Невозможно удалить, есть остатки или транзакции">
                        <i class="bi icon bi-trash-fill"></i>
                    </a>
                    {% else %}
                    <a class="action-icon text-decoration-none cursor-pointer" data-bs-toggle="modal" data-bs-target="#deletePortfolio" data-bs-id="{{ portfolio.id }}" data-bs-title="Удалить портфель {{ portfolio.name }}?" title="Удалить">
                        <i class="bi icon bi-trash-fill"></i>
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="col-md-12 p-5 mb-3">
        <p class="text-center lead">Пока ничего нет...</p>
    </div>
{% endif %}
<!-- Modal New or Change Portfolio-->
<div class="modal fade" id="newPortfolio" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3" >Добавить портфель</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class=""  method="post" action="{{ url_for('portfolio_add') }}">
                    <input type="hidden" name="id" id="id">
                    <div class="row g-2">
                        <div class="col-md-6">
                            <div class="mb-1">
                                <label for="name" class="form-label h7">Название</label>
                                <input type="text" class="form-control rounded-3" id="name" placeholder="" name="name" required>
                            </div>
                        </div>
                        <div class="col-md-6 mb-1" id="market-class">
                            <label for="market_id" class="form-label h7">Рынок</label>
                            <select class="form-select" id="market_id" name="market_id" required>
                                <option value="crypto"> Криптовалюта </option>
                                <option value="stocks"> Фондовый рынок </option>
                                <option disabled title="Пока недоступно"> Другое </option>
                             </select>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="comment" class="form-label h7">Комментарий</label>
                                <textarea class="form-control silver" placeholder="" id="comment" name="comment"></textarea>
                            </div>
                        </div>
                    </div>
                    <button class="w-100 mb-2 btn btn rounded-3 btn-primary" type="submit">Добавить портфель</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Delete -->
<div class="modal fade" id="deletePortfolio" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3">Вы уверенны?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="d-inline" action="{{ url_for('portfolio_delete') }}" method="post">
                    <input type="hidden" name="id" id="id">
                    <button type="submit" class="w-100 mb-2 btn btn rounded-3 btn-primary btn-delete"><strong>Да</strong></button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    // Отправка данных в форму добавления или изменения портфолио
var updateModal = document.getElementById('newPortfolio')
updateModal.addEventListener('show.bs.modal', function (event) {
  var button = event.relatedTarget

  var id = button.getAttribute('data-bs-id')
  var modalId = newPortfolio.querySelector('.modal-body #id')
  var name = button.getAttribute('data-bs-name')
  var modalName = newPortfolio.querySelector('.modal-body #name')
  var comment = button.getAttribute('data-bs-comment')
  var modalComment = newPortfolio.querySelector('.modal-body #comment')
  var title = button.getAttribute('data-bs-title')
  var modalTitle = newPortfolio.querySelector('.modal-title')
  var modalButton = newPortfolio.querySelector('.btn')
  var market_class = button.getAttribute('data-bs-class')
  var modalMarket_class = newPortfolio.querySelector('.modal-body #market-class')

  modalId.value = id
  modalName.value = name
  modalComment.value = comment
  modalTitle.textContent = `${title}`
  modalButton.textContent = `${title}`
  if (market_class === "visually-hidden")
    {modalMarket_class.classList.add("visually-hidden");}
else {modalMarket_class.classList.remove("visually-hidden");}
})

// Отправка данных в форму удаления
var updateModal = document.getElementById('deletePortfolio')
updateModal.addEventListener('show.bs.modal', function (event) {
  var button = event.relatedTarget

  var id = button.getAttribute('data-bs-id')
  var modalId = deletePortfolio.querySelector('.modal-body #id')
  var title = button.getAttribute('data-bs-title')
  var modalTitle = deletePortfolio.querySelector('.modal-title')

  modalId.value = id
  modalTitle.textContent = `${title}`
})

</script>
{% endblock %}