{% extends "base.html" %}
{% block title %} {{ portfolio.name }} / Портфели {% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-table.css') }}">
{% endblock %}
{% block link %}
    <button onclick="document.location='{{ url_for('portfolios') }}'" type="button" class="btn btn-light btn-sm">Портфели</button>
    <button type="button" class="btn btn-light btn-sm" disabled>{{ portfolio.name }}</button>
    <button onclick="document.location='{{ url_for('wallets') }}'" type="button" class="btn btn-light btn-sm">Кошельки</button>
    <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Список отслеживания</button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{ url_for('tracking_list', market_id='crypto') }}">Crypto</a></li>
        <li><a class="dropdown-item" href="{{ url_for('tracking_list', market_id='stocks') }}">Stocls</a></li>
    </ul>
{% endblock %}
{% block content %}
<div class="mb-5">
    <div class="row xs-mb-3">
        <div class="col-auto">
            <h1>{{ portfolio.name }}</h1>
        </div>
        <div class="col-auto ms-auto">
            <div class="dropdown">
                <button onclick="myFunction()" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false">Добавить актив</button>
                <div id="myDropdown" class="dropdown-menu dropdown-asset">
                    <div class="p-2 input-group-sm">
                        <input type="text" placeholder="Поиск.." id="myInput" onkeyup="filterFunction()" class="form-control">
                    </div>
                    <div>
                    {% for ticker in tickers|sort(attribute="market_cap_rank") %}
                        <a class="dropdown-item" href="{{ url_for('asset_add', market_id=portfolio.market_id, portfolio_id=portfolio.id, ticker_id=ticker.id) }}">
                            <span class="d-inline-block text-truncate text-average" style="{{ 'width:170px;' if ticker.market_cap_rank else 'width:210px;' }}">{{ ticker.name }}</span>
                            {% if ticker.market_cap_rank %} <span class="float-end market-cap-rank">#{{ ticker.market_cap_rank }}</span> {% endif %}
                            <span class="align-top text-muted float-end">{{ ticker.symbol|upper }}</span>
                        </a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if portfolio.assets %}
    <div class="row xs-mb-3">
        <div class="col-auto">
            <p class="small_text">Всего вложено / сейчас</p>
            <span class="text-average">
                {% if portfolio_cost_now == 0 %}
                    - / -
                {% else %}
                    ${{ portfolio.assets|sum(attribute='total_spent')|round|int|number_group }} /
                    {% if portfolio_cost_now >= portfolio.assets|sum(attribute='total_spent') %}
                        <span class="text-green">${{ portfolio_cost_now|round|int|number_group }}</span>
                    {% else %}
                        <span class="text-red">${{ portfolio_cost_now|round|int|number_group }}</span>
                    {% endif %}
                {% endif %}
            </span>
        </div>
        <div class="col-auto">
            <p class="small_text">Прибыль / убыток</p>
            {% if portfolio_cost_now == 0 %}
                -
            {% else %}
                {% if (portfolio_cost_now - portfolio.assets|sum(attribute='total_spent'))|round|int == 0 %}
                    <span class="text-average">$0</span>
                {% elif portfolio_cost_now - portfolio.assets|sum(attribute='total_spent') > 0 %}
                    <span class="text-green text-average">
                        +${{ (portfolio_cost_now - portfolio.assets|sum(attribute='total_spent'))|round|int|number_group }}
                        {% if portfolio.assets|sum(attribute='total_spent') > 0 %}
                            ({{ ((portfolio_cost_now - portfolio.assets|sum(attribute='total_spent')) / portfolio.assets|sum(attribute='total_spent') * 100)|round|int }}%)
                        {% endif %}
                    </span>
                {% elif portfolio_cost_now - portfolio.assets|sum(attribute='total_spent') < 0 %}
                    <span class="text-red text-average">
                        -${{ (portfolio_cost_now - portfolio.assets|sum(attribute='total_spent'))|round|int|abs|number_group }}
                        {% if portfolio.assets|sum(attribute='total_spent') != 0 %}
                            ({{ ((portfolio_cost_now - portfolio.assets|sum(attribute='total_spent')) / portfolio.assets|sum(attribute='total_spent') * 100)|round|int|abs }}%)
                        {% endif %}
                    </span>
                {% else %}
                    <span class="text-average">$0</span>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="big-table">
        <table class="table table-sm align-middle table-hover" id="Table" data-toggle="table" data-search="true">
            <thead>
                <tr>
                    <th scope="col" data-sortable="true">Наименование</th>
                    <th scope="col">Цена / Ср. цена покупки</th>
                    <th scope="col" data-sortable="true" data-sort-name="cost">Активы</th>
                    <th scope="col" data-sortable="true" data-sort-name="profit">Прибыль / убыток</th>
                    <th scope="col" data-sortable="true" data-sort-name="procent">% портфеля</th>
                    <th scope="col" class="text-end">Действие</th>
                    <!-- For sorting -->
                    <th scope="col" class="visually-hidden" data-sortable="true" data-field="cost">Стоит сейчас</th>
                    <th scope="col" class="visually-hidden" data-sortable="true" data-field="profit">Профит</th>
                    <th scope="col" class="visually-hidden" data-sortable="true" data-field="procent">% портфеля</th>
                </tr>
            </thead>
            <tbody>
            {% for asset in portfolio.assets %}
                <tr>
                    <td class="text-average">
                        <a class="link-dark text-decoration-none" href="{{ url_for('asset_info', market_id=portfolio.market_id, portfolio_url=portfolio.url, asset_url=asset.ticker.id) }}">
                            {% if asset.ticker.image %}
                                <img class="img-asset-min" src="{{ asset.ticker.image }}">
                            {% endif %}
                            {{ asset.ticker.name }} <span class="text-muted">{{ asset.ticker.symbol|upper }}</span>
                        </a>
                    </td>
                    <td>
                        ${{ price_list[asset.ticker.id]|smart_round|number_group }}
                        {% if asset.total_spent > 0 %}
                            / ${{ (asset.total_spent / asset.quantity)|smart_round|number_group }}
                        {% endif %}
                    </td>
                    <td>
                        {% if asset.quantity > 0 %}
                            ${{ (asset.quantity * price_list[asset.ticker.id])|round|int|number_group }}
                            {% if asset.total_spent > 0 %}
                                 / ${{ asset.total_spent|round|int|number_group }}
                            {% endif %}
                            <br>
                            <span class="text-average small_text">{{ asset.quantity|smart_round|number_group }} {{ asset.ticker.symbol|upper }}</span>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if asset.quantity > 0 %}
                            {% if ((asset.quantity * price_list[asset.ticker.id]) - asset.total_spent)|round|int > 0 %}
                                <span class="text-green text-average">
                                    +${{ ((asset.quantity * price_list[asset.ticker.id]) - asset.total_spent)|round|int|number_group }}
                                    {% if asset.total_spent > 0 %}
                                        ({{ ((asset.quantity * price_list[asset.ticker.id] - asset.total_spent) / asset.total_spent * 100 )|round|int }}%)
                                    {% endif %}
                                </span>
                            {% elif ((asset.quantity * price_list[asset.ticker.id]) - asset.total_spent)|round|int < 0 %}
                                <span class="text-red text-average">
                                    -${{ ((asset.quantity * price_list[asset.ticker.id]) - asset.total_spent)|round|int|abs|number_group }}
                                    ({{ ((asset.quantity * price_list[asset.ticker.id] - asset.total_spent) / asset.total_spent * 100)|round|int|abs }}%)
                                </span>
                            {% else %}
                                $0
                            {% endif %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if portfolio.assets|sum(attribute='total_spent') and asset.total_spent %}
                            {{ (asset.total_spent / portfolio.assets|sum(attribute='total_spent') * 100)|round(1, 'common') }}% /
                        {% else %}
                            - /
                        {% endif %}
                        {% if asset.percent %}
                            {{ asset.percent }}%
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td class="text-end">
                        <a class="action-icon text-decoration-none cursor-pointer" data-bs-toggle="modal" data-bs-target="#customAsset" data-bs-id="{{ asset.id }}" data-bs-percent="{{ asset.percent if asset.percent > 0 }}" data-bs-comment="{{ asset.comment if asset.comment else '' }}" data-bs-title="Изменить актив" title="Изменить">
                            <i class="bi icon bi-pencil-square"></i>
                        </a>
                        <a class="action-icon text-decoration-none cursor-pointer" data-bs-toggle="modal" data-bs-target="#deleteAsset" data-bs-id="{{ asset.id }}" data-bs-title="Удалить {{ asset.ticker.name }}?" title="Удалить">
                            <i class="bi icon bi-trash-fill"></i>
                        </a>
                    </td>
                    <!-- For sorting -->
                    <td class="visually-hidden">{{ (asset.quantity * price_list[asset.ticker.id])|round|int }}</td>
                    <td class="visually-hidden">{{ ((asset.quantity * price_list[asset.ticker.id]) - asset.total_spent)|round|int }}</td>
                    <td class="visually-hidden">{{ (asset.total_spent / portfolio.assets|sum(attribute='total_spent') * 100)|round(1, 'common') if portfolio.assets|sum(attribute='total_spent') else 0 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="col-md-12 p-5 mb-3">
        <p class="text-center lead">Пока ничего нет...</p>
    </div>
{% endif %}

<!-- Modal New or Change Asset -->
<div class="modal fade" id="customAsset" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3">Добавить актив</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class=""  method="post" action="{{ url_for('asset_update', market_id=portfolio.market_id, portfolio_url=portfolio.url) }}">
                    <input type="hidden" name="id" id="id">
                    <div class="row g-2">
                        <div class="col-md-12">
                            <div class="mb-1">
                                <label for="percent" class="form-label h7">Планируемый % портфеля</label>
                                <div class="input-group">
                                    <span class="input-prefix">%</span>
                                    <input type="text" class="form-control rounded-3" id="percent" placeholder="0,00" name="percent" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="comment" class="form-label h7">Комментарий</label>
                                <textarea class="form-control silver" placeholder="" id="comment" name="comment"></textarea>
                            </div>
                        </div>
                    </div>
                    <button class="w-100 mb-2 btn btn rounded-3 btn-primary" type="submit">Добавить актив</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Delete Asset -->
<div class="modal fade" id="deleteAsset" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3">Вы уверенны?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="">Будут удалены все транзакции актива</p>
                <form class="d-inline" action="{{ url_for('asset_delete', market_id=portfolio.market_id, portfolio_url=portfolio.url) }}" method="post">
                    <input type="hidden" name="id">
                    <button type="submit" class="w-100 mb-2 btn btn rounded-3 btn-primary btn-delete"><strong>Да</strong></button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

// Отправка данных в форму изменения актива
var updateModal = document.getElementById('customAsset')
updateModal.addEventListener('show.bs.modal', function (event) {
  var button = event.relatedTarget

  var id = button.getAttribute('data-bs-id')
  var modalId = customAsset.querySelector('.modal-body #id')
  var percent = button.getAttribute('data-bs-percent')
  var modalPercent = customAsset.querySelector('.modal-body #percent')
  var comment = button.getAttribute('data-bs-comment')
  var modalComment = customAsset.querySelector('.modal-body #comment')
  var title = button.getAttribute('data-bs-title')
  var modalTitle = customAsset.querySelector('.modal-title')
  var modalButton = customAsset.querySelector('.btn')

  modalId.value = id
  modalPercent.value = percent
  modalComment.value = comment
  modalTitle.textContent = `${title}`
  modalButton.textContent = `${title}`
})
// Отправка данных в форму удаления актива
var updateModal = document.getElementById('deleteAsset')
updateModal.addEventListener('show.bs.modal', function (event) {
  var button = event.relatedTarget

  var id = button.getAttribute('data-bs-id')
  var modalId = deleteAsset.querySelector('.modal-body input')
  var title = button.getAttribute('data-bs-title')
  var modalTitle = deleteAsset.querySelector('.modal-title')

  modalId.value = id
  modalTitle.textContent = `${title}`
})
// поиск в выпадающем меню (источник: https://www.w3schools.com/howto/howto_js_filter_dropdown.asp)
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}

</script>
{% endblock %}