{% extends "base.html" %}
{% block title %} Список отслеживания {% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-table.css') }}">
{% endblock %}
{% block link %}
    <button onclick="document.location='{{ url_for('portfolios') }}'" type="button" class="btn btn-light btn-sm">Портфели</button>
    <button onclick="document.location='{{ url_for('wallets') }}'" type="button" class="btn btn-light btn-sm">Кошельки</button>
    <button type="button" class="btn btn-light btn-sm" disabled>Список отслеживания</button>
    {% if current_user.type == 'admin' %}
        <button onclick="document.location='{{ url_for('admin_index') }}'" type="button" class="btn btn-light btn-sm">Админ</button>
    {% endif %}
{% endblock %}
{% block content %}
<div class="mb-5">
    <div class="row xs-mb-3">
        <div class="col-auto">
            <h1>Список отслеживания</h1>
        </div>
        <div class="col-auto ms-auto">
            <div class="dropdown">
                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Добавить актив</button>
                <ul class="dropdown-menu">
                    <li><button data-bs-toggle="modal" data-bs-target="#addAssetCrypto"  class="dropdown-item" aria-expanded="false">Криптовалюта</button></li>
                    <li><button data-bs-toggle="modal" data-bs-target="#addAssetStocks"  class="dropdown-item" aria-expanded="false">Акция</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% if tracked_tickers %}
{% if 'crypto' in markets %}
    <div class="big-table mb-5">
        <table class="table table-sm align-middle table-hover" id="Table" data-toggle="table" data-search="true">
            <thead>
                <h4 class="position-absolute">Crypto</h4>
                <tr>
                    <th scope="col" data-sortable="true">Наименование</th>
                    <th scope="col">Уведомления</th>
                    <th scope="col" class="text-end">Действие</th>
                </tr>
            </thead>
            <tbody>
            {% for item in tracked_tickers %}
            {% if item.ticker.market_id == 'crypto' %}
                <tr>
                    <td class="text-average">
                        <a class="link-dark text-decoration-none" href="{{ url_for('tracked_ticker_info', market_id=item.ticker.market_id, ticker_id=item.ticker.id) }}">
                            {% if item.ticker.image %}
                            <img class="img-asset-min" src="{{ item.ticker.image }}">
                            {% endif %}
                            {{ item.ticker.name }} <span class="text-muted">{{ item.ticker.symbol|upper }}</span>
                        </a>
                    </td>
                    <td>
                        {% for alert in item.alerts %}
                            {% if alert.worked %}
                                <span class="badge text-bg-success fw-normal none-cursor">${{ alert.price|number_group }}</span>
                            {% elif alert.worked == None %}
                                <span class="badge text-bg-light fw-normal none-cursor">${{ alert.price|number_group }}</span>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="text-end">
                        {% if item.ticker_id not in orders %}
                            <a class="action-icon text-decoration-none" href="{{ url_for('tracking_list_delete_ticker', ticker_id=item.id) }}" title="Удалить">
                                <i class="bi icon bi-trash-fill"></i>
                            </a>
                        {% else %}
                            <a class="action-icon text-decoration-none opacity-25" aria-disabled="true"  tabindex="-1" title="Невозможно удалить, стоит ордер">
                                <i class="bi icon bi-trash-fill"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% if 'stocks' in markets %}
    <div class="big-table">
        <table class="table table-sm align-middle table-hover" id="Table" data-toggle="table" data-search="true">
            <thead>
                <h4 class="position-absolute">Stocks</h4>
                <tr>
                    <th scope="col" data-sortable="true">Наименование</th>
                    <th scope="col">Уведомления</th>
                    <th scope="col" class="text-end">Действие</th>
                </tr>
            </thead>
            <tbody>
            {% for item in tracked_tickers %}
            {% if item.ticker.market_id == 'stocks' %}
                <tr>
                    <td class="text-average">
                        <a class="link-dark text-decoration-none" href="{{ url_for('tracked_ticker_info', market_id=item.ticker.market_id, ticker_id=item.ticker.id) }}">
                            {{ item.ticker.name }} <span class="text-muted">{{ item.ticker.symbol|upper }}</span>
                        </a>
                    </td>
                    <td>
                        {% for alert in item.alerts %}
                            {% if alert.worked %}
                                <span class="badge text-bg-success fw-normal none-cursor">${{ alert.price|number_group }}</span>
                            {% elif alert.worked == None %}
                                <span class="badge text-bg-light fw-normal none-cursor">${{ alert.price|number_group }}</span>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="text-end">
                        {% if item.ticker_id not in orders %}
                            <a class="action-icon text-decoration-none" href="{{ url_for('tracking_list_delete_ticker', ticker_id=item.id) }}" title="Удалить">
                                <i class="bi icon bi-trash-fill"></i>
                            </a>
                        {% else %}
                            <a class="action-icon text-decoration-none opacity-25" aria-disabled="true"  tabindex="-1" title="Невозможно удалить, это ордер">
                                <i class="bi icon bi-trash-fill"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% else %}
    <div class="p-5 mb-3">
        <p class="text-center lead">Пока ничего нет...</p>
    </div>
{% endif %}
<!-- Modal Add Asset Crypto -->
<div class="modal" id="addAssetCrypto" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body add-asset-modal">
                <table
                    id="table"
                    data-toggle="table"
                    data-ajax="ajaxRequestCrypto"
                    data-search="true"
                    data-pagination="true"
                    data-height="460"
                    data-pagination-pre-text="<"
                    data-pagination-next-text=">"
                    class="tickers-tab">
                    <thead class="visually-hidden">
                        <tr>
                            <th data-field="image" class="symbol-icon"></th>
                            <th data-field="name" class="itemAsset cursor-pointer text-average" style="width:300px;"></th>
                            <th data-field="market_cap_rank" class="float-end market-cap-rank"></th>
                            <th data-field="symbol" class="text-muted float-end"></th>
                            <th data-field="id" class="visually-hidden"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal Add Asset Stocks -->
<div class="modal" id="addAssetStocks" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body add-asset-modal">
                <table
                    id="table"
                    data-toggle="table"
                    data-ajax="ajaxRequestStocks"
                    data-search="true"
                    data-pagination="true"
                    data-height="460"
                    data-pagination-pre-text="<"
                    data-pagination-next-text=">"
                    class="tickers-tab">
                    <thead class="visually-hidden">
                        <tr>
                            <th data-field="image" class="symbol-icon"></th>
                            <th data-field="name" class="itemAsset cursor-pointer text-average" style="width:300px;"></th>
                            <th data-field="market_cap_rank" class="float-end market-cap-rank"></th>
                            <th data-field="symbol" class="text-muted float-end"></th>
                            <th data-field="id" class="visually-hidden"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
// modal add asset crypto
const urlCrypto = {{ url_for('tickers_detail', market_id='crypto')|tojson }}
  function ajaxRequestCrypto(params) {
    $.get(urlCrypto + '?' + $.param(params.data)).then(function (res) {
      params.success(res)
    })
  }
// modal add asset stocks
const urlStocks = {{ url_for('tickers_detail', market_id='stocks')|tojson }}
  function ajaxRequestStocks(params) {
    $.get(urlStocks + '?' + $.param(params.data)).then(function (res) {
      params.success(res)
    })
  }
// click to add asset
const url_add_asset = '{{ url_for('tracking_list_add_ticker', ticker_id='') }}';
document.addEventListener("click", function(e) {
  if (e.target.classList.contains("itemAsset")) {
    var tr = e.target.closest('tr');
    var asset_id = tr.cells[tr.cells.length-1].innerHTML;
    console.log(url_add_asset + asset_id);
    location.href = url_add_asset + asset_id;
  }
});
</script>
{% endblock %}