{% extends "base.html" %}
{% block title %} {{ wallet.name }} / Кошельки {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block link %}
    <button onclick="document.location='{{ url_for('portfolios') }}'" type="button" class="btn btn-light btn-sm">Портфели</button>
    <button onclick="document.location='{{ url_for('wallets') }}'" type="button" class="btn btn-light btn-sm">Кошельки</button>
    <button type="button" class="btn btn-light btn-sm" disabled>{{ wallet.name }}</button>
    <button onclick="document.location='{{ url_for('tracking_list') }}'" type="button" class="btn btn-light btn-sm">Список отслеживания</button>
    {% if current_user.type == 'admin' %}
        <button onclick="document.location='{{ url_for('admin_index') }}'" type="button" class="btn btn-light btn-sm">Админ</button>
    {% endif %}
{% endblock %}
{% block content %}
<div class="mb-5">
    <div class="row xs-mb-3">
        <div class="col-auto">
            <h1>{{ wallet.name }} </h1>
        </div>
    </div>
</div>
<div class="row xs-mb-3">
    <div class="col-auto">
        <p class="small_text">Всего вложено / сейчас</p>
        <span class="text-average">
            ${{ (wallet.transactions|sum(attribute='total_spent') - wallet.money_in_order)|round|int|number_group }} / ${{ wallet_cost_now|round|int|number_group }}
        </span>
    </div>
    <div class="col-auto">
        <p class="small_text">В ордереах</p>
        <span class="text-average">${{ wallet.money_in_order|round|int|number_group }}</span>
    </div>
    <div class="col-auto">
        <p class="small_text">Свободные средства</p>
        <span class="text-average">
            {% if (wallet.money_all - wallet.transactions|sum(attribute='total_spent')) < 0 %}
                -${{ (wallet.money_all - wallet.transactions|sum(attribute='total_spent'))|round|int|abs|number_group }}
            {% else %}
                ${{ (wallet.money_all - wallet.transactions|sum(attribute='total_spent'))|round|int|number_group }}
            {% endif %}
        </span>
    </div>
</div>
{% if wallet.transactions %}
    <div class="fixed-height-1">
    </div>
    <div class="big-table">
        <table class="table table-sm align-middle">
            <thead>
                <tr>
                    <th scope="col">Наименование</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Стоимость сейчас</th>
                    <th scope="col">В ордере</th>
                </tr>
            </thead>
            <tbody>
                {% for asset in assets_list %}
                    <tr>
                        <td class="text-average" >{{ assets_list[asset]['name'] }} <span class="text-muted">{{ assets_list[asset]['symbol']|upper }}</span></td>
                        <td>
                            <span class="text-average small_text">{{ assets_list[asset]['quantity']|smart_round|number_group }} {{ assets_list[asset]['symbol']|upper }}</span>
                        </td>
                        <td>${{ (assets_list[asset]['quantity'] * price_list[asset])|round|int|number_group }}</td>
                        <td>${{ assets_list[asset]['order']|round|int|number_group }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="p-5 mb-3">
        <p class="text-center lead">Пока ничего нет...</p>
    </div>
{% endif %}

{% endblock %}