{% if current_user.is_authenticated %}
  {% if not request.args.get('only_content') %}
    {% extends "base.html" %}
  {% endif %}
{% else %}
  {% extends "errors/base.html" %}
{% endif %}

{% block title %}Portfolios | {% trans %}Ошибка{% endtrans %}{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block content %}
  <div class="h-100 d-flex align-items-center">
    <div class="w-100">
      <h1 class="text-center">{% trans %}Метод не разрешен{% endtrans %}</h1>
      <p class="text-center lead">{% trans %}Ошибка 405{% endtrans %}</p>
    </div>
  </div>
{% endblock %}
