{# Jinja #}
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
  <link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <style>
    body {background-color: #f5f5f5;}
  </style>
</head>

<body class="d-flex align-items-center flex-column">
  <main class="m-auto">

    <a href="{{ url_for('page.index') }}" class="d-flex align-items-center mb-5 justify-content-center link-body-emphasis text-decoration-none">
      <img class="mb-0 me-2" src="{{ url_for('static', filename='favicon.png') }}" alt="" width="32" height="32" />
      <span class="fs-4">Portfolios</span>
    </a>

    {% block content %}{% endblock %}

  </main>
</body>

</html>
