html, body {
    height: 100%;
}
div#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
div#content {
    flex: 1 0 auto;
}
div#footer {
    flex: 0 0 auto;
}
.small_text {
    font-size: .875em;
    font-weight: 300;
    margin-bottom: 0;
}
.input-prefix {
    position: absolute;
    top: 7px;
    left: 8px;
    z-index: 6;
}
.input-prefix + .form-control {
    padding: 0.375rem 1.5rem;
}
.btn-group, .btn-group-vertical {
    padding: 5px;
}
.btn-outline-not_active {
    border: none;
    color: #212529;
}
.btn-group>.btn {
    border-radius: 0.375rem !important;
}
.btn-check:checked+.btn {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}
.modal-header {
    border: none;
}
.h7, h7 {
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.silver {
    background: rgb(239, 242, 245);
    border: none;
}
.position-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.text-green {
    color: #16c784;
}
.text-red {
    color: rgb(234, 57, 67);
}
.text-average {
    font-weight: 500;
}
.icon {
    color: rgb(124 124 124);
    margin-right: 5px;
}
.btn-delete {
    --bs-btn-color: #fff;
    --bs-btn-bg: #dc3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225,83,97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-border-color: #dc3545;
    border-bottom-left-radius: var(--bs-border-radius)!important;
}
.table {
    --bs-table-hover-bg: rgb(0 0 0 / 1%);
}
.table-order {
    --bs-table-bg: rgb(0 0 0 / 1%);
}
.cursor-pointer {cursor: pointer;}
.btn-warning {
    --bs-btn-color: #000;
    --bs-btn-bg: #ffca2c;
    --bs-btn-border-color: #ffca2c;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ffc107;
    --bs-btn-hover-border-color: #ffc107;
    --bs-btn-focus-shadow-rgb: 217,164,6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffcd39;
    --bs-btn-active-border-color: #ffc720;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #ffc107;
    --bs-btn-disabled-border-color: #ffc107;
}
.disabled {
    pointer-events: none
}
.hidden {
    display: none;
}
.dropdown-asset {
    right: 0;
    width: 320px;
    padding-top: 0px;
    max-height: 250px;
    overflow-y: auto;
}
.new-asset-link {
    position: absolute;
    top: 2px;
    right: 0;
}
.table-bordered>:not(caption)>*>* {
    border-width: 0;
}
thead > tr {
    border-style: none;
}
.img-asset-min {
    width: 24px;
    height: auto;
    vertical-align: bottom;
}
.img-asset {
    width: 40px;
    height: auto;
}
.items-count {
    transform: translate(-110%,-40%)!important;
    --bs-badge-font-size: 0.55em;
}
.none-cursor {
    cursor: default;
}

#myDropdown::-webkit-scrollbar {
  width: 5px;
  background-color: #f9f9fd;
}

#myDropdown::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #0d6efd;
}

#myDropdown::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: #f9f9fd;
}
.table-green {
    --bs-table-bg: #27d38326;
    }
.fixed-height-1, .fixed-table-toolbar {
    height: 70px;
}