{% extends "base.html" %}
{% block title %} Feedback / Admin {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block link %}
    <button onclick="document.location='{{ url_for('portfolios') }}'" type="button" class="btn btn-light btn-sm">Портфели</button>
    <button onclick="document.location='{{ url_for('wallets') }}'" type="button" class="btn btn-light btn-sm">Кошельки</button>
    <button onclick="document.location='{{ url_for('tracking_list') }}'" type="button" class="btn btn-light btn-sm">Список отслеживания</button>
    {% if current_user.type == 'admin' %}
        <button type="button" class="btn btn-light btn-sm" disabled>Админ</button>
    {% endif %}
{% endblock %}
{% block content %}
<div class="mb-5">
    <div class="row xs-mb-3">
        <div class="col-auto">
            <a class="fs-6 text-muted fw-semibold text-decoration-none m-2" href="{{ url_for('admin_index') }}">Главная</a>
            <a class="fs-6 text-muted fw-semibold text-decoration-none m-2" href="{{ url_for('admin_users') }}">Пользователи</a>
            <a class="fs-6 text-muted fw-semibold text-decoration-none m-2" href="{{ url_for('admin_tickers') }}">Тикеры</a>
            <span class="fs-6 text-muted fw-semibold m-2">Обратная связь</span>
            <a class="fs-6 text-muted fw-semibold text-decoration-none m-2" href="{{ url_for('admin_active_tasks') }}">Активные задачи</a>
        </div>
    </div>
</div>
<div class="big-table pt-3 pb-3">
    <table class="table table-sm align-middle">
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Сообщение</th>
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
            <tr>
                <td>{{ message.user.email }}</td>
                <td>{{ message.text }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}