{% extends "modal_base.html" %}
{% set modal_fullscreen = False %}

{% set modal_title = gettext('Добавить актив') %}

{% block content %}

<div id="AssetsGeneralBox" class="add-tickers-box">
  <div class="search">
    <input class="border rounded-3 w-100 mb-3 px-3 focus" placeholder="{% trans %}Поиск{% endtrans %}"></input>
  </div> 
  <div id="AssetsBox" class="overflow-y-auto">
    <div id="AssetsList" class="hover-child-color" data-page="1">
    </div> 
  </div> 
</div>

<script>
  var tickers_loading_started = false;
  var end_of_tickers = false;
  var UpdateTickersTimerId = 0;

  $('#AssetsGeneralBox .search input').on("input", function () {
    clearTimeout(UpdateTickersTimerId);
    UpdateTickersTimerId = setTimeout(function () {
      end_of_tickers = false;
      UpdateTickers('search', 1)
    }, 500);
  });


  function UpdateTickers(type, page) {
    if (tickers_loading_started) {
      return false;
    }

    tickers_loading_started = true;

    var $assetsList = $("#AssetsList");
      url = "{{ url_for('.stable_add_tickers') }}",
      search = $('#AssetsGeneralBox .search input').val();

    url += "?page=" + page;
    if (search) {
      url += "&search=" + search;
    }

    $.get(url, function (data) {
      if (data == 'end') {
        if (type == 'search') {
          $assetsList.html(trans.nothing_found);
        } else {
          end_of_tickers = true;
        }
      } else {
        if (type == 'search') {
          $assetsList.empty().append(data);
        } else {
          $assetsList.append(data);
        }
        $assetsList.attr('data-page', page);
      }

      tickers_loading_started = false;
    });

  }
  UpdateTickers('', 1);

 
$('#AssetsBox').scroll(function(){
  if (!end_of_tickers) {
	  var $assets_list = $('#AssetsList'),
	    $assets_box = $('#AssetsBox'),
	    threshold = $assets_box.height() / 4,
	    position = $assets_box.scrollTop();

	  if ($assets_list.height() - position - $assets_box.height() <= threshold) {
      UpdateTickers('pagination', +$assets_list.attr('data-page') + 1);
	  }
  }
});
	

$('#AssetsList').on("click", '.select-asset', function () {

  var ticker_id = "&ticker_id=" + $(this).data('ticker-id'),
    market = "&market=" + $(this).data('market'),
    url = "{{ url_for('.stable_add', wallet_id=wallet_id) }}" + ticker_id + market,
    $modal = $(this).closest('.modal'),
    pre_modal_id = $modal.attr('data-pre-modal-id');


  $.get(url).done(function (data) {
    if (data) {
      $modal.addClass('not-update').modal('hide');
      LoadToModal('WalletAssetInfoModal', data, true, pre_modal_id);
    } else {
      $modal.attr('data-pre-need-update', true).modal('hide');
    }
  })
});
</script>
{% endblock %}
