{% if not request.args.get('only_content') %}
  {% extends "modal_base.html" %}
  {% set modal_fullscreen = True %}
{% endif %}

{% block content %}
{% set ticker = asset.ticker %}

<div class="mb-5">
  <div class="row xs-mb-3">
    <div class="col-auto">
      <h1 class="fs-6 text-muted m-0">{{ ticker.name }} ({{ ticker.symbol|upper }})
        {% if ticker.market_cap_rank %}
          <span class="badge text-bg-light text-muted">#{{ ticker.market_cap_rank }}</span>
        {% endif %}
      </h1>

      <div class="hstack gap-2">
        {% if ticker.image %}
          <img class="img-asset" src="{{ url_for('static', filename='images/tickers/' + ticker.market + '/40/' + ticker.image) }}">
        {% endif %}
        <span class="fs-1 fw-semibold" id="AssetPrice">{{ asset.price|currency_price(round_per=0.1) }}</span>
      </div>
    </div>

    <div class="col-auto ms-auto">
      <button class="btn btn-primary open-modal focus" type="button" data-modal-id="TransactionModal"
        data-url="{{ url_for('portfolio.transaction_info', wallet_id=asset.wallet_id, ticker_id=ticker.id) }}">
        {% trans %}Добавить транзакцию{% endtrans %}
      </button>
      <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        {% trans %}Еще{% endtrans %}
      </button>
      <div class="dropdown-menu">
        <form id="AssetActions" action="{{ url_for('wallet.wallet_info', wallet_id=asset.wallet_id) }}">
          <button class="dropdown-item open-modal-confirmation" 
            type="button" data-form="#AssetActions"
            data-title="{% trans %}Пересчитать актив?{% endtrans %}"
            data-text="{% trans %}Все транзакции в этом активе будут пересчитаны{% endtrans %}"
            data-action="recalculate"
            data-id="{{ asset.id }}">
            {% trans %}Пересчитать актив{% endtrans %}
          </button>
          <button class="dropdown-item link-danger open-modal-confirmation" 
            type="button" data-form="#AssetActions"
            data-title="{% trans name=asset.ticker.name %}Удалить актив {{ name }}?{% endtrans %}"
            data-text="{% trans %}Все транзакции в этом активе будут удалены{% endtrans %}"
            data-action="delete" data-id="{{ asset.id }}" data-pre-need-clean="true">
            {% trans %}Удалить актив{% endtrans %}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% import 'macro_info.html' as i with context %}

{% if asset.transactions %}
  <div class="row mb-5 xs-mb-3">
    {{ i.top("Количество", asset.quantity|currency_quantity(currency=ticker.symbol)) }}
    {{ i.top("Стоимость сейчас", asset.cost_now|currency_price(round_to='usd')) }}
    {{ i.top("В ордерах на покупку", asset.buy_orders|currency_price(round_to='usd')) }}
    {{ i.top("В ордерах на продажу", asset.sell_orders|currency_quantity(round_to='usd', currency=ticker.symbol)) }}
    {{ i.top("Свободно", asset.free|currency_quantity(round_to='usd', currency=ticker.symbol)) }}
  </div>

  <div class="big-table pt-3 pb-3">
    <form id="WalletAssetTransactionsForm" action="{{ url_for('.asset_info', wallet_id=asset.wallet_id, asset_id=asset.id) }}">
      {% include 'transactions.html' %}
    </form>
  </div>
{% else %}
  {% include 'nothing.html' %}
{% endif %}

{% include 'flash_messages.html' %}

{% endblock %}
