<!-- Modal Cash Input-output-->
<div class="modal fade" id="inputoutCash" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-3">Ввод-вывод $</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{{ url_for('.wallet_in_out') }}">
          <div class="btn-group silver col-12 mb-3" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="type" value="Ввод" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-active btn-sm" for="btnradio1">Ввод</label>

            <input type="radio" class="btn-check" name="type" value="Вывод" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-not_active btn-sm" for="btnradio2">Вывод</label>

            <input type="button" class="btn-check" id="btnradio3" autocomplete="off" data-bs-toggle="modal"
              data-bs-target="#transferCash">
            <label class="btn btn-outline-not_active btn-sm" for="btnradio3">Перевод</label>
          </div>
          <div class="row g-2">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label h7">Сумма</label>
                <div class="input-group">
                  <span class="input-prefix">$</span>
                  <input type="number" step="any" class="form-control rounded-3 focus" placeholder="0,00"
                    name="transfer_amount" autocomplete="off" required>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label h7">Кошелек</label>
                <select class="ajax-select" name="wallet_id" data-url="{{ url_for('.get_all_user_wallets') }}"></select>
              </div>
            </div>
          </div>
          <button class="w-100 btn btn rounded-3 btn-primary" type="submit">Готово</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal Cash Transfer-->
<div class="modal fade" id="transferCash" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-3">Перевод $</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{{ url_for('.wallet_transfer') }}">
          <div class="btn-group silver col-12 mb-3" role="group">
            <input type="button" class="btn-check" id="btnradio5" autocomplete="off" data-bs-toggle="modal"
              data-bs-target="#inputoutCash">
            <label class="btn btn-outline-not_active btn-sm" for="btnradio5">Назад</label>

            <input type="radio" class="btn-check" name="type" value="Перевод" id="btnradio3" autocomplete="off" checked>
            <label class="btn btn-outline-not_active btn-sm" for="btnradio3">Перевод</label>
          </div>
          <div class="row g-2">
            <div class="col-md-12">
              <div class="mb-1">
                <label class="form-label h7">Сумма</label>
                <div class="input-group">
                  <span class="input-prefix">$</span>
                  <input type="number" step="any" class="form-control rounded-3 focus" placeholder="0,00"
                    name="transfer_amount" autocomplete="off" required>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label h7">Кошелек отправитель</label>
                <select class="ajax-select" name="wallet_out"
                  data-url="{{ url_for('.get_all_user_wallets') }}"></select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label h7">Кошелек получатель</label>
                <select class="ajax-select" name="wallet_in" data-url="{{ url_for('.get_all_user_wallets') }}"></select>
              </div>
            </div>
          </div>
          <button class="w-100 btn rounded-3 btn-primary" type="submit">Готово</button>
        </form>
      </div>
    </div>
  </div>
</div>
