{% extends "modal_base.html" %}
{% set modal_fullscreen = False %}

{% set modal_title = gettext('Изменить транзакцию') if transaction.id else gettext('Добавить транзакцию') %}


{% block content %}
  <form id="TransferForm" data-url="{{ url_for('.transaction_info', wallet_id=asset.wallet_id, ticker_id=asset.ticker_id, transaction_id=transaction.id) }}">
    <div class="btn-group silver mb-3 w-100">
      {% if transaction.type != 'TransferIn' %}
          <input type="radio" class="btn-check" name="type" value="TransferOut" id="btnradio1" checked>
          <label class="btn btn-outline-not_active btn-sm" for="btnradio1">{% trans %}Отправка{% endtrans %}</label>
      {% else %}
        <input type="radio" class="btn-check" name="type" value="TransferIn" id="btnradio1" checked>
        <label class="btn btn-outline-not_active btn-sm" for="btnradio1">{% trans %}Поступление{% endtrans %}</label>
      {% endif %}
    </div>


    <div class="col-md-12">
      <div class="mb-3">
        <label class="d-flex form-label h7">{% trans %}Количество{% endtrans %}
          <span class="small-text ms-auto out">
            <span class="{{ 'text-red' if not asset.free > 0 }}">Свободно: {{ asset.free|long_number }}</span>
            {% if asset.free > 0 %}
              <span class="ms-3 link-primary">
                <span class="paste-into-input" data-value="{{ (asset.free * 0.25)|long_number }}">25%</span>
                <span class="paste-into-input" data-value="{{ (asset.free * 0.5)|long_number }}">50%</span>
                <span class="paste-into-input" data-value="{{ (asset.free * 0.75)|long_number }}">75%</span>
                <span class="paste-into-input" data-value="{{ asset.free|long_number }}">100%</span>
              </span>
            {% endif %}
          </span>
        </label>
        <div class="input-group">
          <span class="input-group-text">{{ asset.ticker.symbol|upper }}</span> 
          <input type="number" step="any" min="0.000001" class="form-control focus" placeholder="0,00"
            name="quantity" autocomplete="off" required value="{{ transaction.quantity|abs if transaction.quantity }}">
        </div>
      </div>
    </div>

    <div class="col-md-12 wallet">
      <div class="mb-3">
        <label class="form-label h7">{% trans %}Второй кошелек{% endtrans %}</label>
        <select name="wallet_id" class="form-select" data-placeholder="-"
          data-url="{{ url_for('api.wallets_to_transfer_out', wallet_id=asset.wallet_id, ticker_id=asset.ticker_id) }}" required>
          {% if transaction.id %}
            {% if transaction.related_transaction %}
              <option selected value="{{ transaction.related_transaction.wallet_id }}">
              {{ transaction.related_transaction.wallet.name }}</option>
            {% else %}
              <option selected>{% trans %}Кошелек удален{% endtrans %}</option>
            {% endif %}
          {% endif %}
        </select>
      </div>
    </div>

    <div class="col-md-12">
      <div class="mb-3">
        <label class="form-label h7">{% trans %}Дата{% endtrans %}</label>
        <input class="form-control" name="date" type="datetime-local" value="{{ transaction.date|user_datetime(not_format=1) }}" required>
      </div>
    </div>

    <button class="btn btn-primary rounded-3 w-100" type="submit">{{ modal_title }}</button>
  </form>

{% endblock %}
