{% extends "modal_base.html" %}
{% set modal_fullscreen = False %}

{% set modal_title = gettext('Изменить транзакцию') if transaction.id else gettext('Добавить транзакцию') %}


{% block content %}
  <form id="TransferForm" data-url="{{ url_for('.transaction_info', wallet_id=asset.wallet_id, ticker_id=asset.ticker_id, transaction_id=transaction.id) }}">
    <div class="btn-group silver mb-3 w-100">
      {% if transaction.type != 'TransferIn' %}
        {% if asset.ticker.stable %}
          <input type="radio" class="btn-check" name="type" value="Input" id="btnradio1">
          <label class="btn btn-outline-active btn-sm" for="btnradio1">{% trans %}Ввод{% endtrans %}</label>

          <input type="radio" class="btn-check" name="type" value="Output" id="btnradio2">
          <label class="btn btn-outline-not_active btn-sm" for="btnradio2">{% trans %}Вывод{% endtrans %}</label>
        {% endif %}

          <input type="radio" class="btn-check" name="type" value="TransferOut" id="btnradio3">
          <label class="btn btn-outline-not_active btn-sm" for="btnradio3">{% trans %}Отправка{% endtrans %}</label>

      {% else %}
        <input type="radio" class="btn-check" name="type" value="TransferIn" id="btnradio4" checked>
        <label class="btn btn-outline-not_active btn-sm" for="btnradio4">{% trans %}Поступление{% endtrans %}</label>
      {% endif %}
    </div>


    <div class="col-md-12">
      <div class="mb-3">
        <label class="d-flex form-label h7">{% trans %}Количество{% endtrans %}
          <span class="small-text ms-auto out visually-hidden">
            <span class="{{ 'text-red' if not asset.free > 0 }}">Свободно: {{ asset.free|long_number }}</span>
            {% if asset.free > 0 %}
              <span class="ms-3 link-primary">
                <span class="paste-into-input" data-value="{{ (asset.free * 0.25)|long_number }}">25%</span>
                <span class="paste-into-input" data-value="{{ (asset.free * 0.5)|long_number }}">50%</span>
                <span class="paste-into-input" data-value="{{ (asset.free * 0.75)|long_number }}">75%</span>
                <span class="paste-into-input" data-value="{{ asset.free|long_number }}">100%</span>
              </span>
            {% endif %}
          </span>
        </label>
        <div class="input-group">
          <span class="input-group-text">{{ asset.ticker.symbol|upper }}</span> 
          <input type="number" step="any" min="0.000001" class="form-control focus" placeholder="0,00"
            name="quantity" autocomplete="off" required value="{{ transaction.quantity|abs if transaction.quantity }}">
        </div>
      </div>
    </div>

    <div class="col-md-12 wallet">
      <div class="mb-3">
        <label class="form-label h7">{% trans %}Второй кошелек{% endtrans %}</label>
        <select name="wallet_id" class="form-select" data-placeholder="-"
          data-url="{{ url_for('api.wallets_to_transfer_out', wallet_id=asset.wallet_id, ticker_id=asset.ticker_id) }}">
          {% if transaction.id %}
            {% if transaction.related_transaction %}
              <option selected value="{{ transaction.related_transaction.wallet_id }}">
              {{ transaction.related_transaction.wallet.name }}</option>
            {% else %}
              <option selected>{% trans %}Кошелек удален{% endtrans %}</option>
            {% endif %}
          {% endif %}
        </select>
      </div>
    </div>

    <div class="col-md-12">
      <div class="mb-3">
        <label class="form-label h7">{% trans %}Дата{% endtrans %}</label>
        <input class="form-control" name="date" type="datetime-local" value="{{ transaction.date|user_datetime(not_format=1) }}" required>
      </div>
    </div>

    <button class="btn btn-primary rounded-3 w-100" type="submit">{{ modal_title }}</button>
  </form>

  <script>
  $('#TransferForm').on('change', 'input[name=type]', function () {
    var $form = $(this).closest('form'),
      type = $(this).val(),
      asset_free = +{{ asset.free|long_number }};

    console.log(type)
    if ('TransferOut'.includes(type)) {
      $form.find('.wallet').slideDown(500).find('select').attr('required', true);
    } else {
      $form.find('.wallet').slideUp(500).find('select').attr('required', false);
    }

    if (type.includes('Out')) {
      $form.find('.in').addClass('visually-hidden');
      $form.find('.out').removeClass('visually-hidden');
      $form.find('input[name=quantity]').attr('max', asset_free);
      if (asset_free <= 0) {
        $form.find('input[name=quantity]').attr('disabled', true);
        $form.find('[type=submit]').addClass('disabled');
      }
    } else {
      $form.find('.out').addClass('visually-hidden');
      $form.find('.in').removeClass('visually-hidden');
      $form.find('input[name=quantity]').removeAttr('max');
      $form.find('input[name=quantity]').attr('disabled', false);
      $form.find('[type=submit]').removeClass('disabled');
    }

    $form.find('.focus').focus();

  })

  // Start
  $('#TransferForm').find("input[value={{ transaction.type }}]").trigger('click');
  </script>
{% endblock %}
