{% if not request.args.get('only_content') %}
  {% extends "modal_base.html" %}
  {% set modal_fullscreen = True %}
{% endif %}

{% block content %}

<div class="mb-5">
  <div class="row xs-mb-3">
    <div class="col-auto">
      <h1>{{ wallet.name }}</h1>
    </div>

    <div class="col-auto ms-auto">
      <button class="btn btn-primary open-modal" type="button" data-modal-id="StableModal"
        data-url="{{ url_for('.stable_add_modal', wallet_id=wallet.id) }}">
        {% trans %}Добавить{% endtrans %}
      </button>
      <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        {% trans %}Еще{% endtrans %}
      </button>
      <div class="dropdown-menu">
        <button class="dropdown-item open-modal" type="button" data-modal-id="WalletSettingsModal"
          data-url="{{ url_for('.wallet_settings', wallet_id=wallet.id) }}">
          {% trans %}Изменить кошелек{% endtrans %}
        </button>
        <form id="WalletActions" action="{{ url_for('.wallets_action') }}">
          <button class="dropdown-item link-danger open-modal-confirmation" 
            type="button" data-form="#WalletActions" data-pre-need-clean="true"
            {% if wallet.is_empty() %}
              data-title="{% trans name=wallet.name %}Удалить кошелек {{ name }}?{% endtrans %}"
              data-action="delete"
            {% else %}
              data-title="{% trans name=wallet.name %}Удалить кошелек {{ name }} с содержимым?{% endtrans %}"
              data-text="{% trans %}Все транзакции, связанные с этим кошельком, будут удалены{% endtrans %}"
              data-action="delete_with_contents"
            {% endif %}
            data-id="{{ wallet.id }}">
            {% trans %}Удалить кошелек{% endtrans %}
          </button>
        </form>
      </div>

    </div>
  </div>
</div>

{% import 'macro_info.html' as i with context %}

<div class="row mb-5 xs-mb-3">
  {{ i.top("Стоимость сейчас", wallet.cost_now|currency_price(round_to='usd')) }}
  {{ i.top("В ордерах", wallet.in_orders|currency_price(round_to='usd')) }}
  {{ i.top("Свободные средства", wallet.free|currency_price(round_to='usd')) }}
</div>

<nav>
  <div class="nav nav-tabs mb-1">
    <button class="nav-link link-dark active" data-bs-toggle="tab" data-bs-target="#nav-asset" type="button">
      {% trans %}Активы{% endtrans %}
    </button>
    <button class="nav-link link-dark" data-bs-toggle="tab" data-bs-target="#nav-transactions" type="button">
      {% trans %}Стабильные активы{% endtrans %}
    </button>
  </div>
</nav>


<div class="tab-content">
  <div class="tab-pane fade active show" id="nav-asset">
    {% if wallet.assets %}
      <div class="big-table">
        <form id="WalletAssets" action="{{ url_for('wallet.assets_action', wallet_id=wallet.id) }}">
          {% set tab_name = 'wallet_assets' %}
          {% set sort_name = session[tab_name].get('field') if session.get(tab_name) and session[tab_name].get('field') else 'cost_now' %}
          {% set sort_order = session[tab_name].get('sort_order') if session.get(tab_name) and session[tab_name].get('sort_order') else 'desc' %}
          <table class="table table-sm align-middle bootstrap-table" data-name="{{ tab_name }}"
            data-search="true" data-sort-name="{{ sort_name }}" data-sort-order="{{ sort_order }}"
            data-sort-url="{{ url_for('portfolio.change_table_sort') }}">
            <thead>
              <tr>
                <th class="main-tab-checkbox">
                  <input class="form-check-input check-all" type="checkbox">
                </th>
                <th data-sortable="true" data-field="name">{% trans %}Название{% endtrans %}</th>
                <th data-sortable="true" data-field="cost_now" data-sort-name="_cost_now">{% trans %}Стоимость сейчас{% endtrans %}</th>
                <th>{% trans %}Активы{% endtrans %}</th>
                <th data-sortable="true" data-field="in_orders_sell" data-sort-name="_in_orders_sell">{% trans %}В ордерах на продажу{% endtrans %}</th>
                <th data-sortable="true" data-field="in_orders_buy" data-sort-name="_in_orders_buy">{% trans %}В ордерах на покупку{% endtrans %}</th>
                <th></th>

                <!-- For sorting -->
                <th class="visually-hidden" data-field="_cost_now"></th>
                <th class="visually-hidden" data-field="_in_orders_buy"></th>
                <th class="visually-hidden" data-field="_in_orders_sell"></th>
              </tr>
            </thead>
            <tbody>
              {% for asset in wallet.assets %}
                {% set ticker = asset.ticker %}
                <tr>
                  <td>
                    <input class="form-check-input to-check" type="checkbox" value="{{ asset.ticker_id }}">
                  </td>

                  <td class="text-average">
                    <div class="open-modal d-flex gap-2 name" data-modal-id="WalletAssetInfoModal"
                      data-url="{{ url_for('wallet.asset_info', wallet_id=wallet.id, ticker_id=ticker.id) }}">

                      {% if ticker.image %}
                        <img class="img-asset-min" src="{{ url_for('static', filename='images/tickers/' + ticker.market + '/24/' + ticker.image) }}">
                      {% else %}
                        <span class="img-asset-min bg-secondary-subtle"></span>
                      {% endif %}
                      <span class="text-truncate" title="{{ ticker.name }}">{{ ticker.name }}</span>
                      <span class="text-muted">{{ ticker.symbol|upper }}</span>
                    </div>
                  </td>

                  <td>{{ asset.cost_now|currency_price(round_to='usd', default='-') }}</td>
                  <td>{{ asset.quantity|currency_quantity(round_to=ticker.price, currency=ticker.symbol, default='-') }}</td>
                  <td>{{ asset.sell_orders|currency_quantity(round_to='usd', currency=ticker.symbol, default='-') }}</td>
                  <td>{{ asset.buy_orders|currency_price(round_to='usd', default='-') }}</td>

                  <td class="align-middle text-end">
                    <div class="d-flex justify-content-end">
                      <div class="dropdown dropstart">
                        <a href="#" class="link-secondary" role="button" id="dropdownAction"
                          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ms-2" viewBox="0 0 16 16"><path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/></svg>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownAction">
                          <a class="dropdown-item open-modal" data-modal-id="WalletInOutferModal"
                            data-url="{{ url_for('.transaction_info', wallet_id=wallet.id, ticker_id=ticker.id) }}">
                            {% trans %}Отправить{% endtrans %}
                          </a>
                          <a class="dropdown-item link-danger open-modal-confirmation"
                            {% if asset.is_empty() %}
                              data-title="{% trans name=asset.ticker.name %}Удалить актив {{ name }}?{% endtrans %}"
                              data-action="delete"
                            {% else %}
                              data-title="{% trans name=asset.ticker.name %}Удалить актив {{ name }} с содержимым?{% endtrans %}"
                              data-text="{% trans %}Все транзакции в этом активе будут удалены{% endtrans %}"
                              data-action="delete_with_contents"
                            {% endif %}
                            data-id="{{ asset.id }}">
                            {% trans %}Удалить актив{% endtrans %}
                          </a>
                        </div>
                      </div>
                    </div>
                  </td>

                  <!-- For sorting -->
                  <td class="visually-hidden">{{ asset.cost_now }}</td>
                  <td class="visually-hidden">{{ asset.sell_orders }}</td>
                  <td class="visually-hidden">{{ asset.buy_orders }}</td>

                </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- Actions buttons -->
          <div class="sticky-bottom-buttons">
            <a class="open-modal-confirmation" data-action="delete"
              data-title="{% trans %}Удалить активы?{% endtrans %}"
              data-text="{% trans %}Будут удалены только пустые активы{% endtrans %}">
              {% trans %}Удалить{% endtrans %}</a>
            <a class="open-modal-confirmation" data-action="delete_with_contents"
              data-title="{% trans %}Удалить активы с содержимым?{% endtrans %}"
              data-text="{% trans %}Все транзакции в этих активах будут удалены{% endtrans %}">
              {% trans %}Удалить с содержимым{% endtrans %}</a>
          </div>
        </form>
      </div>
    {% else %}
      {% include 'nothing.html' %}
    {% endif %}
  </div>

  <div class="tab-pane fade" id="nav-transactions" role="tabpanel" aria-labelledby="nav-transactions-tab">
    {% if wallet.stable_assets %}
      <div class="big-table pb-3">
        <form id="WalletStableAssets" action="{{ url_for('wallet.assets_action', wallet_id=wallet.id) }}">
          {% set tab_name = 'wallet_stable_assets' %}
          {% set sort_name = session[tab_name].get('field') if session.get(tab_name) and session[tab_name].get('field') else 'free' %}
          {% set sort_order = session[tab_name].get('sort_order') if session.get(tab_name) and session[tab_name].get('sort_order') else 'desc' %}
          <table class="table table-sm align-middle bootstrap-table" data-name="{{ tab_name }}"
            data-search="true" data-sort-name="{{ sort_name }}" data-sort-order="{{ sort_order }}"
            data-sort-url="{{ url_for('portfolio.change_table_sort') }}">
            <thead>
              <tr>
                <th class="main-tab-checkbox">
                  <input class="form-check-input check-all" type="checkbox">
                </th>
                <th data-sortable="true" data-field="name">{% trans %}Название{% endtrans %}</th>
                <th data-sortable="true" data-field="free" data-sort-name="_free">{% trans %}Свободно{% endtrans %}</th>
                <th data-sortable="true" data-field="in_orders" data-sort-name="_in_orders">{% trans %}В ордерах{% endtrans %}</th>
                <th></th>

                <!-- For sorting -->
                <th class="visually-hidden" data-field="_free"></th>
                <th class="visually-hidden" data-field="_in_orders"></th>
              </tr>
            </thead>
            <tbody>
              {% for asset in wallet.stable_assets %}
                {% set ticker = asset.ticker %}
                <tr>
                  <td>
                    <input class="form-check-input to-check" type="checkbox" value="{{ asset.ticker_id }}">
                  </td>

                  <td class="text-average">
                    <div class="open-modal d-flex gap-2 name" data-modal-id="WalletAssetInfoModal"
                      data-url="{{ url_for('wallet.asset_info', wallet_id=wallet.id, ticker_id=ticker.id) }}">

                      {% if ticker.image %}
                        <img class="img-asset-min" src="{{ url_for('static', filename='images/tickers/' + ticker.market + '/24/' + ticker.image) }}">
                      {% else %}
                        <span class="img-asset-min bg-secondary-subtle"></span>
                      {% endif %}
                      <span class="text-truncate" title="{{ ticker.name }}">{{ ticker.name }}</span>
                      <span class="text-muted">{{ ticker.symbol|upper }}</span>
                    </div>
                  </td>

                  <td>{{ asset.free|currency_price(round_to='usd', currency=ticker.symbol, default='-') }}</td>
                  <td>{{ asset.buy_orders|currency_price(round_to='usd', currency=ticker.symbol, default='-') }}</td>

                  <td class="align-middle text-end">
                    <div class="d-flex justify-content-end">
                      <div class="dropdown dropstart">
                        <a href="#" class="link-secondary" role="button" id="dropdownAction"
                          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ms-2" viewBox="0 0 16 16"><path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/></svg>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownAction">
                          <a class="dropdown-item open-modal" data-modal-id="WalletInOutferModal"
                            data-url="{{ url_for('.transaction_info', wallet_id=wallet.id, ticker_id=ticker.id) }}">
                            {% trans %}Добавить транзакцию{% endtrans %}
                          </a>
                        </div>
                      </div>
                    </div>
                  </td>

                  <!-- For sorting -->
                  <td class="visually-hidden">{{ asset.free }}</td>
                  <td class="visually-hidden">{{ asset.in_orders }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- Actions buttons -->
          <div class="sticky-bottom-buttons">
            <a class="open-modal-confirmation" data-action="delete"
              data-title="{% trans %}Удалить активы?{% endtrans %}"
              data-text="{% trans %}Будут удалены только пустые активы{% endtrans %}">
              {% trans %}Удалить{% endtrans %}</a>
            <a class="open-modal-confirmation" data-action="delete_with_contents"
              data-title="{% trans %}Удалить активы с содержимым?{% endtrans %}"
              data-text="{% trans %}Все транзакции в этих активах будут удалены{% endtrans %}">
              {% trans %}Удалить с содержимым{% endtrans %}</a>
          </div>
        </form>
      </div>
    {% else %}
      {% include 'nothing.html' %}
    {% endif %}
  </div>
</div>

{{ i.comment(url_for('.wallet_settings_update', wallet_id=wallet.id), wallet.comment) }}

{% endblock %}
