{% if not request.args.get('only_content') %}
  {% extends "modal_base.html" %}
  {% set modal_fullscreen = True %}
{% endif %}

{% block content %}

<div class="mb-5">
  <div class="row xs-mb-3">
    <div class="col-auto">
      <h1>{{ wallet.name }}</h1>
    </div>
    <div class="col-auto ms-auto">
      <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        {% trans %}More{% endtrans %}
      </button>
      <div class="dropdown-menu">
        <button class="dropdown-item open-modal" type="button" data-modal-id="WalletSettingsModal"
          data-url="{{ url_for('.wallet_settings', wallet_id=wallet.id) }}">
          {% trans %}Edit wallet{% endtrans %}
        </button>
        <form id="WalletActions" action="{{ url_for('.wallets_action') }}">
          <button class="dropdown-item link-danger open-modal-confirmation" 
            type="button" data-form="#WalletActions" data-pre-need-clean="true"
            {% if wallet.is_empty %}
              data-title="{% trans name=wallet.name %}Remove wallet {{ name }}?{% endtrans %}"
              data-action="delete"
            {% else %}
              data-title="{% trans name=wallet.name %}Remove wallet {{ name }} with contents?{% endtrans %}"
              data-text="{% trans %}All transactions associated with this wallet will be removed{% endtrans %}"
              data-action="delete_with_contents"
            {% endif %}
            data-id="{{ wallet.id }}">
            {% trans %}Remove wallet{% endtrans %}
          </button>
        </form>
      </div>

    </div>
  </div>
</div>

<div class="row xs-mb-3">
  <div class="col-auto">
    <p class="small-text">{% trans %}Total spent{% endtrans %} / {% trans %}Cost now{% endtrans %}</p>
    <span class="text-average">${{ wallet.total_spent|number_group }} /
      <span class="{{ wallet.color }}">${{ wallet.cost_now|number_group }}</span>
    </span>
  </div>

  <div class="col-auto">
    <p class="small-text">{% trans %}Money in orders{% endtrans %}</p>
    <span class="text-average">${{ wallet.in_orders|number_group }}</span>
  </div>

  <div class="col-auto">
    <p class="small-text">{% trans %}Free money{% endtrans %}</p>
    <span class="text-average">
      {{ '-' if wallet.free_money < 0 }}${{ wallet.free_money|abs|number_group }}</span>
  </div>
</div>

{% if wallet.transactions %}
  <div class="big-table">
    <table class="table table-sm align-middle bootstrap-table" data-search="true">
      <thead>
        <tr>
          <th data-sortable="true">{% trans %}Name{% endtrans %}</th>
          <th>{% trans %}Holdings{% endtrans %}</th>
          <th data-sortable="true" data-sort-name="total_spent">{% trans %}Total spent{% endtrans %}</th>
          <th data-sortable="true" data-sort-name="cost_now">{% trans %}Cost now{% endtrans %}</th>
          <th data-sortable="true" data-sort-name="in_orders">{% trans %}Money in orders{% endtrans %}</th>

          <!-- For sorting -->
          <th class="visually-hidden" data-sortable="true" data-field="total_spent">Total spent</th>
          <th class="visually-hidden" data-sortable="true" data-field="cost_now">Cost now</th>
          <th class="visually-hidden" data-sortable="true" data-field="in_orders"> Money in orders</th>
        </tr>
      </thead>
      <tbody>
        {% for ticker in wallet.tickers %}
          <tr>
            <td class="text-average">
              <div class="d-flex gap-2 name">

                {% if ticker.image %}
                  <img class="img-asset-min" src="{{ url_for('static', filename='images/tickers/' + ticker.market_id + '/24/' + ticker.image) }}">
                {% else %}
                  <span class="img-asset-min bg-secondary-subtle"></span>
                {% endif %}
                <span class="text-truncate" title="{{ ticker.name }}">{{ ticker.name }}</span>
                <span class="text-muted">{{ ticker.symbol|upper }}</span>
              </div>
            </td>

            <td>
              <span class="text-average small-text">
                {{ ticker.quantity|smart_round|number_group }}
                {{ ticker.symbol|upper }}
              </span>
            </td>

            <td>${{ ticker.total_spent|int|number_group }}</td>

            <td>${{ ticker.cost_now|int|number_group }}</td>

            <td>${{ ticker.in_orders|int|number_group }}</td>

            <!-- For sorting -->
            <td class="visually-hidden">{{ ticker.total_spent }}</td>
            <td class="visually-hidden">{{ ticker.cost_now }}</td>
            <td class="visually-hidden">{{ ticker.in_orders }}</td>
 
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <div class="nothing-box">{% trans %}There's nothing yet...{% endtrans %}</div>
{% endif %}

<div class="convert-text" data-convert-to="textarea" data-name="comment" data-placeholder="{{ gettext('Add comment') }}"
  data-url="{{ url_for('.wallet_settings_update', wallet_id=wallet.id) }}">
  <span class="convert-data">{{ wallet.comment if wallet.comment }}</span>
</div>

{% endblock %}
