{% set only_content = request.args.get('only_content') %}
{% set modal = request.args.get('modal') %}

{% if not only_content %}
  {% if modal %}
    {% extends "modal_base.html" %}
    {% set modal_fullscreen = True %}
  {% else %}
    {% extends "base.html" %}
    {% block title %}{% trans %}Wallets{% endtrans %}{% endblock %}
  {% endif %}
{% endif %}

{% block content %}
<div class="mb-5">
  <div class="row xs-mb-3">
    <div class="col-auto">
      <h1>{% trans %}Wallets{% endtrans %}</h1>
    </div>
    <div class="col-auto ms-auto">
      <button class="btn btn-primary open-modal" type="button" data-modal-id="WalletSettingsModal" data-url="{{ url_for('.wallet_settings') }}">
        {% trans %}Add wallet{% endtrans %}
      </button>

	    <button type="button" class="btn btn-warning" role="button" id="dropdownAction" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% trans %}Transfer{% endtrans %}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownAction">
        <button class="dropdown-item open-modal" type="button" data-modal-id="WalletInputOutCashModal" data-url="{{ url_for('.wallet_in_out_get') }}">
          {% trans %}Input/output{% endtrans %}
        </button>
        <button class="dropdown-item open-modal" type="button" data-modal-id="WalletTransferCashModal" data-url="{{ url_for('.wallet_transfer_get') }}">
          {% trans %}Transfer{% endtrans %}
        </button>
      </div>

    </div>
  </div>
  {% include 'flash_messages.html' %}
</div>

<div class="row xs-mb-3">

  <div class="col-auto">
    <p class="small-text">{% trans %}Total spent{% endtrans %} / {% trans %}Cost now{% endtrans %}</p>
    <span class="text-average">
      ${{ all.total_spent|int|number_group }} / 
      <span class="{{ 'text-green' if all.profit|int > 0 }} {{ 'text-red' if all.profit|int < 0 }}">
        ${{ all.cost_now|int|number_group }}
      </span>
    </span>
  </div>

  <div class="col-auto">
    <p class="small-text">{% trans %}Money in orders{% endtrans %}</p>
    <span class="text-average">
      ${{ all.in_orders|int|number_group }}
    </span>
  </div>

  <div class="col-auto">
    <p class="small-text">{% trans %}Free money{% endtrans %}</p>
      <span class="text-average {{ 'text-green' if all.free|int > 0 }} {{ 'text-red' if all.free|int < 0 }}">
        {{ '-' if all.free|int < 0 }}${{ all.free|int|abs|number_group }}
      </span>
  </div>
</div>

<div class="big-table">
  <form id="WalletsForm" action="{{ url_for('.wallets_action') }}">
    <table class="table table-sm align-middle table-hover bootstrap-table" data-search="true">
      <thead>
        <tr>
          <th class="main-tab-checkbox">
            <input class="form-check-input check-all" type="checkbox">
          </th>
          <th data-sortable="true">{% trans %}Name{% endtrans %}</th>
          <th data-sortable="true" data-sort-name="total_spent">{% trans %}Total spent{% endtrans %}</th>
          <th data-sortable="true" data-sort-name="cost_now">{% trans %}Cost now{% endtrans %}</th>
          <th data-sortable="true" data-sort-name="in_orders">{% trans %}Money in orders{% endtrans %}</th>
          <th data-sortable="true" data-sort-name="free">{% trans %}Free money{% endtrans %}</th>
          <th></th>

          <!-- For sorting -->
          <th class="visually-hidden" data-sortable="true" data-field="total_spent">Total spent</th>
          <th class="visually-hidden" data-sortable="true" data-field="cost_now">Cost now</th>
          <th class="visually-hidden" data-sortable="true" data-field="in_orders">Money in orders</th>
          <th class="visually-hidden" data-sortable="true" data-field="free">Free money</th>
        </tr>
      </thead>
      <tbody>
        {% for id in wallets %}
          {% set wallet = wallets[id] %}
          <tr>
            <td>
              <input class="form-check-input to-check" type="checkbox" value="{{ id }}">
            </td>

            <td class="text-average">
              <div class="open-modal" data-modal-id="WalletInfoModal" data-url="{{ url_for('.wallet_info', wallet_id=id) }}">
                {{ wallet.name }}
              </div>
            </td>

            <td>{{ '$' + wallet.total_spent|int|number_group if wallet.total_spent else '-' }}</td>

            <td>{{ '$' + wallet.cost_now|int|number_group if wallet.cost_now else '-' }}</td>

            <td>{{ '$' + wallet.in_orders|int|number_group if wallet.in_orders else '-' }}</td>

            <td>
              {% if not (wallet.free == 0 and wallet.total_spent == 0) %}
                {{ '-' if wallet.free < 0 }}${{ wallet.free|int|abs|number_group }}
              {% else %}
                -
              {% endif %}
            </td>

            <td class="align-middle text-end">
              <div class="dropdown dropstart">
                <a href="#" class="link-secondary" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ms-2" viewBox="0 0 16 16"><path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/></svg>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item open-modal" data-modal-id="WalletSettingsModal" data-url="{{ url_for('.wallet_settings', wallet_id=id) }}">
                    {% trans %}Change{% endtrans %}
                  </a>
                  <a class="dropdown-item link-danger {{ 'open-modal-confirmation' if wallet.can_delete else 'opacity-50 disabled' }}" data-title="{% trans name=wallet.name %}Delete wallet {{ name }}?{% endtrans %}"
                    data-id="{{ id }}">
                    {% trans %}Delete{% endtrans %}
                  </a>
                </div>
              </div>
            </td>

            <!-- For sorting -->
            <td class="visually-hidden">{{ wallet.total_spent }}</td>
            <td class="visually-hidden">{{ wallet.cost_now }}</td>
            <td class="visually-hidden">{{ wallet.in_orders }}</td>
            <td class="visually-hidden">{{ wallet.free }}</td>

          </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Actions buttons -->
    <div class="sticky-bottom-buttons">
      <a class="open-modal-confirmation" data-action="delete"
        data-title="{% trans %}Delete wallets?{% endtrans %}">{% trans %}Delete{% endtrans %}</a>
      <a class="open-modal-confirmation" data-action="delete_all"
        data-title="{% trans %}Delete wallets with contents?{% endtrans %}">{% trans %}Delete with contents{% endtrans %}</a>
    </div>

  </form>
</div>
  
{% endblock %}
