{% extends "modal_base.html" %}
{% set modal_fullscreen = False %}
{% set modal_title = 'Изменить кошелек' if wallet else 'Добавить кошелек' %}

{% block content %}
<form data-url="{{ url_for('.wallet_update', wallet_id=wallet.id if wallet) }}">
  <div class="row g-2">
    <div class="col-md-6">
      <div class="mb-3">
        <label class="form-label h7">Название</label>
        <input type="text" class="form-control rounded-3 focus" name="name" value="{{ wallet.name if wallet }}" autocomplete="off" required>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label class="form-label h7">Баланс</label>
        <div class="input-group">
          <span class="input-prefix">$</span>
          <input type="number" step="any" class="form-control rounded-3" placeholder="0,00" name="money_all"
            value="{{ wallet.money_all if wallet.money_all }}" autocomplete="off">
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary rounded-3 w-100" type="submit">{{ modal_title }}</button>
</form>
{% endblock %}
